In [61]:
import pandas as pd
import numpy as np
import re

In [62]:
mn_or_bk = 'mn' #bk or mn
year = '1850'
#doubttype = 'not so confident' #doubt or not so confident
#doubttype = 'not so confident' #doubt or not so confident

In [63]:
#df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/after cleaning/' + mn_or_bk + '_' + year + '_after_cleaning_' + doubttype + '4.csv')

df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/after cleaning/bk-1850-3-s-combine-clean.csv')

In [64]:

df.columns = ['index', 'Full Address', 'H House Number','H Street Name', 
              'c_street1', 'c_street2', 'n_street1', 'n_street2', 'H City',
              'H Address', 'Address 2', 'Address 2 House Number', 'Address 2 Street Name',
              'Address 2 City'
             ]

"""
df.columns = ['index', 'Full Address', 'H House Number', 
              'H Street Name', 'c_street1', 'c_street2', 'n_street1', 'n_street2', 
              'new h city', 'new h house number', 'new h street name', 'unidentified h info']

df.columns = ['index', 'n_street1', 'n_street2','c_street1', 'c_street2', 'Full Address', 
              'H House Number', 
              'H Street Name', 
              'new h house number', 'new h street name','new h city', 'unidentified h info']
"""

"\ndf.columns = ['index', 'Full Address', 'H House Number', \n              'H Street Name', 'c_street1', 'c_street2', 'n_street1', 'n_street2', \n              'new h city', 'new h house number', 'new h street name', 'unidentified h info']\n\ndf.columns = ['index', 'n_street1', 'n_street2','c_street1', 'c_street2', 'Full Address', \n              'H House Number', \n              'H Street Name', \n              'new h house number', 'new h street name','new h city', 'unidentified h info']\n"

In [65]:
df = df.drop(['index'], axis=1)

In [66]:
#df.loc[pd.isna(df['H House Number']) == True and pd.isna(df['Address 2']) == False]

In [67]:
df.head(100)

,Full Address,H House Number,H Street Name,c_street1,c_street2,n_street1,n_street2,H City,H Address,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City
0,168 HUDSON AVE,168.0,HUDSON AVE,NaN,NaN,NaN,NaN,NaN,168 HUDSON AVE,NaN,NaN,NaN,NaN
1,MASON N DEAN VANDERBILT AVE,NaN,NaN,NaN,NaN,MASON DEAN,VANDERBILT AVE,MASON N DEAN VANDERBILT AVE,MASON N DEAN VANDERBILT AVE,NaN,NaN,NaN,NaN
2,82 POPLAR,82.0,POPLAR,NaN,NaN,NaN,NaN,NaN,82 POPLAR,NaN,NaN,NaN,NaN
3,EDUCATION OF,NaN,NaN,NaN,NaN,NaN,NaN,EDUCATION OF,EDUCATION OF,NaN,NaN,NaN,NaN
4,N MERCHANT Â¥ H N UNION CT,NaN,NaN,NaN,NaN,UNION,CT,N MERCHANT Â¥ H N UNION CT,N MERCHANT Â¥ H N UNION CT,NaN,NaN,NaN,NaN
5,N PACIFIC BOERUM,NaN,NaN,NaN,NaN,PACIFIC,BOERUM,N PACIFIC BOERUM,N PACIFIC BOERUM,NaN,NaN,NaN,NaN
6,25 FRONT . [CT,25.0,FRONT . [CT,NaN,NaN,NaN,NaN,NaN,25 FRONT . [CT,NaN,NaN,NaN,NaN
7,141 N FRONT Â¥ H JOYALEMONN,141.0,N FRONT Â¥ H JOYALEMONN,NaN,NaN,NaN,NaN,NaN,141 N FRONT Â¥ H JOYALEMONN,NaN,NaN,NaN,NaN
8,KENT ALY NORTH,NaN,NaN,NaN,NaN,NaN,NaN,KENT ALY NORTH,KENT ALY NORTH,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,LABORER BOND,STATE / [HOYT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2954 N PEARL YH 262 N ATLANTIC,2954.0,N PEARL YH 262 N ATLANTIC,NaN,NaN,2954 N PEARL YH 262 ATLANTIC,NaN,NaN,2954 N PEARL YH 262 N ATLANTIC,NaN,NaN,NaN,NaN
11,74 CONCORD,74.0,CONCORD,NaN,NaN,NaN,NaN,NaN,74 CONCORD,NaN,NaN,NaN,NaN
12,MYRTLE C JAY H 115 JOHNSON,NaN,NaN,NaN,NaN,NaN,NaN,MYRTLE C JAY H 115 JOHNSON,MYRTLE C JAY H 115 JOHNSON,NaN,NaN,NaN,NaN
13,261 MARSHALL,261.0,MARSHALL,NaN,NaN,NaN,NaN,NaN,261 MARSHALL,NaN,NaN,NaN,NaN
14,301 GOLD,301.0,GOLD,NaN,NaN,NaN,NaN,NaN,301 GOLD,NaN,NaN,NaN,NaN
15,23 PRINCE,23.0,PRINCE,NaN,NaN,NaN,NaN,NaN,23 PRINCE,NaN,NaN,NaN,NaN
16,288 HUDSON AVE,288.0,HUDSON AVE,NaN,NaN,NaN,NaN,NaN,288 HUDSON AVE,NaN,NaN,NaN,NaN
17,SHOEMAKER NAVY Â¢ SANDS 4,NaN,NaN,NaN,NaN,NaN,NaN,SHOEMAKER NAVY Â¢ SANDS 4,SHOEMAKER NAVY Â¢ SANDS 4,NaN,NaN,NaN,NaN
18,116 CONCORD,116.0,CONCORD,NaN,NaN,NaN,NaN,NaN,116 CONCORD,NaN,NaN,NaN,NaN
19,YÂ¥ H 180 HENRY .,NaN,NaN,NaN,NaN,NaN,NaN,YÂ¥ H 180 HENRY .,YÂ¥ H 180 HENRY .,NaN,NaN,NaN,NaN
20,5 YORK I,5.0,YORK I,NaN,NaN,NaN,NaN,NaN,5 YORK I,NaN,NaN,NaN,NaN
21,3 KELSEYS ALY,3.0,KELSEYS ALY,NaN,NaN,NaN,NaN,NaN,3 KELSEYS ALY,NaN,NaN,NaN,NaN
22,EDUCATION OF BOYS 75 COLUMBIA,NaN,NaN,NaN,NaN,NaN,NaN,EDUCATION OF BOYS 75 COLUMBIA,EDUCATION OF BOYS 75 COLUMBIA,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,73 N WILLIAM YH 43 CRANBERRY,73.0,N WILLIAM YH 43 CRANBERRY,NaN,NaN,NaN,NaN,NaN,73 N WILLIAM YH 43 CRANBERRY,NaN,NaN,NaN,NaN
25,15 N CORTLANDT YH 59 HOYT,15.0,N CORTLANDT YH 59 HOYT,NaN,NaN,NaN,NaN,NaN,15 N CORTLANDT YH 59 HOYT,NaN,NaN,NaN,NaN
26,72 COLUMBIA,72.0,COLUMBIA,NaN,NaN,NaN,NaN,NaN,72 COLUMBIA,NaN,NaN,NaN,NaN
27,23 MYRTLE AVE Â¢ PEARL H34,23.0,MYRTLE AVE Â¢ PEARL H34,NaN,NaN,NaN,NaN,NaN,23 MYRTLE AVE Â¢ PEARL H34,NaN,NaN,NaN,NaN
28,N Y H 266 DAY,NaN,NaN,NaN,NaN,NaN,NaN,N Y H 266 DAY,N Y H 266 DAY,NaN,NaN,NaN,NaN
29,45 HIGH,45.0,HIGH,NaN,NaN,NaN,NaN,NaN,45 HIGH,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,98 DUFFIELD,98.0,DUFFIELD,NaN,NaN,NaN,NaN,NaN,98 DUFFIELD,NaN,NaN,NaN,NaN
71,AGENT FOR THE HIRE OF REAL ESTATE 69 CRANBERRY,NaN,NaN,NaN,NaN,NaN,NaN,AGENT FOR THE HIRE OF REAL ESTATE 69 CRANBERRY,AGENT FOR THE HIRE OF REAL ESTATE 69 CRANBERRY,NaN,NaN,NaN,NaN
72,21 CARLTON ALY,21.0,CARLTON ALY,NaN,NaN,NaN,NaN,NaN,21 CARLTON ALY,NaN,NaN,NaN,NaN
73,FLUSHING AVE,NaN,NaN,NaN,NaN,NaN,NaN,FLUSHING AVE,FLUSHING AVE,NaN,NaN,NaN,NaN
74,CARMAN N CLASSON MYRTLE AVE,NaN,NaN,NaN,NaN,CARMAN CLASSON,MYRTLE AVE,CARMAN N CLASSON MYRTLE AVE,CARMAN N CLASSON MYRTLE AVE,NaN,NaN,NaN,NaN
75,N MYRTLE CLASSON AVE,NaN,NaN,NaN,NaN,MYRTLE,CLASSON AVE,N MYRTLE CLASSON AVE,N MYRTLE CLASSON AVE,NaN,NaN,NaN,NaN
76,118 GOLD,118.0,GOLD,NaN,NaN,NaN,NaN,NaN,118 GOLD,NaN,NaN,NaN,NaN
77,73 PROSPECT,73.0,PROSPECT,NaN,NaN,NaN,NaN,NaN,73 PROSPECT,NaN,NaN,NaN,NaN
78,265 HUDSON ALY .,265.0,HUDSON ALY .,NaN,NaN,NaN,NaN,NaN,265 HUDSON ALY .,NaN,NaN,NaN,NaN
79,104 N WALL Â¥ H 33 CRANBERRY,104.0,N WALL Â¥ H 33 CRANBERRY,NaN,NaN,NaN,NaN,NaN,104 N WALL Â¥ H 33 CRANBERRY,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,N LIVINGSTON HOYT,NaN,NaN,NaN,NaN,LIVINGSTON,HOYT,N LIVINGSTON HOYT,N LIVINGSTON HOYT,NaN,NaN,NaN,NaN
82,258 [UDSON AVE,258.0,[UDSON AVE,NaN,NaN,NaN,NaN,NaN,258 [UDSON AVE,NaN,NaN,NaN,NaN
83,180 YORK,180.0,YORK,NaN,NaN,NaN,NaN,NaN,180 YORK,NaN,NaN,NaN,NaN
84,217 ADAMSÂ€™,217.0,ADAMSÂ€™,NaN,NaN,NaN,NaN,NaN,217 ADAMSÂ€™,NaN,NaN,NaN,NaN
85,43 ADELPHI,43.0,ADELPHI,NaN,NaN,NaN,NaN,NaN,43 ADELPHI,NaN,NaN,NaN,NaN
86,57 YORK,57.0,YORK,NaN,NaN,NaN,NaN,NaN,57 YORK,NaN,NaN,NaN,NaN
87,CARVER HUDSON Â¢ DE KALB ALY,NaN,NaN,NaN,NaN,NaN,NaN,CARVER HUDSON Â¢ DE KALB ALY,CARVER HUDSON Â¢ DE KALB ALY,NaN,NaN,NaN,NaN
88,N DEAN POWERS,NaN,NaN,NaN,NaN,DEAN,POWERS,N DEAN POWERS,N DEAN POWERS,NaN,NaN,NaN,NaN
89,AVE N FRANKLIN AVE,NaN,NaN,NaN,NaN,AVE,FRANKLIN AVE,AVE N FRANKLIN AVE,AVE N FRANKLIN AVE,NaN,NaN,NaN,NaN
90,FLUSHING AVE Â¢ GRAHAM,NaN,NaN,NaN,NaN,NaN,NaN,FLUSHING AVE Â¢ GRAHAM,FLUSHING AVE Â¢ GRAHAM,NaN,NaN,NaN,NaN
91,227 ATLANTIC,227.0,ATLANTIC,NaN,NaN,NaN,NaN,NaN,227 ATLANTIC,NaN,NaN,NaN,NaN
92,ROPEMAKER N KENT FLUSHING AVE,NaN,NaN,NaN,NaN,ROPEMAKER KENT,FLUSHING AVE,ROPEMAKER N KENT FLUSHING AVE,ROPEMAKER N KENT FLUSHING AVE,NaN,NaN,NaN,NaN
93,137 N FRONT YH 116 JOHNSON,137.0,N FRONT YH 116 JOHNSON,NaN,NaN,NaN,NaN,NaN,137 N FRONT YH 116 JOHNSON,NaN,NaN,NaN,NaN
94,98 ILENRY,98.0,ILENRY,NaN,NaN,NaN,NaN,NaN,98 ILENRY,NaN,NaN,NaN,NaN
95,36 TILLARY,36.0,TILLARY,NaN,NaN,NaN,NaN,NaN,36 TILLARY,NaN,NaN,NaN,NaN
96,137 N FRONT Y H 307 BRG,137.0,N FRONT Y H 307 BRG,NaN,NaN,NaN,NaN,NaN,137 N FRONT Y H 307 BRG,NaN,NaN,NaN,NaN
97,156 N BROADWAY YÂ¥ H CLINTON AVE,156.0,N BROADWAY YÂ¥ H CLINTON AVE,NaN,NaN,NaN,NaN,NaN,156 N BROADWAY YÂ¥ H CLINTON AVE,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,58 N JOHN Â¥H N ATLANTIC,58.0,N JOHN Â¥H N ATLANTIC,NaN,NaN,58 N JOHN Â¥H ATLANTIC,NaN,NaN,58 N JOHN Â¥H N ATLANTIC,NaN,NaN,NaN,NaN

In [68]:
# Combines data from various columns into two: hn_1 (for house number) and best_match (for street name)

In [69]:
hn_1 = {}
best_match = {}

for i in range(0,len(df)):
    hn_1[i] = df['H House Number'][i]
    best_match[i] = df['H Street Name'][i]

for i in range(0,len(df)):
#for i in range(35,36):
    #print('begin',hn_1[i],best_match[i])
    
    #handle corner cases
    if pd.isna(df['c_street1'][i]) == False or pd.isna(df['c_street2'][i]) == False:
        #print('1',i)
        try:
            best_match[i] = str(df['c_street1'][i]) + ' & ' + str(df['c_street2'][i])
        except:
            if pd.isna(df['c_street1'][i]) == False:
                best_match[i] = str(df['c_street1'])
            else:
                best_match[i] = str(df['c_street2'])
                
    #handle near cases
    elif pd.isna(df['n_street1'][i]) == False or pd.isna(df['n_street2'][i]) == False:
        #print('2',i)
        try:
            best_match[i] = str(df['n_street1'][i]) + ' & ' + str(df['n_street2'][i])
        except:
            if pd.isna(df['n_street1'][i]) == False:
                best_match[i] = str(df['n_street1'])
            else:
                best_match[i] = str(df['n_street2'])
    
    #if corner and near cases don't have any data, use H House Number and H Street Name
    elif pd.isna(hn_1[i]) == True or pd.isna(best_match[i]) == True:
        #print('3',i)
        #try:
            #hn_1[i] = df['H House Number'][i]
        #except:
            #pass
        try:
            best_match[i] = df['H City'][i]
        except:
            pass
        
        
    """
    #if everything above didn't work, use new h house number and new h street name
    elif pd.isna(hn_1[i]) == True or pd.isna(best_match[i]) == True:
        #print('4',i)
        try:
            hn_1[i] = df['new h house number'][i]
        except:
            pass
        try:
            best_match[i] = df['new h street name'][i]
        except:
            pass
    
    #if everything above still didn't work, use new h city for best_match
    elif pd.isna(df['new h city'][i]) == False and pd.isna(best_match[i]) == True:
        #print('5',i)
        best_match[i] = df['new h city'][i]
    
    # return a blank house number and Full Address for best_match if nothing above worked
    else:
        if pd.isna(hn_1[i]) == True and pd.isna(best_match[i]) == True:
            #print('6',i)
            hn_1[i] = ''
            best_match[i] = df['Full Address'][i]
            
    """
    
    """
    elif pd.isna(df['H House Number'][i]) == False or pd.isna(df['H Street Name'][i]) == False:
        print('3',i)
        try:
            hn_1[i] = df['H House Number'][i]
        except:
            pass
        try:
            best_match[i] = df['H Street Name'][i]
        except:
            pass
    
    elif pd.isna(df['new h house number'][i]) == False or pd.isna(df['new h street name'][i]) == False:
        print('4',i)
        try:
            hn_1[i] = df['new h house number'][i]
        except:
            pass
        try:
            best_match[i] = df['new h street name'][i]
        except:
            pass
    
    elif pd.isna(df['new h city'][i]) == False:
        print('5',i)
        best_match[i] = df['new h city'][i]
    
    else:
        print('6',i)
        hn_1[i] = ''
        best_match[i] = df['Full Address'][i]
    """
    #if pd.isna(df['H House Number'][i]) == True and pd.isna(df['new h house number'][i]) == True:
        #print('7',i)
        #hn_1[i] = ''
    
    if pd.isna(hn_1[i]) == True and pd.isna(best_match[i]) == True:
        #print('7',i)
        hn_1[i] = ''
        best_match[i] = df['H Address'][i]

In [70]:
df2 = pd.DataFrame([list(hn_1.values()), list(best_match.values())])

In [71]:
df2 = df2.T

In [72]:
df2.columns = ['hn_1','best_match']

In [73]:
"""
def find_number(text):
    num = re.findall(r'[0-9]+',str(text))
    return " ".join(num)
df2['hn_1']=df2['hn_1'].apply(lambda x: find_number(x))
"""

'\ndef find_number(text):\n    num = re.findall(r\'[0-9]+\',str(text))\n    return " ".join(num)\ndf2[\'hn_1\']=df2[\'hn_1\'].apply(lambda x: find_number(x))\n'

In [74]:
df2

       hn_1                              best_match
0       168                              HUDSON AVE
1       NaN             MASON DEAN & VANDERBILT AVE
2        82                                  POPLAR
3       NaN                            EDUCATION OF
4       NaN                              UNION & CT
5       NaN                        PACIFIC & BOERUM
6        25                             FRONT . [CT
7       141                 N FRONT Â¥ H JOYALEMONN
8       NaN                          KENT ALY NORTH
9       NaN            LABORER BOND & STATE / [HOYT
10     2954      2954 N PEARL YH 262 ATLANTIC & nan
11       74                                 CONCORD
12      NaN              MYRTLE C JAY H 115 JOHNSON
13      261                                MARSHALL
14      301                                    GOLD
15       23                                  PRINCE
16      288                              HUDSON AVE
17      NaN               SHOEMAKER NAVY Â¢ SANDS 4
18      116                                 CONCORD
19      NaN                       YÂ¥ H 180 HENRY .
20        5                                  YORK I
21        3                             KELSEYS ALY
22      NaN           EDUCATION OF BOYS 75 COLUMBIA
23                                              NaN
24       73               N WILLIAM YH 43 CRANBERRY
25       15                  N CORTLANDT YH 59 HOYT
26       72                                COLUMBIA
27       23                 MYRTLE AVE Â¢ PEARL H34
28      NaN                           N Y H 266 DAY
29       45                                    HIGH
...     ...                                     ...
15646   NaN                  FLUSHING & CLASSON AVE
15647   155                                    GOLD
15648   186                                  NASSAU
15649   NaN                          PRESIDENT & CT
15650   NaN                     GRAHAM & MYRTLE AVE
15651   NaN                  FRANKLIN & CARLTON AVE
15652    57     N WILLIAM Y H 18 COTTAGE ROW FARMAN
15653   NaN  9 WARD ATLANTIC OP CLASSON AVE BEDFORD
15654    39                                 WYCKOFF
15655    25                                    MAIN
15656   196                              MYRTLE AVE
15657    95                               CRANBERRY
15658   NaN                      LIVINGSTON & SMITH
15659   236                      LIVINGSTON & SMITH
15660   236                                  FULTON
15661     1                                ATLANTIC
15662   NaN                      CARLTON & PARK AVE
15663    62                      62 BOERUM & BERGEN
15664   NaN                        NAVY & LAFAYETTE
15665    19                                  TALMAN
15666   NaN                       PLYMOUTH & LITTLE
15667    94                              LIVINGSTON
15668    41                 CORTLANDT NY H 2 DEGRAW
15669    90                                   FRONT
15670   269                                   ADAMS
15671    73                     73 ATLANTIC & HICKS
15672    48                                    MAIN
15673   NaN                           NAVY NTILLARY
15674   NaN                          49.5 CRANBERRY
15675   287                                   ADAMS

[15676 rows x 2 columns]

In [75]:
#df2.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/for address builder/' + mn_or_bk + '_' + year + '_' + doubttype + '_ready4.csv')
df2.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/after cleaning/bk-1850-for-address-builder.csv')

In [77]:
#df.loc[[37400]]