In [167]:
import pandas as pd
#from fuzzywuzzy import fuzz
import pickle

In [168]:
#mn_or_bk = 'mn' #bk or mn
#year = str(1850) #1850, 1880
#doubttype = 'doubt' #doubt or not so confident

In [169]:
#df1 = pd.read_csv(mn_or_bk + '_' + year + '/S/' + doubttype + '-' + mn_or_bk + year + '-v7-s.csv')
df1 = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/mn-1880-3-s.csv')

In [170]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,Address 2,Address 2 City,Address 2 House Number,Address 2 Street Name,First Name,Full Address,Full Name,H Address,...,h house number modifier,new address2 house number,new address2 street name,new address2 street 1,new address2 street 2,new address2 street type,new address2 city,new address2 county,unidentified address2 info,address2 house number modifier
0,0,0,NaN,NaN,NaN,NaN,NaN,h 11 Eldridge,NaN,H 11 ELDRIDGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,William,h. 66 Ft .,97 William,H. 66 FT .,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,Bâ€™klyn,NaN,BÂ€™KLYN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,NaN,NaN,NaN,NaN,NaN,184 Forsyth,NaN,184 FORSYTH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,60 Eldridge,NaN,60 ELDRIDGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
#with open('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.pkl', 'rb') as f:
  #d = pickle.load(f)
with open('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/mn-1880-3.pkl', 'rb') as f:
    d = pickle.load(f)

In [172]:
#df1_original = pd.read_excel(mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.xlsx')



df1_original = pd.read_excel('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/mn-1880-2.xlsx')

In [173]:
len(df1)-len(df1_original)

0

In [174]:
#df1_final_1 = df1_original.loc[df1_original['filter11']==0][['n_street1','n_street2','c_street1','c_street2']]
df1_final_1 = df1_original[['n_street1','n_street2','c_street1','c_street2']]

In [175]:
len(df1_final_1)

289991

In [176]:
#df1_original

In [177]:
#df1_final_1

In [178]:
#df1

In [179]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Address 2', 'Address 2 City',
       'Address 2 House Number', 'Address 2 Street Name', 'First Name',
       'Full Address', 'Full Name', 'H Address', 'H City', 'H House Number',
       'H Status-flag', 'H Street Name', 'Last Name', 'Middle Name',
       'Occupation', 'Title', 'Widow Of', 'Widow-flag', 'new h address-flag',
       'new h house number', 'new h street name', 'new h street 1',
       'new h street 2', 'new h street type', 'new h city', 'new h county',
       'unidentified h info', 'h house number modifier',
       'new address2 house number', 'new address2 street name',
       'new address2 street 1', 'new address2 street 2',
       'new address2 street type', 'new address2 city', 'new address2 county',
       'unidentified address2 info', 'address2 house number modifier'],
      dtype='object')

In [180]:
df1_final_1['Full Address'] = df1['Full Address']



df1_final_1['H Address'] = df1['H Address']




df1_final_1['H House Number'] = df1['H House Number']
df1_final_1['H Street Name'] = df1['H Street Name']
#df1_final_1['new h house number'] = df1['new h house number']
#df1_final_1['new h street name'] = df1['new h street name']
#df1_final_1['new h city'] = df1['new h city']



df1_final_1['H City'] = df1['H City']
df1_final_1['Address 2'] = df1['Address 2']
df1_final_1['Address 2 House Number'] = df1['Address 2 House Number']
df1_final_1['Address 2 Street Name'] = df1['Address 2 Street Name']
df1_final_1['Address 2 City'] = df1['Address 2 City']



#df1_final_1['unidentified h info'] = df1['unidentified h info']

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [181]:
df1_final_1

,n_street1,n_street2,c_street1,c_street2,Full Address,H Address,H House Number,H Street Name,H City,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City
0,NaN,NaN,NaN,NaN,h 11 Eldridge,H 11 ELDRIDGE,11.0,ELDRIDGE,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,h. 66 Ft .,H. 66 FT .,66.0,FT .,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Bâ€™klyn,BÂ€™KLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,184 Forsyth,184 FORSYTH,184.0,FORSYTH,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,60 Eldridge,60 ELDRIDGE,60.0,ELDRIDGE,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,h 214 E . 13th,H 214 E . 13TH,214.0,E . 13TH,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,h. 70 W . 48th,H. 70 W . 48TH,70.0,W . 48TH,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,h 171 Attorney,H 171 ATTORNEY,171.0,ATTORNEY,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,197 Grand,197 GRAND,197.0,GRAND,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,h. 109 Hester,H. 109 HESTER,109.0,HESTER,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,h 352 Third av .,H 352 3RD AV .,352.0,THIRD AV .,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,h 121 Columbia,H 121 COLUMBIA,121.0,COLUMBIA,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,"108 Vesey,h. 200 E , Houston","H. 200 E , HOUSTON",200.0,"E , HOUSTON",NaN,108 Vesey,108.0,Vesey,NaN
13,NaN,NaN,NaN,NaN,h. 352 Third av .,H. 352 3RD AV .,352.0,THIRD AV .,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,h 108 Chrystie,H 108 CHRYSTIE,108.0,CHRYSTIE,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,h 208 E . 49th,H 208 E . 49TH,208.0,E . 49TH,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,811 E . 43d,811 E . 43D,811.0,E . 43D,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,h 132 Orchard,H 132 ORCHARD,132.0,ORCHARD,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,hS2 Av . B,HS2 AV . B,NaN,NaN,HS2 AV . B,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,h 59 Attorney,H 59 ATTORNEY,59.0,ATTORNEY,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,h 139 Third av .,H 139 3RD AV .,139.0,THIRD AV .,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,"h 311 EB , 43a","H 311 EB , 43A",311.0,"EB , 43A",NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,h 363 Eighth,H 363 8TH,363.0,EIGHTH,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,"801 Eighth av.,h. %9 Eighth av .",H. %9 8TH AV .,NaN,NaN,%9 EIGHTH AV .,801 Eighth av.,801.0,Eighth av.,NaN
24,NaN,NaN,NaN,NaN,h 305 E . 73d,H 305 E . 73D,305.0,E . 73D,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,"h. 305 E , 73d","H. 305 E , 73D",305.0,"E , 73D",NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,238 Bleecker,238 BLEECKER,238.0,BLEECKER,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,h 64 Willett,H 64 WILLETT,64.0,WILLETT,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,53 Walker,53 WALKER,53.0,WALKER,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,45 Walker,45 WALKER,45.0,WALKER,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
289961,NaN,NaN,NaN,NaN,"190 South,h 127 Second av.","190 SOUTH,H 127 2ND AV.",190.0,"SOUTH,H 127 SECOND AV.",NaN,NaN,NaN,NaN,NaN
289962,NaN,NaN,NaN,NaN,h rear 446 W 41st,H REAR 446 W 41ST,446.0,W 41ST,NaN,NaN,NaN,NaN,NaN
289963,NaN,NaN,NaN,NaN,190 South & 365 Water,190 SOUTH & 365 WATER,190.0,SOUTH & 365 WATER,NaN,NaN,NaN,NaN,NaN
289964,NaN,NaN,NaN,NaN,"94 Grand,h 117 Schermerhorn , B‚Äôklyn","94 GRAND,H 117 SCHERMERHORN , B‚ÄÔKLYN",94.0,"GRAND,H 117 SCHERMERHORN ,",B‚ÄÔKLYN,NaN,NaN,NaN,NaN
289965,NaN,NaN,NaN,NaN,779 Tenth av.,779 10TH AV.,779.0,TENTH AV.,NaN,NaN,NaN,NaN,NaN
289966,NaN,NaN,NaN,NaN,2190 Third av.,2190 3RD AV.,2190.0,THIRD AV.,NaN,NaN,NaN,NaN,NaN
289967,NaN,NaN,NaN,NaN,28 S. William,28 S. WILLIAM,28.0,S. WILLIAM,NaN,NaN,NaN,NaN,NaN
289968,NaN,NaN,NaN,NaN,h 202 E Houston,H 202 E HOUSTON,202.0,E HOUSTON,NaN,NaN,NaN,NaN,NaN
289969,NaN,NaN,NaN,NaN,h 22 E 43d,H 22 E 43D,22.0,E 43D,NaN,NaN,NaN,NaN,NaN
289970,NaN,NaN,NaN,NaN,514 First av. h 308 E 74th,514 1ST AV. H 308 E 74TH,514.0,FIRST AV. H 308 E 74TH,NaN,NaN,NaN,NaN,NaN
289971,NaN,NaN,NaN,NaN,"2 City Hall,h 960 Sixth av.","2 CITY HALL,H 960 6TH AV.",2.0,"CITY HALL,H 960 SIXTH AV.",NaN,NaN,NaN,NaN,NaN
289972,NaN,NaN,NaN,NaN,h 229 E 82d,H 229 E 82D,229.0,E 82D,NaN,NaN,NaN,NaN,NaN
289973,NaN,NaN,NaN,NaN,h 337 E 80th,H 337 E 80TH,337.0,E 80TH,NaN,NaN,NaN,NaN,NaN
289974,NaN,NaN,NaN,NaN,"161 E Houston,h 33 Seventh","161 E HOUSTON,H 33 7TH",161.0,"E HOUSTON,H 33 SEVENTH",NaN,NaN,NaN,NaN,NaN
289975,NaN,NaN,NaN,NaN,"28 Cliff,h 10 W 38th","28 CLIFF,H 10 W 38TH",28.0,"CLIFF,H 10 W 38TH",NaN,NaN,NaN,NaN,NaN
289976,NaN,NaN,NaN,NaN,h 11 Eldridge,H 11 ELDRIDGE,11.0,ELDRIDGE,NaN,NaN,NaN,NaN,NaN
289977,NaN,NaN,NaN,NaN,h 132 Orchard,H 132 ORCHARD,132.0,ORCHARD,NaN,NaN,NaN,NaN,NaN
289978,NaN,NaN,NaN,NaN,h 363 Eighth,H 363 8TH,363.0,EIGHTH,NaN,NaN,NaN,NaN,NaN
289979,NaN,NaN,NaN,NaN,h 128 Orchard,H 128 ORCHARD,128.0,ORCHARD,NaN,NaN,NaN,NaN,NaN
289980,NaN,NaN,NaN,NaN,h 246 E 44th,H 246 E 44TH,246.0,E 44TH,NaN,NaN,NaN,NaN,NaN
289981,NaN,NaN,NaN,NaN,h 139 W 22d,H 139 W 22D,139.0,W 22D,NaN,NaN,NaN,NaN,NaN
289982,NaN,NaN,NaN,NaN,h 32E 20th,H 32E 20TH,NaN,NaN,32E 20TH,NaN,NaN,NaN,NaN
289983,NaN,NaN,NaN,NaN,282 Fourth av. h 32 E 20th,282 4TH AV. H 32 E 20TH,282.0,FOURTH AV. H 32 E 20TH,NaN,NaN,NaN,NaN,NaN
289984,NaN,NaN,NaN,NaN,h 32 E 20th,H 32 E 20TH,32.0,E 20TH,NaN,NaN,NaN,NaN,NaN
289985,NaN,NaN,NaN,NaN,h 19 Jay,H 19 JAY,19.0,JAY,NaN,NaN,NaN,NaN,NaN
289986,NaN,NaN,NaN,NaN,"128 B‚Äôway,h 52 W 24th","128 B‚ÄÔWAY,H 52 W 24TH",128.0,"B‚ÄÔWAY,H 52 W 24TH",NaN,NaN,NaN,NaN,NaN
289987,NaN,NaN,NaN,NaN,331 Pearl,331 PEARL,331.0,PEARL,NaN,NaN,NaN,NaN,NaN
289988,NaN,NaN,NaN,NaN,94 Wall,94 WALL,94.0,WALL,NaN,NaN,NaN,NaN,NaN
289989,NaN,NaN,NaN,NaN,"r 84 R,idge,h 252 Delancey","R 84 R,IDGE,H 252 DELANCEY",84.0,"R,IDGE,H 252 DELANCEY",NaN,NaN,NaN,NaN,NaN
289990,NaN,NaN,NaN,NaN,189 B‚Äôway,189 B‚ÄÔWAY,189.0,B‚ÄÔWAY,NaN,NaN,NaN,NaN,NaN

In [182]:
#df1_original[['Full Address','H House Number','H Street Name','new h house number','new h street name','new h city']]
#df1[['unidentified h info']]

In [183]:
df1_final_1.columns

Index(['n_street1', 'n_street2', 'c_street1', 'c_street2', 'Full Address',
       'H Address', 'H House Number', 'H Street Name', 'H City', 'Address 2',
       'Address 2 House Number', 'Address 2 Street Name', 'Address 2 City'],
      dtype='object')

In [184]:
#df1_final_1.to_csv(mn_or_bk + '_' + year + '/' + mn_or_bk + '_' + year + '_combine-' + doubttype + '4.csv')
df1_final_1.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/mn-1880-3-s-combine.csv')

## Column descriptions:

#### Full Address
contains the cleaned entry for the address from the input file
#### H House Number
contains the house number if present in Full Address
#### H Street Name
contains the street name if present in Full Address
#### c_street1
contains the first street name in case the address was located at a corner
#### c_street2
contains the second street name in case the address was located at a corner
#### n_street1
contains the first street name in case the address was located near another street
#### n_street2
contains the second street name in case the address was located near another street
#### new h city
contains the city name (if present) in Full Address
#### new h house number
contains the house number if present in Full Address for some additional entries that are not in 'H House Number' 
#### new h street name 
contains the street name if present in Full Address for some additional entries that are not in 'H Street Name'