In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('doubt/v6/not so confident6.xlsx')

In [3]:
df_slice1 = df.loc[df['filter1']==1]

In [4]:
slice1_addresses = list(dict(df_slice1['clean address']).values())

In [5]:
modified_clean_address = df['clean address'].str.replace('Ã¢Â\x80Â\x99',"'").str.replace('Ã¢ÂÂ',"'").str.replace("Ã¢Â\x80Â\x98","").str.replace("Ã¢Â\x80Â\x9c","").str.replace("Ã¢Â\x80Â\x9d","")
modified_clean_address = modified_clean_address.str.replace("hN", "h N")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(".5 ", " ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(",h ", ", h ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(",h", ", h ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(", h.", ", h. ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(", h .", ", h. ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace("H udson", "Hudson")
modified_clean_address = modified_clean_address.str.replace("'wav", "'way")
modified_clean_address = modified_clean_address.str.replace("B'way", "Broadway")
modified_clean_address = modified_clean_address.str.replace("B way", "Broadway")
modified_clean_address = modified_clean_address.str.replace("B'kly n", "B'klyn")
modified_clean_address = modified_clean_address.str.replace(",n", " n")
modified_clean_address = modified_clean_address.str.replace("W.h", " Wh")
modified_clean_address = modified_clean_address.str.replace("h-", " h ")
modified_clean_address = modified_clean_address.str.replace("h-", " h ")
modified_clean_address = modified_clean_address.str.replace("-h.", "h.")
#modified_clean_address = modified_clean_address.str.replace("H()", "h.")
#modified_clean_address = modified_clean_address.str.replace("*", " ")
#modified_clean_address = modified_clean_address.str.replace("h r.", "h r")

#modified_clean_address = modified_clean_address.str.replace(".h", ", h.")

#modified_clean_address = modified_clean_address.str.replace("^h", "  h")
#modified_clean_address = modified_clean_address.str.replace("h*", "  h ")

#modified_clean_address = modified_clean_address.str.replace(". .", " ")

ft. E. 118th,h E. 137th n St. Ann's av.
ft. E. 118th,h E. 137th n St. Ann's av.
ft. E. 118th, h E. 137th n St. Ann's av.
ft. E. 118th, h E. 137th n St. Ann's av.
ft. E. 118th, h. E. 137th n St. Ann's av.
ft. E. 118th, h. E. 137th n St. Ann's av.

In [6]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("E.") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('E.','E ').replace('  ', ' ')

In [7]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("W.") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('W.','W ').replace('  ', ' ')

In [8]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(".h") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('.h',', h. ').replace(',,',',').replace('  ',' ')

In [9]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(",c") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace(',c',' c')

In [10]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(" c. ") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('c.','c')

In [11]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(" n. ") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace(' n. ',' n ')

In [12]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("h r ") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace('h r','h. rear').replace('rear.','rear ')

In [13]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("h. r ") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace('h. r','h. rear').replace('rear.','rear ')

In [14]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i][0:2].find("h'") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace("h'","h. ")

In [15]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i][0:2].find("th") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace("th","h")

In [16]:
modified_clean_address[6841]

'21 Cortlandt, h. S. 1.'

In [17]:
#re.findall(r'. 1', '.1')

In [18]:
import re

modified_clean_address4 = []
intersections_n_1 = []
intersections_n_2 = []

intersections_c_1 = []
intersections_c_2 = []

for i in range(0,len(modified_clean_address)):
    temp = modified_clean_address[i]
    
    string_with_th = re.findall(r'[0-9]+th', temp)
    for j in range (0, len(string_with_th)):
        temp = temp.replace(string_with_th[j], string_with_th[j].replace('th',''))
    
    string_with_d = re.findall(r'[0-9]+d', temp)
    for j in range (0, len(string_with_d)):
        temp = temp.replace(string_with_d[j], string_with_d[j].replace('d',''))
    
    string_with_rd = re.findall(r'[0-9]+rd', temp)
    for j in range (0, len(string_with_rd)):
        temp = temp.replace(string_with_rd[j], string_with_rd[j].replace('rd',''))
    
    string_with_st = re.findall(r'[0-9]+st', temp)
    for j in range (0, len(string_with_st)):
        temp = temp.replace(string_with_st[j], string_with_st[j].replace('st',''))
    
    string_with_h_dot = re.findall(r'h.+[0-9]', temp)
    for j in range (0, len(string_with_h_dot)):
        temp = temp.replace(string_with_h_dot[j], string_with_h_dot[j].replace('h.','h. ').replace('  ',' '))
    
    string_with_h = re.findall(r'h+[0-9]', temp)
    for j in range (0, len(string_with_h)):
        temp = temp.replace(string_with_h[j], string_with_h[j].replace('h','h ').replace('  ',' '))
        
    string_with_fullstop = re.findall(r'. +[0-9]', temp)
    for j in range (0, len(string_with_fullstop)):
        temp = temp.replace(string_with_fullstop[j], string_with_fullstop[j].replace('.','. h ').replace('  ',' '))
    
    string_with_comma = re.findall(r', +[0-9]', temp)
    for j in range (0, len(string_with_comma)):
        temp = temp.replace(string_with_comma[j], string_with_comma[j].replace(',',', h ').replace('  ',' '))
    
    string_with_bracket = re.findall(r'\) +[0-9]', temp)
    for j in range (0, len(string_with_bracket)):
        temp = temp.replace(string_with_bracket[j], string_with_bracket[j].replace(')',') h ').replace('  ',' '))
    
    string_with_dash = re.findall(r'-+[0-9]', temp)
    for j in range (0, len(string_with_dash)):
        temp = temp.replace(string_with_dash[j], string_with_dash[j].replace('-','').replace('  ',' '))
    
    string_with_fullstop_number = re.findall(r'.+[0-9]', temp)
    for j in range (0, len(string_with_fullstop_number)):
        temp = temp.replace(string_with_fullstop_number[j], string_with_fullstop_number[j].replace('.','').replace('  ',' '))
    
    
    string_with_S_1 = re.findall(r'[0-9]+S', temp)
    string_with_S_2 = re.findall(r'S+[0-9]', temp)
    string_with_S = string_with_S_1 + string_with_S_2
    for j in range (0, len(string_with_S)):
        #print(i,string_with_S)
        temp = temp.replace(string_with_S[j], string_with_S[j].replace('S','5'))
        #print(temp)
        
    try:
        location_of_h_1 = temp.split().index('h.')
    except:
        location_of_h_1 = -1
    try:
        location_of_h_2 = temp.split().index('h')
    except:
        location_of_h_2 = -1
    #print(location_of_h_1, location_of_h_2)

    location_of_h = max(location_of_h_1, location_of_h_2)
    """
    if location_of_h_1>0:
        if location_of_h_2<0:
            location_of_h = location_of_h_1
        else:
            #print(i,'in exception1')
            #print(location_of_h_1, location_of_h_2)
            location_of_h = max(location_of_h_1, location_of_h_2)
    
    else:
        if location_of_h_2 > 0:
            location_of_h = location_of_h_2
        else:
            print(i,'in exception2')
            print(location_of_h_1, location_of_h_2)
            location_of_h = -1
    """
    temp = temp.replace('^','')
    temp = temp.replace('ft.','')
    temp = temp.replace('ft','')
    temp = temp.replace('Ft.','')
    
    undesired_starts = ['.',' .',',',' ,','-',' -','- ',', ','. ',"'","' "," '","''",'&','*','& ','* ',
                       ' &',' *']
    for i in range(0,len(undesired_starts)):
        if temp[0:2].find(undesired_starts[i])>=0:
            temp = temp[0:2].replace(undesired_starts[i],'') + temp[2:]
    
    words_after_h = temp.split()[location_of_h+1:]
    try:
        location_of_n = words_after_h.index('n')
        intersection_n_street1 = ' '.join(words_after_h[0:location_of_n])
        intersection_n_street2 = ' '.join(words_after_h[location_of_n+1:])

        intersections_n_1.append(intersection_n_street1)
        intersections_n_2.append(intersection_n_street2)
    except:
        intersections_n_1.append('')
        intersections_n_2.append('')
    
    try:
        location_of_c = words_after_h.index('c')
        intersection_c_street1 = ' '.join(words_after_h[0:location_of_c])
        intersection_c_street2 = ' '.join(words_after_h[location_of_c+1:])

        intersections_c_1.append(intersection_c_street1)
        intersections_c_2.append(intersection_c_street2)
    except:
        intersections_c_1.append('')
        intersections_c_2.append('')
    
    modified_clean_address4.append(temp)

In [19]:
#for i in range(0,len(intersections_c_1)):
    #print(i, intersections_c_1[i] + ' and ' + intersections_c_2[i])

In [20]:
for i in range(0,len(modified_clean_address4)):
    if modified_clean_address4[i].find(".h") >= 0:
        print(i, modified_clean_address4[i])

In [21]:
#for i in range(0,len(modified_clean_address)):
    #if modified_clean_address[i].find(" n ") >0:
        #print(i, modified_clean_address[i])

In [22]:
df['modified_clean_address'] = modified_clean_address4

In [23]:
df['n_street1'] = intersections_n_1
df['n_street2'] = intersections_n_2
df['c_street1'] = intersections_c_1
df['c_street2'] = intersections_c_2

In [24]:
#df.head()

In [25]:
#df.to_excel('doubt/not so confident2.xlsx')

In [26]:
df_modified_addresses = pd.DataFrame(modified_clean_address4, columns=['clean address'])

In [27]:
#pd.DataFrame(modified_clean_address2).to_csv('doubt/doubt2.txt', header=None,  sep=' ', mode='a')

In [28]:
temp_addr = []
for i in range(0,len(df_modified_addresses)):
    temp_addr.append(str(i)+" "+df_modified_addresses['clean address'][i])
#np.savetxt('doubt/not so confident addr.txt', temp_addr, fmt='%s')

In [29]:
#np.savetxt('doubt/not so confident addr.txt', temp_addr, fmt='%s')

In [30]:
#df.head()

In [31]:
#df.columns

In [32]:
#df.head()

In [33]:
df['n_street1'] = df['n_street1'].replace('',np.nan)
df['n_street2'] = df['n_street2'].replace('',np.nan)
df['c_street1'] = df['c_street1'].replace('',np.nan)
df['c_street2'] = df['c_street2'].replace('',np.nan)

In [34]:
df['filter11'] = np.where(df['n_street1'].isna() & df['n_street2'].isna() & df['c_street1'].isna() & df['c_street2'].isna() & df['new h house number'].isna() & df['new h street name'].isna(), 1, 0)

In [35]:
df_filter11 = df.loc[df['filter11'] == 1]
df_filter11 = df_filter11.reset_index()

In [36]:
#df_filter11['modified_clean_address']

In [37]:
modified_clean_address5 = []
for i in range(0,len(df_filter11)):
    temp = df_filter11['modified_clean_address'][i]
    
    string_with_S = re.findall(r'[0-9]+S', temp)
    for i in range (0, len(string_with_S)):
        temp = temp.replace(string_with_S[i], string_with_S[i].replace('S','5'))
    modified_clean_address5.append(temp)

In [38]:
#for i in range(0,len(modified_clean_address5)):
    #print(i, modified_clean_address5[i])

In [39]:
#for i in range(0,len(modified_clean_address5)):
    #if modified_clean_address5[i].find("h. ") <0:
        #print(i, modified_clean_address5[i])

In [40]:
df['modified_clean_address'][10:16]

10                    h Third av n 170
11                       h Av A c E 58
12                   h Ninth av n W 91
13    96 Beekman, h Madison av n E 122
14                    h Third av n 170
15                      h 18C Broadway
Name: modified_clean_address, dtype: object

In [41]:
df['modified_clean_address'] = df['modified_clean_address'].str.replace('rearear','rear')
df['modified_clean_address'] = df['modified_clean_address'].str.replace('rearefused','refused')
df['modified_clean_address'] = df['modified_clean_address'].str.replace('h. r ','h. rear ')

In [42]:
df

,Unnamed: 0,Unnamed: 0.1,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,...,filter7,filter8,filter9,filter10,filter11,modified_clean_address,n_street1,n_street2,c_street1,c_street2
0,0,77,Zugner Joseph,Joseph,Zugner,NaN,False,NaN,NaN,painter,...,0,0,0,0,0,h St Ann's av n 153,St Ann's av,153,NaN,NaN
1,1,110,Zurfluh Joseph,Joseph,Zurfluh,NaN,False,NaN,NaN,brewer,...,0,0,0,0,0,h 169 n Third av.,169,Third av.,NaN,NaN
2,2,114,Zweifel Frederick,Frederick,Zweifel,NaN,False,NaN,NaN,gardener,...,0,0,0,0,0,h Third av n 166,Third av,166,NaN,NaN
3,3,139,Zwheger August,August,Zwheger,NaN,False,NaN,NaN,molder,...,0,0,0,0,0,h 150 n Courtland av.,150,Courtland av.,NaN,NaN
4,4,145,Zwickert Anthony J,Anthony,Zwickert,J,False,NaN,NaN,police,...,0,0,0,0,0,h 148 n Third av.,148,Third av.,NaN,NaN
5,5,157,Zyech Joseph,Joseph,Zyech,NaN,False,NaN,NaN,painter,...,0,0,0,0,0,h E 97 n 3 av.,E 97,3 av.,NaN,NaN
6,6,176,Zindel John H,John,Zindel,H,False,NaN,NaN,hops,...,0,0,1,0,1,"3 Water, h. B'klyn",NaN,NaN,NaN,NaN
7,7,190,Zink Louisa,Louisa,Zink,NaN,True,John F,NaN,NaN,...,0,0,0,0,0,h Concord av. c Cliff,NaN,NaN,Concord av.,Cliff
8,8,228,Zipf Philip,Philip,Zipf,NaN,False,NaN,NaN,butcher,...,0,0,0,0,0,h Broadway c Manhattan,NaN,NaN,Broadway,Manhattan
9,9,264,Zitzmann Edward,Edward,Zitzmann,NaN,False,NaN,NaN,printer,...,0,0,0,0,0,h 1( Elizabeth,NaN,NaN,NaN,NaN
10,10,287,Zoech Nicholas,Nicholas,Zoech,NaN,False,NaN,NaN,driver,...,0,0,0,0,0,h Third av n 170,Third av,170,NaN,NaN
11,11,304,Zoller Albert,Albert,Zoller,NaN,False,NaN,NaN,agent,...,0,0,0,0,0,h Av A c E 58,NaN,NaN,Av A,E 58
12,12,550,Ziegler Edward,Edward,Ziegler,NaN,False,NaN,NaN,grain,...,0,0,0,0,0,h Ninth av n W 91,Ninth av,W 91,NaN,NaN
13,13,552,Ziegler Francis C,Francis,Ziegler,C,False,NaN,NaN,express,...,0,0,0,0,0,"96 Beekman, h Madison av n E 122",Madison av,E 122,NaN,NaN
14,14,563,Ziegler Jacob,Jacob,Ziegler,NaN,False,NaN,NaN,foreman,...,0,0,0,0,0,h Third av n 170,Third av,170,NaN,NaN
15,15,619,Zietz Theodore C. F,NaN,NaN,NaN,False,NaN,NaN,janitor,...,0,0,0,0,0,h 18C Broadway,NaN,NaN,NaN,NaN
16,16,674,Zeissig Alex,Alex,Zeissig,NaN,False,NaN,NaN,cabinetmkr,...,0,0,0,0,0,h Concord av. n Cliff,Concord av.,Cliff,NaN,NaN
17,17,712,Zeller John,John,Zeller,NaN,False,NaN,NaN,milk,...,0,0,0,0,0,h W 71 n Eighth av.,W 71,Eighth av.,NaN,NaN
18,18,767,Zender John,John,Zender,NaN,False,NaN,NaN,baker,...,0,0,0,0,0,h Eighth av n W 126,Eighth av,W 126,NaN,NaN
19,19,770,Zendulka Rudolph,Rudolph,Zendulka,NaN,False,NaN,NaN,cabinetmkr,...,0,0,0,0,0,h Tenth av. n W,Tenth av.,W,NaN,NaN
20,20,771,Zener George W,George,Zener,W,False,NaN,NaN,lawyer,...,0,0,1,0,1,"19 Nassau, h. B'klyn",NaN,NaN,NaN,NaN
21,21,778,Zenker William harnessmkr,William,Zenker,harnessmkr,False,NaN,NaN,NaN,...,0,0,0,0,0,h Eighth av. n W,Eighth av.,W,NaN,NaN
22,22,786,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,...,0,0,1,0,1,"TRAMARINE WORKS,Ã¢ÂÂA. BERINGER'S PULP COLOR...",NaN,NaN,NaN,NaN
23,23,799,Zerban Alexander J,Alexander,Zerban,J,False,NaN,NaN,clerk,...,0,0,0,0,0,h W 61 c Eleventh av.,NaN,NaN,W 61,Eleventh av.
24,24,840,Zahn Margaret,Margaret,Zahn,NaN,False,NaN,NaN,NaN,...,0,0,0,0,0,h Ninth av n W 69,Ninth av,W 69,NaN,NaN
25,25,850,Zaitlar George,George,Zaitlar,NaN,False,NaN,NaN,laborer,...,0,0,0,0,0,h Third av n 169,Third av,169,NaN,NaN
26,26,856,Zak Mary. wid. Michael,NaN,NaN,NaN,False,NaN,NaN,NaN,...,0,0,0,0,0,h Av A n E 74,Av A,E 74,NaN,NaN
27,27,858,Zaler Andrew,Andrew,Zaler,NaN,False,NaN,NaN,baker,...,0,0,0,0,0,h 152 n Third av.,152,Third av.,NaN,NaN
28,28,879,Zanger John,John,Zanger,NaN,False,NaN,NaN,clerk,...,0,0,0,0,0,h Fourth av n E 77,Fourth av,E 77,NaN,NaN
29,29,893,Zapp Madeline,Madeline,Zapp,NaN,False,NaN,NaN,NaN,...,0,0,0,0,0,h 152 n Morris av.,152,Morris av.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11044,11044,272354,Adams Charles L,Charles,Adams,L,False,NaN,NaN,lumber,...,0,0,0,0,0,ft E 39 & 138 c Fourth av h Willis av n 136,Willis av,136,NaN,NaN
11045,11045,272361,Adams Crawford C,Crawford,Adams,C,False,NaN,NaN,agt custom h,...,0,0,1,0,1,h Metropolitan h.,NaN,NaN,NaN,NaN
11046,11046,272366,Adams David,David,Adams,NaN,False,NaN,NaN,publisher,...,0,0,0,0,0,"98 William, h h 656 Madison , B'klyn",NaN,NaN,NaN,NaN
11047,11047,272429,Ackerman Henry,Henry,Ackerman,NaN,False,NaN,NaN,engraver,...,0,0,0,0,0,h 143 n Willis av.,143,Willis av.,NaN,NaN
11048,11048,272447,Ackerman John J,John,Ackerman,J,False,NaN,NaN,carpenter,...,0,0,0,0,0,h St. Ann's av. c,NaN,NaN,St. Ann's av.,NaN
11049,11049,272450,Ackerman John R,John,Ackerman,R,False,NaN,NaN,tailor,...,0,0,1,0,1,"712 Broadway, h. B'klyn",NaN,NaN,NaN,NaN
11050,11050,272477,ACKERMAN WARREN,WARREN,ACKERMAN,NaN,False,NaN,NaN,v pres,...,0,0,1,0,1,"67 William, h. N.",NaN,NaN,NaN,NaN
11051,11051,272486,Ackerman William K,William,Ackerman,K,False,NaN,NaN,pres,...,0,0,1,0,1,"31 Nassau, h. Ill.",NaN,NaN,NaN,NaN
11052,11052,272515,Ackermann Jos,Jos,Ackermann,NaN,False,NaN,NaN,upholsterer,...,0,0,0,0,0,h 146 n Willis av.,146,Willis av.,NaN,NaN
11053,11053,272519,Ackermann Philip,Philip,Ackermann,NaN,False,NaN,NaN,varnisher,...,0,0,0,0,0,h 151 c Third av.,NaN,NaN,151,Third av.
11054,11054,272600,Abrams Pauline,Pauline,Abrams,NaN,True,Stanislaus,NaN,NaN,...,0,0,0,0,0,h 179 E Broadway,NaN,NaN,NaN,NaN
11055,11055,272611,Abry Charles Leo,Charles,Abry,Leo,False,NaN,NaN,watches,...,0,0,1,0,1,"63 Nassau, h. N. J-",NaN,NaN,NaN,NaN
11056,11056,272612,Abry Helen M,Helen,Abry,M,False,NaN,NaN,dressmkr,...,0,0,0,0,0,h 1. W l(ith,NaN,NaN,NaN,NaN
11057,11057,272692,Acker Sarah,Sarah,Acker,NaN,False,NaN,NaN,teacher,...,0,0,0,0,0,h W 73 c Eleventh av.,NaN,NaN,W 73,Eleventh av.
11058,11058,272716,Aberle Oscar,Oscar,Aberle,NaN,False,NaN,NaN,casings,...,0,0,1,0,1,"96 Pearl, h. Ill.",NaN,NaN,NaN,NaN
11059,11059,272732,Abig Adolph,Adolph,Abig,NaN,False,NaN,NaN,barber,...,0,0,0,0,0,h 485 Ninth av.,NaN,NaN,NaN,NaN
11060,11060,272846,Abrahams Harris,Harris,Abrahams,NaN,False,NaN,NaN,clothing,...,0,0,1,0,1,"121 Chatham, h. O.",NaN,NaN,NaN,NaN
11061,11061,272869,Abbot Edward A,Edward,Abbot,A,False,NaN,NaN,treas,...,0,0,1,0,1,"142 Prince, h. N. H.",NaN,NaN,NaN,NaN
11062,11062,272870,Abbot Francis A,Francis,Abbot,A,False,NaN,NaN,editor,...,0,0,0,1,1,"26 Broad, h. Harrison",NaN,NaN,NaN,NaN
11063,11063,272871,Abbot Frank L,Frank,Abbot,L,False,NaN,NaN,sec,...,0,0,1,0,1,"142 Prince, h. N. H.",NaN,NaN,NaN,NaN
11064,11064,272873,Abbot Henry W,Henry,Abbot,W,False,NaN,NaN,drygds,...,0,0,1,0,1,"47 Leonard, h. Mass.",NaN,NaN,NaN,NaN
11065,11065,272878,Abbot Thomas W,Thomas,Abbot,W,False,NaN,NaN,agent,...,0,0,1,0,1,"17 Broadway, h. B'klyn",NaN,NaN,NaN,NaN
11066,11066,272887,Abbott Benjamin F,Benjamin,Abbott,F,False,NaN,NaN,pres,...,0,0,1,0,1,"157 Chambers, h. B'klyn",NaN,NaN,NaN,NaN
11067,11067,272901,Abbott George E,George,Abbott,E,False,NaN,NaN,surgeon,...,0,0,0,0,0,h E 50 c Fourth av.,NaN,NaN,E 50,Fourth av.
11068,11068,272905,Abbott Jere,Jere,Abbott,NaN,False,NaN,NaN,iron,...,0,0,1,0,1,"23 Cliff, h. Mass.",NaN,NaN,NaN,NaN
11069,11069,272915,Abbott Lyman,Lyman,Abbott,NaN,False,NaN,NaN,editor sq N,...,0,0,1,0,1,"22 Washn, h. Corn-",NaN,NaN,NaN,NaN
11070,11070,272961,Abel Charles,Charles,Abel,NaN,False,NaN,NaN,brewer,...,0,0,0,0,0,h Third av n 154,Third av,154,NaN,NaN
11071,11071,272976,Abel Jacob,Jacob,Abel,NaN,False,NaN,NaN,tripe mkt,...,0,0,0,0,0,"49 Centre mkt & 3 Cath, h ft W 65",NaN,NaN,NaN,NaN
11072,11072,273068,Abbatt William D,William,Abbatt,D,False,NaN,NaN,clothing,...,0,0,0,1,1,"707 Broadway, h. Westchester ' ,",NaN,NaN,NaN,NaN
11073,11073,273069,Abbe Charlotte C. wid. George W,NaN,NaN,NaN,False,NaN,NaN,NaN,...,0,0,0,0,0,h 32E 20,NaN,NaN,NaN,NaN

In [43]:
df.to_excel('doubt/not so confident7.xlsx')