In [355]:
import pandas as pd
import numpy as np

In [356]:
df = pd.read_excel('doubt.xlsx')

In [357]:
df_slice1 = df.loc[df['filter1']==1]

In [358]:
slice1_addresses = list(dict(df_slice1['clean address']).values())

In [359]:
modified_clean_address = df['clean address'].str.replace('Ã¢Â\x80Â\x99',"'").str.replace('Ã¢ÂÂ',"'").str.replace("Ã¢Â\x80Â\x98","").str.replace("Ã¢Â\x80Â\x9c","").str.replace("Ã¢Â\x80Â\x9d","")
modified_clean_address = modified_clean_address.str.replace("hN", "h N")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(".5 ", " ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(",h ", ", h ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(",h", ", h ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(", h.", ", h. ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace(", h .", ", h. ")
print(modified_clean_address[7446])
modified_clean_address = modified_clean_address.str.replace("H udson", "Hudson")
modified_clean_address = modified_clean_address.str.replace("'wav", "'way")
modified_clean_address = modified_clean_address.str.replace("B'way", "Broadway")
modified_clean_address = modified_clean_address.str.replace("B way", "Broadway")
modified_clean_address = modified_clean_address.str.replace("B'kly n", "B'klyn")
modified_clean_address = modified_clean_address.str.replace(",n", " n")
modified_clean_address = modified_clean_address.str.replace("W.h", " Wh")
modified_clean_address = modified_clean_address.str.replace("h-", " h ")
modified_clean_address = modified_clean_address.str.replace("h-", " h ")
modified_clean_address = modified_clean_address.str.replace("-h.", "h.")
#modified_clean_address = modified_clean_address.str.replace("H()", "h.")
#modified_clean_address = modified_clean_address.str.replace("*", " ")
#modified_clean_address = modified_clean_address.str.replace("h r.", "h r")

#modified_clean_address = modified_clean_address.str.replace(".h", ", h.")

#modified_clean_address = modified_clean_address.str.replace("^h", "  h")
#modified_clean_address = modified_clean_address.str.replace("h*", "  h ")

#modified_clean_address = modified_clean_address.str.replace(". .", " ")

20 Nassau,h N. J.
20 Nassau,h N. J.
20 Nassau, h N. J.
20 Nassau, h N. J.
20 Nassau, h. N. J.
20 Nassau, h. N. J.

In [360]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("E.") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('E.','E ').replace('  ', ' ')

In [361]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("W.") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('W.','W ').replace('  ', ' ')

In [362]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(".h") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('.h',', h. ').replace(',,',',').replace('  ',' ')

In [363]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(",c") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace(',c',' c')

In [364]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(" c. ") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('c.','c')

In [365]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(" n. ") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace(' n. ',' n ')

In [366]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("h r ") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace('h r','h. rear').replace('rear.','rear ')

In [367]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("h. r ") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace('h. r','h. rear').replace('rear.','rear ')

In [368]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i][0:2].find("h'") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace("h'","h. ")

In [369]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i][0:2].find("th") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace("th","h")

In [370]:
modified_clean_address[6841]

'h. rear 70 Carmine'

In [371]:
re.findall(r'. 1', '.1')

[]

In [372]:
import re

modified_clean_address4 = []
intersections_n_1 = []
intersections_n_2 = []

intersections_c_1 = []
intersections_c_2 = []

for i in range(0,len(modified_clean_address)):
    temp = modified_clean_address[i]
    
    string_with_th = re.findall(r'[0-9]+th', temp)
    for j in range (0, len(string_with_th)):
        temp = temp.replace(string_with_th[j], string_with_th[j].replace('th',''))
    
    string_with_d = re.findall(r'[0-9]+d', temp)
    for j in range (0, len(string_with_d)):
        temp = temp.replace(string_with_d[j], string_with_d[j].replace('d',''))
    
    string_with_rd = re.findall(r'[0-9]+rd', temp)
    for j in range (0, len(string_with_rd)):
        temp = temp.replace(string_with_rd[j], string_with_rd[j].replace('rd',''))
    
    string_with_st = re.findall(r'[0-9]+st', temp)
    for j in range (0, len(string_with_st)):
        temp = temp.replace(string_with_st[j], string_with_st[j].replace('st',''))
    
    string_with_h_dot = re.findall(r'h.+[0-9]', temp)
    for j in range (0, len(string_with_h_dot)):
        temp = temp.replace(string_with_h_dot[j], string_with_h_dot[j].replace('h.','h. ').replace('  ',' '))
    
    string_with_h = re.findall(r'h+[0-9]', temp)
    for j in range (0, len(string_with_h)):
        temp = temp.replace(string_with_h[j], string_with_h[j].replace('h','h ').replace('  ',' '))
        
    string_with_fullstop = re.findall(r'. +[0-9]', temp)
    for j in range (0, len(string_with_fullstop)):
        temp = temp.replace(string_with_fullstop[j], string_with_fullstop[j].replace('.','. h ').replace('  ',' '))
    
    string_with_comma = re.findall(r', +[0-9]', temp)
    for j in range (0, len(string_with_comma)):
        temp = temp.replace(string_with_comma[j], string_with_comma[j].replace(',',', h ').replace('  ',' '))
    
    string_with_bracket = re.findall(r'\) +[0-9]', temp)
    for j in range (0, len(string_with_bracket)):
        temp = temp.replace(string_with_bracket[j], string_with_bracket[j].replace(')',') h ').replace('  ',' '))
    
    string_with_dash = re.findall(r'-+[0-9]', temp)
    for j in range (0, len(string_with_dash)):
        temp = temp.replace(string_with_dash[j], string_with_dash[j].replace('-','').replace('  ',' '))
    
    string_with_fullstop_number = re.findall(r'.+[0-9]', temp)
    for j in range (0, len(string_with_fullstop_number)):
        temp = temp.replace(string_with_fullstop_number[j], string_with_fullstop_number[j].replace('.','').replace('  ',' '))
    
    
    string_with_S_1 = re.findall(r'[0-9]+S', temp)
    string_with_S_2 = re.findall(r'S+[0-9]', temp)
    string_with_S = string_with_S_1 + string_with_S_2
    for j in range (0, len(string_with_S)):
        #print(i,string_with_S)
        temp = temp.replace(string_with_S[j], string_with_S[j].replace('S','5'))
        #print(temp)
        
    try:
        location_of_h_1 = temp.split().index('h.')
    except:
        location_of_h_1 = -1
    try:
        location_of_h_2 = temp.split().index('h')
    except:
        location_of_h_2 = -1
    #print(location_of_h_1, location_of_h_2)

    location_of_h = max(location_of_h_1, location_of_h_2)
    """
    if location_of_h_1>0:
        if location_of_h_2<0:
            location_of_h = location_of_h_1
        else:
            #print(i,'in exception1')
            #print(location_of_h_1, location_of_h_2)
            location_of_h = max(location_of_h_1, location_of_h_2)
    
    else:
        if location_of_h_2 > 0:
            location_of_h = location_of_h_2
        else:
            print(i,'in exception2')
            print(location_of_h_1, location_of_h_2)
            location_of_h = -1
    """
    temp = temp.replace('^','')
    temp = temp.replace('ft.','')
    temp = temp.replace('Ft.','')
    
    undesired_starts = ['.',' .',',',' ,','-',' -','- ',', ','. ',"'","' "," '","''",'&','*','& ','* ',
                       ' &',' *']
    for i in range(0,len(undesired_starts)):
        if temp[0:2].find(undesired_starts[i])>=0:
            temp = temp[0:2].replace(undesired_starts[i],'') + temp[2:]
    
    words_after_h = temp.split()[location_of_h+1:]
    try:
        location_of_n = words_after_h.index('n')
        intersection_n_street1 = ' '.join(words_after_h[0:location_of_n])
        intersection_n_street2 = ' '.join(words_after_h[location_of_n+1:])

        intersections_n_1.append(intersection_n_street1)
        intersections_n_2.append(intersection_n_street2)
    except:
        intersections_n_1.append('')
        intersections_n_2.append('')
    
    try:
        location_of_c = words_after_h.index('c')
        intersection_c_street1 = ' '.join(words_after_h[0:location_of_c])
        intersection_c_street2 = ' '.join(words_after_h[location_of_c+1:])

        intersections_c_1.append(intersection_c_street1)
        intersections_c_2.append(intersection_c_street2)
    except:
        intersections_c_1.append('')
        intersections_c_2.append('')
    
    modified_clean_address4.append(temp)

In [373]:
#for i in range(0,len(intersections_c_1)):
    #print(i, intersections_c_1[i] + ' and ' + intersections_c_2[i])

In [374]:
for i in range(0,len(modified_clean_address4)):
    if modified_clean_address4[i].find(".h") >= 0:
        print(i, modified_clean_address4[i])

In [375]:
#for i in range(0,len(modified_clean_address)):
    #if modified_clean_address[i].find(" n ") >0:
        #print(i, modified_clean_address[i])

In [376]:
df['modified_clean_address'] = modified_clean_address4

In [377]:
df['n_street1'] = intersections_n_1
df['n_street2'] = intersections_n_2
df['c_street1'] = intersections_c_1
df['c_street2'] = intersections_c_2

In [378]:
#df.head()

In [379]:
#df.to_excel('doubt/not so confident2.xlsx')

In [380]:
df_modified_addresses = pd.DataFrame(modified_clean_address4, columns=['clean address'])

In [381]:
#pd.DataFrame(modified_clean_address2).to_csv('doubt/doubt2.txt', header=None,  sep=' ', mode='a')

In [382]:
temp_addr = []
for i in range(0,len(df_modified_addresses)):
    temp_addr.append(str(i)+" "+df_modified_addresses['clean address'][i])
#np.savetxt('doubt/not so confident addr.txt', temp_addr, fmt='%s')

In [383]:
#np.savetxt('doubt/not so confident addr.txt', temp_addr, fmt='%s')

In [384]:
#df.head()

In [385]:
#df.columns

In [386]:
#df.head()

In [387]:
df['n_street1'] = df['n_street1'].replace('',np.nan)
df['n_street2'] = df['n_street2'].replace('',np.nan)
df['c_street1'] = df['c_street1'].replace('',np.nan)
df['c_street2'] = df['c_street2'].replace('',np.nan)

In [388]:
df['filter11'] = np.where(df['n_street1'].isna() & df['n_street2'].isna() & df['c_street1'].isna() & df['c_street2'].isna() & df['new h house number'].isna() & df['new h street name'].isna(), 1, 0)

In [389]:
df_filter11 = df.loc[df['filter11'] == 1]
df_filter11 = df_filter11.reset_index()

In [390]:
#df_filter11['modified_clean_address']

In [391]:
modified_clean_address5 = []
for i in range(0,len(df_filter11)):
    temp = df_filter11['modified_clean_address'][i]
    
    string_with_S = re.findall(r'[0-9]+S', temp)
    for i in range (0, len(string_with_S)):
        temp = temp.replace(string_with_S[i], string_with_S[i].replace('S','5'))
    modified_clean_address5.append(temp)

In [392]:
#for i in range(0,len(modified_clean_address5)):
    #print(i, modified_clean_address5[i])

In [393]:
#for i in range(0,len(modified_clean_address5)):
    #if modified_clean_address5[i].find("h. ") <0:
        #print(i, modified_clean_address5[i])

In [394]:
df['modified_clean_address'][10:16]

10    146 n Brook av.
11       20 Sixth av.
12     Washn av n 165
13       1510 Orchard
14    149 n Brook av.
15         325 Eighth
Name: modified_clean_address, dtype: object

In [395]:
df['modified_clean_address'] = df['modified_clean_address'].str.replace('rearear','rear')
df['modified_clean_address'] = df['modified_clean_address'].str.replace('rearefused','refused')
df['modified_clean_address'] = df['modified_clean_address'].str.replace('h. r ','h. rear ')

In [396]:
df

,Unnamed: 0,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,Full Address,...,filter5,filter6,filter7,filter8,modified_clean_address,n_street1,n_street2,c_street1,c_street2,filter11
0,27,Zorer Louis,Louis,Zorer,NaN,False,NaN,NaN,painter,W. 150th n Brook av.,...,0,0,0,0,W 150 n Brook av.,W 150,Brook av.,NaN,NaN,0
1,79,Zugner Peter J,Peter,Zugner,J,False,NaN,NaN,undertaker,Third av. n E. 148th & 2227 First av.,...,0,0,0,0,Third av n E 148 & 2227 First av.,Third av,E 148 & 2227 First av.,NaN,NaN,0
2,97,Zumbol Joseph,Joseph,Zumbol,NaN,False,NaN,NaN,laborer,h 15.5 Stanton,...,0,0,0,0,h 15 Stanton,NaN,NaN,NaN,NaN,0
3,99,Znmbuehl Charles,Charles,Znmbuehl,NaN,False,NaN,NaN,painter,Courtland av. n 154th,...,0,0,0,0,Courtland av n 154,Courtland av,154,NaN,NaN,0
4,106,Smith Frances M,NaN,NaN,NaN,False,NaN,NaN,dressmkr,Smith Frances M dressmkr 14 Sixth av.,...,0,0,0,0,14 Sixth av.,NaN,NaN,NaN,NaN,1
5,182,Zink Charles,Charles,Zink,NaN,False,NaN,NaN,grocer,149th c Courtland av.,...,0,0,0,0,149 c Courtland av.,NaN,NaN,149,Courtland av.,0
6,183,Zink Charles & Co,NaN,NaN,NaN,False,NaN,NaN,grocers,149th c Courtland av.,...,0,0,0,0,149 c Courtland av.,NaN,NaN,149,Courtland av.,0
7,186,Zink John,John,Zink,NaN,False,NaN,NaN,shoes,152d n Courtland av.,...,0,0,0,0,152 n Courtland av.,152,Courtland av.,NaN,NaN,0
8,189,Zink Louis,Louis,Zink,NaN,False,NaN,NaN,grocer,Courtland av. c 149th,...,0,0,0,0,Courtland av c 149,NaN,NaN,Courtland av,149,0
9,299,Zogbanm Ferdinand,Ferdinand,Zogbanm,NaN,True,R. R,NaN,av,n 167th^,...,0,0,0,0,n 167,NaN,167,NaN,NaN,0
10,330,Zimmer Herman,Herman,Zimmer,NaN,False,NaN,NaN,segars,146th n Brook av.,...,0,0,0,0,146 n Brook av.,146,Brook av.,NaN,NaN,0
11,360,"Peterson Christina,wid. Wm.",NaN,NaN,NaN,False,NaN,NaN,dressmkr,"Peterson Christina,wid. Wm.dressmkr. 20 Sixth av.",...,0,0,0,0,20 Sixth av.,NaN,NaN,NaN,NaN,1
12,419,Zimmermann Charles,Charles,Zimmermann,NaN,False,NaN,NaN,baker,Washn. av. n 165th,...,0,0,0,0,Washn av n 165,Washn av,165,NaN,NaN,0
13,433,Zimmermann Gottlob,Gottlob,Zimmermann,NaN,False,NaN,NaN,beer,1S10 Orchard,...,0,0,0,0,1510 Orchard,NaN,NaN,NaN,NaN,1
14,453,Zimmermann John Q,John,Zimmermann,Q,False,NaN,NaN,segars,149th n Brook av.,...,0,0,0,0,149 n Brook av.,149,Brook av.,NaN,NaN,0
15,465,Zimmermann Michael,Michael,Zimmermann,NaN,False,NaN,NaN,meat,32S Eighth,...,0,0,0,0,325 Eighth,NaN,NaN,NaN,NaN,1
16,466,Zimmermann Minna,Minna,Zimmermann,NaN,False,NaN,NaN,sewing,h 124.5 Columbia,...,0,0,0,0,h 124 Columbia,NaN,NaN,NaN,NaN,0
17,499,Zettzmann William,William,Zettzmann,NaN,False,NaN,NaN,clerk,h 14.5 Norfolk,...,0,0,0,0,h 14 Norfolk,NaN,NaN,NaN,NaN,0
18,544,Ziegler August,August,Ziegler,NaN,False,NaN,NaN,furniture,31.5 Carmine,...,0,0,0,0,31 Carmine,NaN,NaN,NaN,NaN,1
19,590,Ziegler Wm.H,Wm.H,Ziegler,NaN,False,NaN,NaN,coal,"coal,1Ã¢ÂÂ11 BÃ¢ÂÂway,h 24 First pl. BÃ¢Â...",...,0,0,0,0,"111 Broadway, h h 24 First pl. B'klyn",NaN,NaN,NaN,NaN,1
20,610,Ziermann Henry,Henry,Ziermann,NaN,False,NaN,NaN,shoemkr,h 88.5 Ridge,...,0,0,0,0,h 88 Ridge,NaN,NaN,NaN,NaN,0
21,651,Zeimer Louis,Louis,Zeimer,NaN,False,NaN,NaN,clerk,h 240.5 E. Houston,...,0,0,0,0,h 240 E Houston,NaN,NaN,NaN,NaN,0
22,675,Zeissig Gustav F,Gustav,Zeissig,F,False,NaN,NaN,grocer,Concord av. e Cliff,...,0,0,0,0,Concord av. e Cliff,NaN,NaN,NaN,NaN,1
23,696,Fouqu6 Mary L.,NaN,NaN,NaN,False,NaN,NaN,dressmkr,Fouqu6 Mary L. dressmkr. 181 Lex. av.,...,0,0,0,0,181 Lex. av.,NaN,NaN,NaN,NaN,1
24,729,Zelling Frederick,Frederick,Zelling,NaN,False,NaN,NaN,grocer,169th e Franklin av.,...,0,0,0,0,169 e Franklin av.,NaN,NaN,NaN,NaN,1
25,741,Zeltner Henry,Henry,Zeltner,NaN,False,NaN,NaN,brewer,Third av. c 170th,...,0,0,0,0,Third av c 170,NaN,NaN,Third av,170,0
26,776,Mendelsohn Louis,Louis,Mendelsohn,NaN,False,NaN,NaN,elastics,"437.5 BÃ¢ÂÂway,h 1501",...,0,0,0,0,"437 Broadway, h h 1501",NaN,NaN,NaN,NaN,0
27,785,ZENTGRAF CHARLES F,CHARLES,ZENTGRAF,F,False,NaN,NaN,colors sole,for the United States of the NUREMBERG UL-,...,0,0,0,0,for the United States of the NUREMBERG UL-,NaN,NaN,NaN,NaN,1
28,828,Zahn Frederick,Frederick,Zahn,NaN,False,NaN,NaN,florist,2S6 Grand,...,0,0,0,0,256 Grand,NaN,NaN,NaN,NaN,1
29,873,Zang Joseph,Joseph,Zang,NaN,False,NaN,NaN,cooper,h 124.5 Columbia,...,0,0,0,0,h 124 Columbia,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8128,272296,Adam Louis,Louis,Adam,NaN,False,NaN,NaN,glass,h 88.5 Ridge,...,0,0,0,0,h 88 Ridge,NaN,NaN,NaN,NaN,0
8129,272344,Adams Charles C,Charles,Adams,C,False,NaN,NaN,NaN,(Rev.)th Lawrence n Tenth av.,...,0,0,0,0,(Rev.)th Lawrence n Tenth av.,(Rev.)th Lawrence,Tenth av.,NaN,NaN,0
8130,272426,Ackerman H,H,Ackerman,NaN,False,NaN,NaN,stables,219.5 W. 26th,...,0,0,0,0,219 W 26,NaN,NaN,NaN,NaN,1
8131,272455,Ackerman L,L,Ackerman,NaN,False,NaN,NaN,jr pres,3S Platt,...,0,0,0,0,35 Platt,NaN,NaN,NaN,NaN,1
8132,272458,Ackerman Lorenz,Lorenz,Ackerman,NaN,False,NaN,NaN,jeweler,First av. n E. 117th,...,0,0,0,0,First av n E 117,First av,E 117,NaN,NaN,0
8133,272462,N. Y.,Y.,N.,NaN,False,NaN,NaN,NaN,Green-wood & Coney Island R. R. Co. 35,...,0,0,0,0,Green-wood & Coney Island R R Co h 35,NaN,NaN,NaN,NaN,1
8134,272525,Ackerson. Andrew J,Andrew,Ackerson.,J,False,NaN,NaN,driver,h'791 Greenwich,...,0,0,0,0,h h 791 Greenwich,NaN,NaN,NaN,NaN,1
8135,272532,Abrahams Jacob,Jacob,Abrahams,NaN,False,NaN,NaN,tinware,987.5 Second av. h 987 Second av.,...,0,0,0,0,987 Second av h 987 Second av.,NaN,NaN,NaN,NaN,0
8136,272577,Abrams Benjamin,Benjamin,Abrams,NaN,False,NaN,NaN,pedlar,h r 105.5 Lewis,...,0,0,0,0,h rear 105 Lewis,NaN,NaN,NaN,NaN,0
8137,272599,Abrams Pauline,Pauline,Abrams,NaN,False,NaN,NaN,clothing,16.5 Baxter,...,0,0,0,0,16 Baxter,NaN,NaN,NaN,NaN,1
8138,272621,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,ACADEMY OF MT. ST. VINCENT on-theHudson. New Y...,...,0,0,0,0,ACADEMY OF MT. ST. VINCENT on-theHudson. New Y...,NaN,NaN,NaN,NaN,1
8139,272626,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,Acadia Coal Co. 145 B'way,...,0,0,0,0,Acadia Coal Co h 1 Broadway,NaN,NaN,NaN,NaN,1
8140,272639,Achenbach George,George,Achenbach,NaN,False,NaN,NaN,grocer,Boulevard c W. 110th,...,0,0,0,0,Boulevard c W 110,NaN,NaN,Boulevard,W 110,0
8141,272705,Abenheim M. & Co,NaN,NaN,NaN,False,NaN,NaN,mers,(12 Broad,...,0,0,0,0,(12 Broad,NaN,NaN,NaN,NaN,1
8142,272708,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,Deadwood Mining Co. 18 Wall,...,0,0,0,0,Deadwood Mining Co h 18 Wall,NaN,NaN,NaN,NaN,1
8143,272734,Ablass Charles C,Charles,Ablass,C,False,NaN,NaN,beer,Av A c E. 74th,...,0,0,0,0,Av A c E 74,NaN,NaN,Av A,E 74,0
8144,272760,Abraham Eliza,Eliza,Abraham,NaN,True,Samuel,NaN,NaN,h 40.5 St. MarkÃ¢ÂÂs pl.,...,0,0,0,0,h 40 St. Mark's pl.,NaN,NaN,NaN,NaN,0
8145,272788,Abraham Louis,Louis,Abraham,NaN,False,NaN,NaN,shoes,"24 Catharine,h 22.5 Cath.",...,0,0,0,0,"24 Catharine, h h 22 Cath.",NaN,NaN,NaN,NaN,0
8146,272804,Abraham Philip,Philip,Abraham,NaN,False,NaN,NaN,paints,"paints,469 Sixth av.h Rossmore h.",...,0,0,0,0,"469 Sixth av, h. Rossmore h.",NaN,NaN,NaN,NaN,1
8147,272808,Abraham Samuel,Samuel,Abraham,NaN,False,NaN,NaN,paints,469 Sixth av. h Rossmore h.,...,0,0,1,0,469 Sixth av. h Rossmore h.,NaN,NaN,NaN,NaN,0
8148,272810,Abraham Sigismund,Sigismund,Abraham,NaN,False,NaN,NaN,gentÃ¢ÂÂs furng,326th W. 38th,...,0,0,0,0,326 W 38,NaN,NaN,NaN,NaN,1
8149,272828,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,ready for use and put away in cellar without e...,...,0,0,0,0,ready for use and put away in cellar without e...,NaN,NaN,NaN,NaN,1
8150,272841,Abrahams Edwaid,Edwaid,Abrahams,NaN,False,NaN,NaN,pictures,87.5 Division,...,0,0,0,0,87 Division,NaN,NaN,NaN,NaN,1
8151,272874,Abbot J. L,J.,Abbot,L,False,NaN,NaN,cotton,H() Pearl,...,0,0,0,0,H() Pearl,NaN,NaN,NaN,NaN,1
8152,272918,Weekly Under,NaN,NaN,NaN,False,NaN,NaN,writer,Weekly Underwriter (The) 5 Cortlandt,...,0,0,0,0,(The) Cortlandt,NaN,NaN,NaN,NaN,1
8153,272922,Underwriter Printing & Pub. Co.,NaN,NaN,NaN,False,NaN,NaN,writer,Underwriter Printing & Pub. Co. 5 Cortlandt,...,0,0,0,0,Cortlandt,NaN,NaN,NaN,NaN,1
8154,272941,ABBOTT & CO,&,ABBOTT,CO,False,NaN,NaN,bureau for general advertising,"| late at 141 Fulton street and 20 Ann street ,",...,0,0,0,0,"| late at 141 Fulton street and 20 Ann street ,",NaN,NaN,NaN,NaN,1
8155,272942,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,now at 5 Beekman street,...,0,0,0,0,now at Beekman street,NaN,NaN,NaN,NaN,1
8156,272978,Abel John,John,Abel,NaN,False,NaN,NaN,beer,Tenth av. c W. 65th,...,0,0,0,0,Tenth av c W 65,NaN,NaN,Tenth av,W 65,0
8157,272981,Abel Kate,Kate,Abel,NaN,False,NaN,NaN,NaN,h r 86.5 Ridge,...,0,0,0,0,h rear 86 Ridge,NaN,NaN,NaN,NaN,0

In [397]:
df.to_excel('doubt/doubt7.xlsx')