In [592]:
import numpy as np
import re

In [593]:
import pandas as pd
df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/output/output_1880_add_std.csv')

/Users/prajwal/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (25,36,37,38,39,42,43,44,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [594]:
df = df.drop(['Unnamed: 0'],axis=1)

In [595]:
#df.head(6)

In [596]:
df.columns

Index(['Full Name', 'First Name', 'Last Name', 'Middle Name', 'Widow-flag',
       'Widow Of', 'Title', 'Occupation', 'Full Address', 'H Status-flag',
       'H Address', 'H House Number', 'H Street Name', 'H City', 'Address 2',
       'Address 2 House Number', 'Address 2 Street Name', 'Address 2 City',
       'Index', 'Full Entry', 'occupation', 'len_occ', 'Old_Occupation_info',
       'add_sub_match', 'new_occ_found', 'std_occupation', 'change', 'sus',
       'clean address', 'new h address-flag', 'new h house number',
       'new h street name', 'new h city', 'new h county',
       'unidentified h info', 'new h street 1', 'new h street 2',
       'new h street type', 'h house number modifier',
       'new address2 house number', 'new address2 street name',
       'new address2 street 1', 'new address2 street 2',
       'new address2 street type', 'new address2 city', 'new address2 county',
       'unidentified address2 info', 'address2 house number modifier'],
      dtype='object')

In [597]:
#df.loc[df['Occupation'].isna() & df['H House Number'].isna() & df['new h address-flag'].isna()]

In [598]:
#df2 = df[['Occupation','Full Address','H Address','H House Number','H Street Name','H City','Address 2','Address 2 House Number','Address 2 Street Name','Address 2 City','change','new h address-flag']]

In [599]:
#df2[df2['Occupation'].isnull()]

In [600]:
#str(df2['Occupation'][7])

In [601]:
#df2.head(6)

In [602]:
df['filter1'] = np.where(df['Occupation'].isna() & df['H House Number'].isna() & df['new h address-flag'].isna(), 1, 0)

In [603]:
df['filter2'] = np.where(~df['H House Number'].isna() & df['H Street Name'].isna() &df['Address 2 Street Name'].isna(), 1, 0)

In [604]:
df['filter3'] = np.where((df['Full Address'].str.find('.5')>0) & df['H House Number'].isna(),1,0)

In [605]:
df['filter4'] = np.where(df['sus']==2.0, 1,0)

In [606]:
df['filter5'] = np.where((df['Full Address'].str.find('.5')>0) & ~df['H House Number'].isna() & (df['H Status-flag']=='Assume'), 1,0)

In [607]:
df['filter6'] = np.where((df['H Status-flag']=='Assume')&(df['Full Address'].str.find(' H ')>0),1,0)

In [608]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

In [609]:
df['filter7'] = np.where((df['H Status-flag']=='Assume')&(df['Full Address'].str.find(' h ')>0)&(df['new h house number'].isna()) & (df['new h city'].isna()) & (df['new h street name'].str).isalpha(),1,0)

In [610]:
df['filter8'] = np.where((df['H Status-flag']=='Assume')&(df['Full Address'].str.find(' h ')>0)&(df['new h address-flag'].isna()),1,0)

In [611]:
conditions = df['filter1']+df['filter2']+df['filter3']+df['filter4']+df['filter5']+df['filter6']+df['filter7']+df['filter8']

In [612]:
df_doubt = df.loc[conditions>0]

In [613]:
df_confident = df.loc[conditions==0]

In [614]:
print(len(df_doubt), ",", len(df_confident))

8158 , 264930

In [615]:
df_doubt.loc[df_doubt['filter7']==1]

,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,Full Address,H Status-flag,H Address,H House Number,H Street Name,H City,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City,Index,Full Entry,occupation,len_occ,Old_Occupation_info,add_sub_match,new_occ_found,std_occupation,change,sus,clean address,new h address-flag,new h house number,new h street name,new h city,new h county,unidentified h info,new h street 1,new h street 2,new h street type,h house number modifier,new address2 house number,new address2 street name,new address2 street 1,new address2 street 2,new address2 street type,new address2 city,new address2 county,unidentified address2 info,address2 house number modifier,filter1,filter2,filter3,filter4,filter5,filter6,filter7,filter8
1851,Yale Charles D,Charles,Yale,D,False,NaN,NaN,treas,36 E. 14th. h Ct.,Assume,36 E. 14TH. H CT.,36.0,E. 14TH. H CT.,NaN,NaN,NaN,NaN,NaN,1852,Yale Charles D. treas. 36 E. 14th. h Ct.,NaN,0,treas,NaN,FALSE,treas,0,NaN,36 E. 14th. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,36.0,E 14,NaN,NaN,NaN,NaN,NaN,TH.,NaN,0,0,0,0,0,0,1,0
1855,Yale G. Selden,G.,Yale,Selden,False,NaN,NaN,silverware,36 E 14th. h Ct.,Assume,36 E 14TH. H CT.,36.0,E 14TH. H CT.,NaN,NaN,NaN,NaN,NaN,1856,"Yale G. Selden, silverware, 36 E 14th. h Ct.",NaN,0,silverware,NaN,FALSE,silverware,0,NaN,36 E 14th. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,36.0,E 14,NaN,NaN,NaN,NaN,NaN,TH.,NaN,0,0,0,0,0,0,1,0
2162,Wrisley Frank,Frank,Wrisley,NaN,False,NaN,NaN,hotel,228 Fifth av. h Victoria h.,Assume,228 5TH AV. H VICTORIA H.,228.0,FIFTH AV. H VICTORIA H.,NaN,NaN,NaN,NaN,NaN,2163,"Wrisley Frank, hotel, 228 Fifth av. h Victoria h.",NaN,0,hotel,NaN,FALSE,hotel,0,NaN,228 Fifth av. h Victoria h.,h in between,NaN,VICTOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,228.0,VICTOR,NaN,NaN,NaN,NaN,NaN,5TH AV H IA,NaN,0,0,0,0,0,0,1,0
2865,Wopart William,William,Wopart,NaN,False,NaN,NaN,segarrnkr,segarrnkr h 16S.5 Attorney,Assume,SEGARRNKR H 16S.5 ATTORNEY,NaN,NaN,SEGARRNKR H 16S.5 ATTORNEY,NaN,NaN,NaN,NaN,2866,"Wopart William, segarrnkr h 16S.5 Attorney",segarrnkr,9,NaN,segarrnkr,TRUE,segarmaker,1,1.0,h 16S.5 Attorney,h in between,NaN,ATTORNEY,NaN,NaN,16S,NaN,NaN,NaN,16S.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEGARRNKR,NaN,0,0,1,0,0,0,1,0
3367,Wood Gilbert G,Gilbert,Wood,G,False,NaN,NaN,hardware,216 Sixth av. h 169th c Franklin av.,Assume,216 6TH AV. H 169TH C FRANKLIN AV.,216.0,SIXTH AV. H 169TH C FRANKLIN AV.,NaN,NaN,NaN,NaN,NaN,3368,"Wood Gilbert G. hardware, 216 Sixth av. h 169t...",NaN,0,hardware,NaN,FALSE,hardware,0,NaN,216 Sixth av. h 169th c Franklin av.,h in between,NaN,FRANKLIN,NaN,NaN,169TC AV,NaN,NaN,NaN,NaN,216.0,6,NaN,NaN,NaN,NaN,NaN,21 TH AV,NaN,0,0,0,0,0,0,1,0
5335,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,Wilson William T. (Rev.) h Kingsbridge,Assume,WILSON WILLIAM T. (REV.) H KINGSBRIDGE,NaN,NaN,WILSON WILLIAM T. (REV.) H KINGSBRIDGE,NaN,NaN,NaN,NaN,5336,Wilson William T. (Rev.) h Kingsbridge,NaN,0,NaN,NaN,FALSE,NaN,0,NaN,Wilson William T. (Rev.) h Kingsbridge,h in between,NaN,RIDGE,NaN,KINGS,B,NaN,NaN,NaN,NaN,NaN,N WILLIAM,NaN,NaN,NaN,NaN,NaN,WILSO T. (REV.),NaN,0,0,0,0,0,0,1,0
6269,Willson Thos. E,Thos.,Willson,E,False,NaN,NaN,editor,35 Park row. h Tremont,Assume,35 PARK ROW. H TREMONT,35.0,PARK ROW. H TREMONT,NaN,NaN,NaN,NaN,NaN,6270,"Willson Thos. E. editor, 35 Park row. h Tremont",NaN,0,editor,NaN,FALSE,editors,0,NaN,35 Park row. h Tremont,h in between,NaN,TREMONT,NaN,NaN,H,NaN,NaN,NaN,NaN,35.0,PARK ROW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0
8450,Whiton Edward N,Edward,Whiton,N,False,NaN,NaN,banker,7 Exchange ct. h Pier-,Assume,7 EXCHANGE CT. H PIER,7.0,EXCHANGE CT. H PIER-,NaN,NaN,NaN,NaN,NaN,8451,"Whiton Edward N. banker, 7 Exchange ct. h Pier-",NaN,0,banker,NaN,FALSE,banker,0,NaN,7 Exchange ct. h Pier-,h in between,NaN,PIER,NaN,NaN,H,NaN,NaN,NaN,NaN,7.0,EXCHANGE CT,NaN,NaN,NaN,NaN,NaN,.,NaN,0,0,0,0,0,0,1,0
8767,Whitelegge James H,James,Whitelegge,H,False,NaN,NaN,lawyer,64 College pl. h Fordham,Assume,64 COLLEGE PL. H FORDHAM,64.0,COLLEGE PL. H FORDHAM,NaN,NaN,NaN,NaN,NaN,8768,Whitelegge James H. lawyer. 64 College pl. h F...,NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,64 College pl. h Fordham,h in between,NaN,FORD,NaN,NaN,HAM,NaN,NaN,NaN,NaN,NaN,64,NaN,NaN,NaN,COLLEGE,NaN,PL.,NaN,0,0,0,0,0,0,1,0
8800,White Niles G,Niles,White,G,False,NaN,NaN,stone,ft. W. 14th. h Ct.,Assume,FT. W. 14TH. H CT.,NaN,NaN,FT. W. 14TH. H CT.,NaN,NaN,NaN,NaN,8801,"White Niles G. stone, ft. W. 14th. h Ct.",NaN,0,stone,NaN,FALSE,stoneware,0,NaN,ft. W. 14th. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,NaN,W 14,NaN,NaN,NaN,NaN,NaN,FT. TH.,NaN,0,0,0,0,0,0,1,0
10046,Wetzel Wilhelm,Wilhelm,Wetzel,NaN,False,NaN,NaN,physician,749 Fifth av. h Buckingham h.,Assume,749 5TH AV. H BUCKINGHAM H.,749.0,FIFTH AV. H BUCKINGHAM H.,NaN,NaN,NaN,NaN,NaN,10047,"Wetzel Wilhelm, physician, 749 Fifth av. h Buc...",NaN,0,physician,NaN,FALSE,physician,0,NaN,749 Fifth av. h Buckingham h.,h in between,NaN,KING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,749.0,AV H,NaN,NaN,NaN,NaN,NaN,5TH BUCKINGHAM,NaN,0,0,0,0,0,0,1,0
11460,Wells James N,James,Wells,N,False,NaN,NaN,jr notary,191 Ninth av. h River-,Assume,191 9TH AV. H RIVER,191.0,NINTH AV. H RIVER-,NaN,NaN,NaN,NaN,NaN,11461,"Wells James N. jr. notary, 191 Ninth av. h River-",NaN,0,jr notary,NaN,FALSE,jr notary,0,NaN,191 Ninth av. h River-,h in between,NaN,RIVER,NaN,NaN,H,NaN,NaN,NaN,NaN,191.0,9,NaN,NaN,NaN,NaN,NaN,11 TH AV,NaN,0,0,0,0,0,0,1,0
14180,Washburn Robert,Robert,Washburn,NaN,False,NaN,NaN,hay,W. 34th n Eleventh av. h Livingston,Assume,W. 34TH N 11TH AV. H LIVINGSTON,NaN,NaN,W. 34TH N ELEVENTH AV. H LIVINGSTON,NaN,NaN,NaN,NaN,14181,"Washburn Robert, hay, W. 34th n Eleventh av. h...",NaN,0,hay,NaN,FALSE,hay,0,NaN,W. 34th n Eleventh av. h Livingston,h in between,NaN,LIVINGSTON,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,N 11,NaN,NaN,NaN,NaN,NaN,W 34TH TH AV,NaN,0,0,0,0,0,0,1,0
17875,Vongerichten Henry,Henry,Vongerichten,NaN,False,NaN,NaN,meat,36 Clinton mkt. h oJ Christopher,Assume,36 CLINTON MKT. H OJ CHRISTOPHER,36.0,CLINTON MKT. H OJ CHRISTOPHER,NaN,NaN,NaN,NaN,NaN,17876,"Vongerichten Henry, meat, 36 Clinton mkt. h oJ...",NaN,0,meat,NaN,FALSE,meat,0,NaN,36 Clinton mkt. h oJ Christopher,h in between,NaN,CHRISTOPHER,NaN,NaN,OJ,NaN,NaN,NaN,NaN,36.0,CLINTON,NaN,NaN,NaN,NaN,NaN,MKT.,NaN,0,0,0,0,0,0,1,0
18900,Veth John,John,Veth,NaN,False,NaN,NaN,wood,154th n Courtland av. h 153d n Courtland av.,Assume,154TH N COURTLAND AV. H 153D N COURTLAND AV.,NaN,NaN,154TH N COURTLAND AV. H 153D N COURTLAND AV.,NaN,NaN,NaN,NaN,18901,"Veth John, wood, 154th n Courtland av. h 153d ...",NaN,0,wood,NaN,FALSE,wood,0,NaN,154th n Courtland av. h 153d n Courtland av.,h in between,NaN,COURTLAND,NaN,NaN,153D N AV,NaN,NaN,NaN,NaN,NaN,COURTLAND,NaN,NaN,NaN,NaN,NaN,154TH N AV,NaN,0,0,0,0,0,0,1,0
20638,Valentine Samuel M,Samuel,Valentine,M,False,NaN,NaN,physician,177 Madison av. h Woodlawn,Assume,177 MADISON AV. H WOODLAWN,177.0,MADISON AV. H WOODLAWN,NaN,NaN,NaN,NaN,NaN,20639,"Valentine Samuel M. physician, 177 Madison av....",NaN,0,physician,NaN,FALSE,physician,0,NaN,177 Madison av. h Woodlawn,h in between,NaN,WOODLAWN,NaN,NaN,H,NaN,NaN,NaN,NaN,177.0,MADISON,NaN,NaN,NaN,NaN,NaN,AV,NaN,0,0,0,0,0,0,1,0
21531,Underhill Philip R,Philip,Underhill,R,False,NaN,NaN,NaN,64 College pl. h Coleman h.,Assume,64 COLLEGE PL. H COLEMAN H.,64.0,COLLEGE PL. H COLEMAN H.,NaN,NaN,NaN,NaN,NaN,21532,Underhill Philip R. 64 College pl. h Coleman h.,NaN,0,NaN,NaN,FALSE,NaN,0,NaN,64 College pl. h Coleman h.,h in between,NaN,COLEMAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,COLEMAN,NaN,NaN,NaN,COLLEGE,NaN,PL. H,NaN,0,0,0,0,0,0,1,0
22074,Tuthill James W,James,Tuthill,W,False,NaN,NaN,agent,68 W. 34th. h Ct.,Assume,68 W. 34TH. H CT.,68.0,W. 34TH. H CT.,NaN,NaN,NaN,NaN,NaN,22075,"Tuthill James W. agent, 68 W. 34th. h Ct.",NaN,0,agent,NaN,FALSE,agent,0,NaN,68 W. 34th. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,68.0,W 34,NaN,NaN,NaN,NaN,NaN,TH.,NaN,0,0,0,0,0,0,1,0
22208,Turner HÃ¢ÂÂy,HÃ¢ÂÂy,Turner,NaN,False,NaN,NaN,shoes,shoes.W. 155th n Tenth av. h Tremont,Assume,SHOES.W. 155TH N 10TH AV. H TREMONT,NaN,NaN,SHOES.W. 155TH N TENTH AV. H TREMONT,NaN,NaN,NaN,NaN,22209,"Turner HÃ¢ÂÂy, shoes.W. 155th n Tenth av. h ...",shoes,5,NaN,shoes,TRUE,shoes,1,NaN,W. 155th n Tenth av. h Tremont,h in between,NaN,TREMONT,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,W 155,NaN,NaN,NaN,NaN,NaN,SHOES.TH N 10TH AV,NaN,0,0,0,0,0,0,1,0
22212,Turner Henry R,Henry,Turner,R,False,NaN,NaN,sec,168 B'way. h Ct.,Assume,168 B'WAY. H CT.,168.0,B'WAY. H CT.,NaN,NaN,NaN,NaN,NaN,22213,Turner Henry R. sec. 168 B'way. h Ct.,NaN,0,sec,NaN,FALSE,seacaptain,0,NaN,168 B'way. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,NaN,168,NaN,NaN,NaN,NaN,NaN,B'WAY.,NaN,0,0,0,0,0,0,1,0
22900,Trowbridge William P,William,Trowbridge,P,False,NaN,NaN,prof,prof. E. 49th c Madison av. h Grand Union h.,Assume,PROF. E. 49TH C MADISON AV. H GRAND UNION H.,NaN,NaN,PROF. E. 49TH C MADISON AV. H GRAND UNION H.,NaN,NaN,NaN,NaN,22901,Trowbridge William P. prof. E. 49th c Madison ...,prof,4,NaN,prof,TRUE,prof,1,NaN,E. 49th c Madison av. h Grand Union h.,h in between,NaN,GRAND,NaN,UNION,NaN,NaN,NaN,NaN,NaN,NaN,MADISON,NaN,NaN,NaN,NaN,UNION,PROF. E 49TH C AV H GRAND,NaN,0,0,0,0,0,0,1,0
23232,Tretheway Edward V. R,NaN,NaN,NaN,False,NaN,NaN,clerk,37 Barclay h Fordham,Assume,37 BARCLAY H FORDHAM,37.0,BARCLAY H FORDHAM,NaN,NaN,NaN,NaN,NaN,23233,"Tretheway Edward V. R. clerk, 37 Barclay h For...",NaN,0,clerk,NaN,FALSE,clerk,0,NaN,37 Barclay h Fordham,h in between,NaN,FORD,NaN,NaN,HAM,NaN,NaN,NaN,NaN,37.0,BARCLAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0
25562,Thorp Alfred H,Alfred,Thorp,H,False,NaN,NaN,architect,31 Union sq. h Ct.,Assume,31 UNION SQ. H CT.,31.0,UNION SQ. H CT.,NaN,NaN,NaN,NaN,NaN,25563,"Thorp Alfred H. architect, 31 Union sq. h Ct.",NaN,0,architect,NaN,FALSE,architect,0,NaN,31 Union sq. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,31.0,UNION SQ,NaN,NaN,NaN,NaN,NaN,.,NaN,0,0,0,0,0,0,1,0
26397,Thompson Andrew,Andrew,Thompson,NaN,False,NaN,NaN,cashier,300 Third av. h Ct,Assume,300 3RD AV. H CT,300.0,THIRD AV. H CT,NaN,NaN,NaN,NaN,NaN,26398,"Thompson Andrew, cashier. 300 Third av. h Ct",NaN,0,cashier,NaN,FALSE,cashier,0,NaN,300 Third av. h Ct,h in between,NaN,CT,NaN,NaN,H,NaN,NaN,NaN,NaN,300.0,3,NaN,NaN,NaN,NaN,NaN,00 RD AV,NaN,0,0,0,0,0,0,1,0
29087,Swartwout Robert Dunscombo,Robert,Swartwout,Dunscombo,False,NaN,NaN,mer,157 Maiden la. h Ct.,Assume,157 MAIDEN LA. H CT.,157.0,MAIDEN LA. H CT.,NaN,NaN,NaN,NaN,NaN,29088,"Swartwout Robert Dunscombo, mer. 157 Maiden la...",NaN,0,mer,NaN,FALSE,mer,0,NaN,157 Maiden la. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,157.0,MAIDEN LA,NaN,NaN,NaN,NaN,NaN,.,NaN,0,0,0,0,0,0,1,0
30754,Stuart Levi U,Levi,Stuart,U,False,NaN,NaN,organs,250 Third av. h Fordham,Assume,250 3RD AV. H FORDHAM,250.0,THIRD AV. H FORDHAM,NaN,NaN,NaN,NaN,NaN,30755,Stuart Levi U. organs. 250 Third av. h Fordham,NaN,0,organs,NaN,FALSE,organist,0,NaN,250 Third av. h Fordham,h in between,NaN,FORD,NaN,NaN,HAM,NaN,NaN,NaN,NaN,250.0,3,NaN,NaN,NaN,NaN,NaN,RD AV,NaN,0,0,0,0,0,0,1,0
30863,Strong Edward,Edward,Strong,NaN,False,NaN,NaN,sec,64 College pl. h Coleman h.,Assume,64 COLLEGE PL. H COLEMAN H.,64.0,COLLEGE PL. H COLEMAN H.,NaN,NaN,NaN,NaN,NaN,30864,"Strong Edward, sec. 64 College pl. h Coleman h.",NaN,0,sec,NaN,FALSE,seacaptain,0,NaN,64 College pl. h Coleman h.,h in between,NaN,COLEMAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,COLEMAN,NaN,NaN,NaN,COLLEGE,NaN,PL. H,NaN,0,0,0,0,0,0,1,0
32397,Stoker Richard,Richard,Stoker,NaN,False,NaN,NaN,hides,Elton av. n 163d. h 2d pl. n Grove hill,Assume,ELTON AV. N 163D. H 2D PL. N GROVE HILL,NaN,NaN,ELTON AV. N 163D. H 2D PL. N GROVE HILL,NaN,NaN,NaN,NaN,32398,"Stoker Richard, hides, Elton av. n 163d. h 2d ...",NaN,0,hides,NaN,FALSE,hides,0,NaN,Elton av. n 163d. h 2d pl. n Grove hill,h in between,NaN,GROVE,NaN,NaN,2D PL. N HILL,NaN,NaN,NaN,NaN,NaN,ELTON,NaN,NaN,NaN,NaN,NaN,AV N 163D.,NaN,0,0,0,0,0,0,1,0
32608,Stillings Isaac I,Isaac,Stillings,I,False,NaN,NaN,harness heights,275 Fifth av. h Washn,Assume,275 5TH AV. H WASHN,275.0,FIFTH AV. H WASHN,NaN,NaN,NaN,NaN,NaN,32609,"Stillings Isaac I. harness, 275 Fifth av. h Wa...",NaN,0,harness heights,NaN,FALSE,harness,0,NaN,275 Fifth av. h Washn,h in between,NaN,ASH,NaN,NaN,WN,NaN,NaN,NaN,NaN,275.0,5,NaN,NaN,NaN,NaN,NaN,27 TH AV,NaN,0,0,0,0,0,0,1,0
35141,Stedman James M,James,Stedman,M,False,NaN,NaN,foundry,136th n Third av. h 157th n Elton av.,Assume,136TH N 3RD AV. H 157TH N ELTON AV.,NaN,NaN,136TH N THIRD AV. H 157TH N ELTON AV.,NaN,NaN,NaN,NaN,35142,"Stedman James M. foundry, 136th n Third av. h ...",NaN,0,foundry,NaN,False,foundry,0,NaN,136th n Third av. h 157th n Elton av.,h in between,NaN,ELTON,NaN,NaN,157TN AV,NaN,NaN,NaN,NaN,NaN,136,NaN,NaN,NaN,NaN,NaN,TH N 3RD AV,NaN,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220252,Davidson Julian O,Julian,Davidson,O,False,NaN,NaN,artist,372 Sixth av. h Ford-,Assume,372 6TH AV. H FORD,372.0,SIXTH AV. H FORD-,NaN,NaN,NaN,NaN,NaN,220253,"Davidson Julian O. artist, 372 Sixth av. h Ford-",NaN,0,artist,NaN,FALSE,artist,0,NaN,372 Sixth av. h Ford-,h in between,NaN,FORD,NaN,NaN,H,NaN,NaN,NaN,NaN,372.0,6,NaN,NaN,NaN,NaN,NaN,TH AV,NaN,0,0,0,0,0,0,1,0
222971,Cumming Edward,Edward,Cumming,NaN,False,NaN,NaN,glue curled hair &e,274 Pearl & 153d c Bergen av. h Fordham,Assume,274 PEARL & 153D C BERGEN AV. H FORDHAM,274.0,PEARL & 153D C BERGEN AV. H FORDHAM,NaN,NaN,NaN,NaN,NaN,222972,"Cumming Edward, glue, curled hair, &e. 274 Pea...",NaN,0,glue curled hair &e,NaN,FALSE,glue and curled hair mfrs,0,NaN,274 Pearl & 153d c Bergen av. h Fordham,h in between,NaN,FORD,NaN,NaN,HAM,NaN,NaN,NaN,NaN,274.0,BERGEN,NaN,NaN,NaN,NaN,NaN,PEARL & 153D C AV,NaN,0,0,0,0,0,0,1,0
223059,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,Cummings Lawrence P. (Rev.) h Fulton av. n,Assume,CUMMINGS LAWRENCE P. (REV.) H FULTON AV. N,NaN,NaN,CUMMINGS LAWRENCE P. (REV.) H FULTON AV. N,NaN,NaN,NaN,NaN,223060,Cummings Lawrence P. (Rev.) h Fulton av. n,NaN,0,NaN,NaN,FALSE,NaN,0,NaN,Cummings Lawrence P. (Rev.) h Fulton av. n,h in between,NaN,FULTON,NaN,NaN,AV N,NaN,NaN,NaN,NaN,NaN,LAWRENCE,NaN,NaN,NaN,NaN,NaN,CUMMINGS P. (REV.),NaN,0,0,0,0,0,0,1,0
223687,Crowe Michael,Michael,Crowe,NaN,False,NaN,NaN,smith,149th n Courtland av. h 148th n Courtland av.,Assume,149TH N COURTLAND AV. H 148TH N COURTLAND AV.,NaN,NaN,149TH N COURTLAND AV. H 148TH N COURTLAND AV.,NaN,NaN,NaN,NaN,223688,"Crowe Michael, smith, 149th n Courtland av. h ...",NaN,0,smith,NaN,FALSE,smith,0,NaN,149th n Courtland av. h 148th n Courtland av.,h in between,NaN,COURTLAND,NaN,NaN,148TN AV,NaN,NaN,NaN,NaN,NaN,COURTLAND,NaN,NaN,NaN,NaN,NaN,149TH N AV,NaN,0,0,0,0,0,0,1,0
226554,Corner Wm. M,Wm.,Corner,M,False,NaN,NaN,painter,651 Sixth av. h Fordham,Assume,651 6TH AV. H FORDHAM,651.0,SIXTH AV. H FORDHAM,NaN,NaN,NaN,NaN,NaN,226555,"Corner Wm. M. painter, 651 Sixth av. h Fordham",NaN,0,painter,NaN,FALSE,painter,0,NaN,651 Sixth av. h Fordham,h in between,NaN,FORD,NaN,NaN,HAM,NaN,NaN,NaN,NaN,651.0,6,NaN,NaN,NaN,NaN,NaN,51 TH AV,NaN,0,0,0,0,0,0,1,0
227467,Cook Robert H,Robert,Cook,H,False,NaN,NaN,sec,33 Coenties sl. h Whitehall,Assume,33 COENTIES SL. H WHITEHALL,33.0,COENTIES SL. H WHITEHALL,NaN,NaN,NaN,NaN,NaN,227468,Cook Robert H. sec. 33 Coenties sl. h Whitehall,NaN,0,sec,NaN,FALSE,seacaptain,0,NaN,33 Coenties sl. h Whitehall,h in between,NaN,WHITEHALL,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,33,NaN,NaN,NaN,NaN,NaN,COENTIES SL.,NaN,0,0,0,0,0,0,1,0
229126,Conkling Thomas W,Thomas,Conkling,W,False,NaN,NaN,mats,Mott av. n 138th. h 149th c Mott av.,Assume,MOTT AV. N 138TH. H 149TH C MOTT AV.,NaN,NaN,MOTT AV. N 138TH. H 149TH C MOTT AV.,NaN,NaN,NaN,NaN,229127,"Conkling Thomas W. mats, Mott av. n 138th. h 1...",NaN,0,mats,NaN,FALSE,mats,0,NaN,Mott av. n 138th. h 149th c Mott av.,h in between,NaN,MOTT,NaN,NaN,149TC AV,NaN,NaN,NaN,NaN,NaN,N 13,NaN,NaN,NaN,NaN,NaN,MOTT AV 8TH.,NaN,0,0,0,0,0,0,1,0
229614,Galindo Edwin A.,NaN,NaN,NaN,False,NaN,NaN,frames,Galindo Edwin A.frames.40 Dey. h 150th n Mott av.,Assume,GALINDO EDWIN A.FRAMES.40 DEY. H 150TH N MOTT AV.,NaN,NaN,GALINDO EDWIN A.FRAMES.40 DEY. H 150TH N MOTT AV.,NaN,NaN,NaN,NaN,189114,Galindo Edwin A.frames.40 Dey. h 150th n Mott av.,frames,6,NaN,Galind,assume,frames,1,NaN,40 Dey. h 150th n Mott av.,h in between,NaN,MOTT,NaN,NaN,150TN AV,NaN,NaN,NaN,NaN,NaN,AMES,NaN,NaN,NaN,NaN,NaN,GALINDO EDWIN A.FR.40 DEY.,NaN,0,0,0,0,0,0,1,0
230495,Collins Aaron L,Aaron,Collins,L,False,NaN,NaN,pres,6 Maiden la. h Ct.,Assume,6 MAIDEN LA. H CT.,6.0,MAIDEN LA. H CT.,NaN,NaN,NaN,NaN,NaN,230496,Collins Aaron L. pres. 6 Maiden la. h Ct.,NaN,0,pres,NaN,FALSE,press,0,NaN,6 Maiden la. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,6.0,MAIDEN LA,NaN,NaN,NaN,NaN,NaN,.,NaN,0,0,0,0,0,0,1,0
231006,Cole Isaac,Isaac,Cole,NaN,False,NaN,NaN,jeweler,30 Maiden la. h Ct.,Assume,30 MAIDEN LA. H CT.,30.0,MAIDEN LA. H CT.,NaN,NaN,NaN,NaN,NaN,231007,"Cole Isaac, jeweler, 30 Maiden la. h Ct.",NaN,0,jeweler,NaN,FALSE,jeweller,0,NaN,30 Maiden la. h Ct.,h in between,NaN,CT,NaN,NaN,.,NaN,NaN,NaN,NaN,30.0,MAIDEN LA,NaN,NaN,NaN,NaN,NaN,.,NaN,0,0,0,0,0,0,1,0
233579,Clarke Christopher C,Christopher,Clarke,C,False,NaN,NaN,lawyer,Third av. c 146th. h Grove av. n 161st,Assume,3RD AV. C 146TH. H GROVE AV. N 161ST,NaN,NaN,THIRD AV. C 146TH. H GROVE AV. N 161ST,NaN,NaN,NaN,NaN,233580,"Clarke Christopher C. lawyer, Third av. c 146t...",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,Third av. c 146th. h Grove av. n 161st,h in between,NaN,GROVE,NaN,NaN,AV N 161ST,NaN,NaN,NaN,NaN,NaN,AV C,NaN,NaN,NaN,NaN,NaN,3RD 146TH.,NaN,0,0,0,0,0,0,1,0
234178,CLARK CYRUS,CYRUS,CLARK,NaN,False,NaN,NaN,gloves,25 Waverley pl. h Riverside av. n W. 90th,Assume,25 WAVERLEY PL. H RIVERSIDE AV. N W. 90TH,25.0,WAVERLEY PL. H RIVERSIDE AV. N W. 90TH,NaN,NaN,NaN,NaN,NaN,234179,"CLARK CYRUS, gloves, 25 Waverley pl. h Riversi...",NaN,0,gloves,NaN,FALSE,gloves,0,NaN,25 Waverley pl. h Riverside av. n W. 90th,h in between,NaN,RIVERSIDE,NaN,NaN,AV N W 90TH,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN,NaN,NaN,WAVERLEY PL.,NaN,0,0,0,0,0,0,1,0
234984,Cholwell George R. office Board of Underwriters,NaN,NaN,NaN,False,NaN,NaN,NaN,51 Wall h Ct,Assume,51 WALL H CT,51.0,WALL H CT,NaN,NaN,NaN,NaN,NaN,234985,Cholwell George R. office Board of Underwriter...,NaN,0,NaN,NaN,FALSE,NaN,0,NaN,51 Wall h Ct,h in between,NaN,CT,NaN,NaN,H,NaN,NaN,NaN,NaN,51.0,WALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0
236957,Cassebeer Richard B,Richard,Cassebeer,B,False,NaN,NaN,drugs,378 Seventh av. h East Chester,Assume,378 7TH AV. H EAST CHESTER,378.0,SEVENTH AV. H EAST CHESTER,NaN,NaN,NaN,NaN,NaN,236958,"Cassebeer Richard B. drugs, 378 Seventh av. h ...",NaN,0,drugs,NaN,FALSE,drugs,0,NaN,378 Seventh av. h East Chester,h in between,NaN,CHESTER,NaN,NaN,EAST,NaN,NaN,NaN,NaN,378.0,7,NaN,NaN,NaN,NaN,NaN,38 TH AV,NaN,0,0,0,0,0,0,1,0
238085,Carrio Jos6,Jos6,Carrio,NaN,False,NaN,NaN,segars,"100 Maiden la. h Second c Smith , BÃ¢ÂÂklyn",Assume,"100 MAIDEN LA. H 2ND C SMITH , BÃÂÂKLYN",100.0,"MAIDEN LA. H SECOND C SMITH ,",BÃÂÂKLYN,NaN,NaN,NaN,NaN,238086,"Carrio Jos6, segars, 100 Maiden la. h Second c...",NaN,0,segars,NaN,FALSE,segars,0,NaN,"100 Maiden la. h Second c Smith , BÃ¢ÂÂklyn",h in between,NaN,SMITH,NaN,NaN,"2ND C , BÃÂÂKLYN",NaN,NaN,NaN,NaN,100.0,MAIDEN LA,NaN,NaN,NaN,NaN,NaN,.,NaN,0,0,0,0,0,0,1,0
241241,Byrns John,John,Byrns,NaN,False,NaN,NaN,shirts,217 Av. C. h Lewis,Assume,217 AV. C. H LEWIS,217.0,AV. C. H LEWIS,NaN,NaN,NaN,NaN,NaN,241242,"Byrns John, shirts, 217 Av. C. h Lewis",NaN,0,shirts,NaN,FALSE,shirts,0,NaN,217 Av. C. h Lewis,h in between,NaN,LEWIS,NaN,NaN,H,NaN,NaN,NaN,NaN,217.0,AV C,NaN,NaN,NaN,NaN,NaN,.,NaN,0,0,0,0,0,0,1,0

In [616]:
pd.set_option('display.max_columns', None)

In [617]:
#df_doubt.loc[df_doubt['filter7']==1].to_excel("filter7-2.xlsx")

In [618]:
df_confident

,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,Full Address,H Status-flag,H Address,H House Number,H Street Name,H City,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City,Index,Full Entry,occupation,len_occ,Old_Occupation_info,add_sub_match,new_occ_found,std_occupation,change,sus,clean address,new h address-flag,new h house number,new h street name,new h city,new h county,unidentified h info,new h street 1,new h street 2,new h street type,h house number modifier,new address2 house number,new address2 street name,new address2 street 1,new address2 street 2,new address2 street type,new address2 city,new address2 county,unidentified address2 info,address2 house number modifier,filter1,filter2,filter3,filter4,filter5,filter6,filter7,filter8
0,Zoller Ignatz,Ignatz,Zoller,NaN,False,NaN,NaN,shoes,106 W. 24th,Assume,106 W. 24TH,106.0,W. 24TH,NaN,NaN,NaN,NaN,NaN,1,"Zoller Ignatz, shoes, 106 W. 24th",NaN,0,shoes,NaN,FALSE,shoes,0,NaN,106 W. 24th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
1,Zoller John,John,Zoller,NaN,False,NaN,NaN,tailor,221 Ninth av.,Assume,221 9TH AV.,221.0,NINTH AV.,NaN,NaN,NaN,NaN,NaN,2,"Zoller John, tailor. 221 Ninth av.",NaN,0,tailor,NaN,FALSE,tailor,0,NaN,221 Ninth av.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
2,Zoller Robert W,Robert,Zoller,W,False,NaN,NaN,birds,5 N. William,Assume,5 N. WILLIAM,5.0,N. WILLIAM,NaN,NaN,NaN,NaN,NaN,3,"Zoller Robert W. birds, 5 N. William",NaN,0,birds,NaN,FALSE,birdstore,0,NaN,5 N. William,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
3,Zoller Stephen,Stephen,Zoller,NaN,False,NaN,NaN,molder,h r 504 W. 55th,TRUE,H R 504 W. 55TH,504.0,W. 55TH,NaN,NaN,NaN,NaN,NaN,4,"Zoller Stephen, molder, h r 504 W. 55th",NaN,0,molder,NaN,FALSE,molder,0,NaN,h r 504 W. 55th,start with h,504.0,W 55,NaN,NaN,R TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
4,Zollfrai Sarah,Sarah,Zollfrai,NaN,False,NaN,NaN,nurse,h 934 First av.,TRUE,H 934 1ST AV.,934.0,FIRST AV.,NaN,NaN,NaN,NaN,NaN,5,"Zollfrai Sarah, nurse, h 934 First av.",NaN,0,nurse,NaN,FALSE,nurse,0,NaN,h 934 First av.,start with h,934.0,1,NaN,NaN,ST AV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
5,Zollfroi Abraham,Abraham,Zollfroi,NaN,False,NaN,NaN,pedlar,h 202 Seventh,TRUE,H 202 7TH,202.0,SEVENTH,NaN,NaN,NaN,NaN,NaN,6,"Zollfroi Abraham, pedlar, h 202 Seventh",NaN,0,pedlar,NaN,FALSE,pedlar,0,NaN,h 202 Seventh,start with h,202.0,7,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
6,Zollfrey Moses,Moses,Zollfrey,NaN,False,NaN,NaN,cutter,h 208 E. 49th,TRUE,H 208 E. 49TH,208.0,E. 49TH,NaN,NaN,NaN,NaN,NaN,7,"Zollfrey Moses, cutter, h 208 E. 49th",NaN,0,cutter,NaN,FALSE,cutter,0,NaN,h 208 E. 49th,start with h,208.0,E 49,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
7,Zollie Louis,Louis,Zollie,NaN,False,NaN,NaN,NaN,h r 10 Dominick,TRUE,H R 10 DOMINICK,10.0,DOMINICK,NaN,NaN,NaN,NaN,NaN,8,"Zollie Louis, h r 10 Dominick",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h r 10 Dominick,start with h,10.0,DOMINICK,NaN,NaN,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
8,Zollikoffer Oscar,Oscar,Zollikoffer,NaN,False,NaN,NaN,pres,"1545) BÃ¢ÂÂway,h 210 W. 46th",TRUE,H 210 W. 46TH,210.0,W. 46TH,NaN,1545) BÃ¢ÂÂway,NaN,NaN,1545) BÃ¢ÂÂway,9,"Zollikoffer Oscar, pres. 1545) BÃ¢ÂÂway, h 2...",NaN,0,pres,NaN,FALSE,press,0,NaN,"1545) BÃ¢ÂÂway,h 210 W. 46th",start with h,210.0,W 46,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
9,Zollikoffer Oscar F,Oscar,Zollikoffer,F,False,NaN,NaN,sec,"1549 BÃ¢ÂÂway,h 65 W. 54th",TRUE,H 65 W. 54TH,65.0,W. 54TH,NaN,1549 BÃ¢ÂÂway,1549.0,BÃ¢ÂÂway,NaN,10,"Zollikoffer Oscar F. sec. 1549 BÃ¢ÂÂway, h 6...",NaN,0,sec,NaN,FALSE,seacaptain,0,NaN,"1549 BÃ¢ÂÂway,h 65 W. 54th",start with h,65.0,W 54,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
10,Zollinger Caroline,Caroline,Zollinger,NaN,True,William,NaN,NaN,h 241 W. 53d,TRUE,H 241 W. 53D,241.0,W. 53D,NaN,NaN,NaN,NaN,NaN,11,"Zollinger Caroline, wid. William, h 241 W. 53d",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h 241 W. 53d,start with h,241.0,W 53,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
11,Zollmann Leopold,Leopold,Zollmann,NaN,False,NaN,NaN,shoes,344 E. Houston,Assume,344 E. HOUSTON,344.0,E. HOUSTON,NaN,NaN,NaN,NaN,NaN,12,"Zollmann Leopold, shoes, 344 E. Houston",NaN,0,shoes,NaN,FALSE,shoes,0,NaN,344 E. Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
12,Zollner Charles,Charles,Zollner,NaN,False,NaN,NaN,express,h 315 W. 35th,TRUE,H 315 W. 35TH,315.0,W. 35TH,NaN,NaN,NaN,NaN,NaN,13,"Zollner Charles, express, h 315 W. 35th",NaN,0,express,NaN,FALSE,express,0,NaN,h 315 W. 35th,start with h,315.0,W 35,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
13,Zollver Elizabeth,Elizabeth,Zollver,NaN,False,NaN,NaN,dressmkr,142 Third,Assume,142 3RD,142.0,THIRD,NaN,NaN,NaN,NaN,NaN,14,"Zollver Elizabeth, dressmkr. 142 Third",NaN,0,dressmkr,NaN,FALSE,dressmaker,0,NaN,142 Third,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
14,Zollver John,John,Zollver,NaN,False,NaN,NaN,tailor,h 142 Third,TRUE,H 142 3RD,142.0,THIRD,NaN,NaN,NaN,NaN,NaN,15,"Zollver John, tailor, h 142 Third",NaN,0,tailor,NaN,FALSE,tailor,0,NaN,h 142 Third,start with h,142.0,3,NaN,NaN,RD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
15,Zolnowski Vincent,Vincent,Zolnowski,NaN,False,NaN,NaN,physician,h 33 W. 16th,TRUE,H 33 W. 16TH,33.0,W. 16TH,NaN,NaN,NaN,NaN,NaN,16,"Zolnowski Vincent, physician, h 33 W. 16th",NaN,0,physician,NaN,FALSE,physician,0,NaN,h 33 W. 16th,start with h,33.0,W 16,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
16,Zolvert Auguste,Auguste,Zolvert,NaN,False,NaN,NaN,tailor,h 41 Marion,TRUE,H 41 MARION,41.0,MARION,NaN,NaN,NaN,NaN,NaN,17,"Zolvert Auguste, tailor, h 41 Marion",NaN,0,tailor,NaN,FALSE,tailor,0,NaN,h 41 Marion,start with h,41.0,MARION,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
17,Zoncada Frederic W,Frederic,Zoncada,W,False,NaN,NaN,tinner,h 309 Pearl,TRUE,H 309 PEARL,309.0,PEARL,NaN,NaN,NaN,NaN,NaN,18,"Zoncada Frederic W. tinner, h 309 Pearl",NaN,0,tinner,NaN,FALSE,tinner,0,NaN,h 309 Pearl,start with h,309.0,PEARL,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
18,Zong Joseph,Joseph,Zong,NaN,False,NaN,NaN,driver,h 203 W. 30th,TRUE,H 203 W. 30TH,203.0,W. 30TH,NaN,NaN,NaN,NaN,NaN,19,"Zong Joseph, driver, h 203 W. 30th",NaN,0,driver,NaN,FALSE,driver,0,NaN,h 203 W. 30th,start with h,203.0,W 30,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
19,Zonino Michael,Michael,Zonino,NaN,False,NaN,NaN,laborer,h 203 S. 5th av.,TRUE,H 203 S. 5TH AV.,203.0,S. 5TH AV.,NaN,NaN,NaN,NaN,NaN,20,"Zonino Michael, laborer, h 203 S. 5th av.",NaN,0,laborer,NaN,FALSE,laborer,0,NaN,h 203 S. 5th av.,start with h,203.0,S 5,NaN,NaN,S. 5TAV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
20,Zons Christian T,Christian,Zons,T,False,NaN,NaN,hats,121 Third av.,Assume,121 3RD AV.,121.0,THIRD AV.,NaN,NaN,NaN,NaN,NaN,21,"Zons Christian T. hats, 121 Third av.",NaN,0,hats,NaN,FALSE,hats,0,NaN,121 Third av.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
21,Zonzy John,John,Zonzy,NaN,False,NaN,NaN,candy,87 Oliver,Assume,87 OLIVER,87.0,OLIVER,NaN,NaN,NaN,NaN,NaN,22,"Zonzy John, candy, 87 Oliver",NaN,0,candy,NaN,FALSE,candymaker,0,NaN,87 Oliver,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
22,Zook Stephen,Stephen,Zook,NaN,False,NaN,NaN,laborer,h 640 E. 13th,TRUE,H 640 E. 13TH,640.0,E. 13TH,NaN,NaN,NaN,NaN,NaN,23,"Zook Stephen, laborer, h 640 E. 13th",NaN,0,laborer,NaN,FALSE,laborer,0,NaN,h 640 E. 13th,start with h,640.0,E 13,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
23,Zopf George,George,Zopf,NaN,False,NaN,NaN,cabinetmkr,h 1519 First av.,TRUE,H 1519 1ST AV.,1519.0,FIRST AV.,NaN,NaN,NaN,NaN,NaN,24,"Zopf George, cabinetmkr. h 1519 First av.",NaN,0,cabinetmkr,NaN,FALSE,cabinetmaker,0,NaN,h 1519 First av.,start with h,1519.0,1,NaN,NaN,59 ST AV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
24,Zopfs Henry,Henry,Zopfs,NaN,False,NaN,NaN,harnessmkr,503 E. 18th,Assume,503 E. 18TH,503.0,E. 18TH,NaN,NaN,NaN,NaN,NaN,25,"Zopfs Henry, harnessmkr. 503 E. 18th",NaN,0,harnessmkr,NaN,FALSE,harnessmaker,0,NaN,503 E. 18th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
25,Zopfs Herman,Herman,Zopfs,NaN,False,NaN,NaN,waiter,h 51 Allen,TRUE,H 51 ALLEN,51.0,ALLEN,NaN,NaN,NaN,NaN,NaN,26,"Zopfs Herman, waiter, h 51 Allen",NaN,0,waiter,NaN,FALSE,waiter,0,NaN,h 51 Allen,start with h,51.0,ALLEN,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
26,Zoppe Michael,Michael,Zoppe,NaN,False,NaN,NaN,engineer,h 442 W. 53d,TRUE,H 442 W. 53D,442.0,W. 53D,NaN,NaN,NaN,NaN,NaN,27,"Zoppe Michael, engineer, h 442 W. 53d",NaN,0,engineer,NaN,FALSE,engineer,0,NaN,h 442 W. 53d,start with h,442.0,W 53,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
28,Zorkowski Aaron,Aaron,Zorkowski,NaN,False,NaN,NaN,broker,"11 New,h 956 Second av.",TRUE,H 956 2ND AV.,956.0,SECOND AV.,NaN,11 New,11.0,New,NaN,29,"Zorkowski Aaron, broker, 11 New, h 956 Second av.",NaN,0,broker,NaN,FALSE,broker,0,NaN,"11 New,h 956 Second av.",start with h,956.0,2,NaN,NaN,ND AV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
29,Zorkowski Mary,Mary,Zorkowski,NaN,True,Marx,NaN,NaN,h 956 Second av.,TRUE,H 956 2ND AV.,956.0,SECOND AV.,NaN,NaN,NaN,NaN,NaN,30,"Zorkowski Mary, wid. Marx, h 956 Second av.",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h 956 Second av.,start with h,956.0,2,NaN,NaN,ND AV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
30,Zorkowski Rieka,Rieka,Zorkowski,NaN,True,Samuel R,NaN,NaN,h 258 W. 44th,TRUE,H 258 W. 44TH,258.0,W. 44TH,NaN,NaN,NaN,NaN,NaN,31,"Zorkowski Rieka, wid. Samuel R. h 258 W. 44th",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h 258 W. 44th,start with h,258.0,W 44,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273058,Aarons Sylvester,Sylvester,Aarons,NaN,False,NaN,NaN,clerk,h 176 Suffolk,TRUE,H 176 SUFFOLK,176.0,SUFFOLK,NaN,NaN,NaN,NaN,NaN,273059,"Aarons Sylvester, clerk, h 176 Suffolk",NaN,0,clerk,NaN,FALSE,clerk,0,NaN,h 176 Suffolk,start with h,176.0,SUFFOLK,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273059,Aaronsohn Isaac,Isaac,Aaronsohn,NaN,False,NaN,NaN,barber,207 Broome,Assume,207 BROOME,207.0,BROOME,NaN,NaN,NaN,NaN,NaN,273060,"Aaronsohn Isaac, barber, 207 Broome",NaN,0,barber,NaN,FALSE,barbers,0,NaN,207 Broome,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273060,Aaronson Moses,Moses,Aaronson,NaN,False,NaN,NaN,tailor,h 647 Second av.,TRUE,H 647 2ND AV.,647.0,SECOND AV.,NaN,NaN,NaN,NaN,NaN,273061,"Aaronson Moses, tailor, h 647 Second av.",NaN,0,tailor,NaN,FALSE,tailor,0,NaN,h 647 Second av.,start with h,647.0,2,NaN,NaN,ND AV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273061,Aaronson Moses A,Moses,Aaronson,A,False,NaN,NaN,pedlar,h 28 E. BÃ¢ÂÂway,TRUE,H 28 E. BÃÂÂWAY,28.0,E. BÃÂÂWAY,NaN,NaN,NaN,NaN,NaN,273062,"Aaronson Moses A. pedlar, h 28 E. BÃ¢ÂÂway",NaN,0,pedlar,NaN,FALSE,pedlar,0,NaN,h 28 E. BÃ¢ÂÂway,start with h,NaN,28,NaN,NaN,E BÃÂÂWAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273062,Abarbanell Henry',Henry',Abarbanell,NaN,False,NaN,NaN,teacher,h 246 E. 44th,TRUE,H 246 E. 44TH,246.0,E. 44TH,NaN,NaN,NaN,NaN,NaN,273063,"Abarbanell Henry', teacher, h 246 E. 44th",NaN,0,teacher,NaN,FALSE,teacher,0,NaN,h 246 E. 44th,start with h,246.0,E 44,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273063,Abarbanell Jacob,Jacob,Abarbanell,NaN,False,NaN,NaN,lawyer,"206 BÃ¢ÂÂway,h 264 Eliza-",TRUE,H 264 ELIZA,264.0,ELIZA-,NaN,206 BÃ¢ÂÂway,206.0,BÃ¢ÂÂway,NaN,273064,"Abarbanell Jacob, lawyer, 206 BÃ¢ÂÂway, h 26...",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,"206 BÃ¢ÂÂway,h 264 Eliza-",start with h,NaN,264,NaN,NaN,ELIZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273064,Abarbanell Rudolph,Rudolph,Abarbanell,NaN,False,NaN,NaN,NaN,h 264 Elizabeth,TRUE,H 264 ELIZABETH,264.0,ELIZABETH,NaN,NaN,NaN,NaN,NaN,273065,"Abarbanell Rudolph, h 264 Elizabeth",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h 264 Elizabeth,start with h,264.0,ELIZABETH,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273065,Abb Joseph,Joseph,Abb,NaN,False,NaN,NaN,butcher,h r 443 W. 36th,TRUE,H R 443 W. 36TH,443.0,W. 36TH,NaN,NaN,NaN,NaN,NaN,273066,"Abb Joseph, butcher, h r 443 W. 36th",NaN,0,butcher,NaN,FALSE,butcher,0,NaN,h r 443 W. 36th,start with h,443.0,W 36,NaN,NaN,R TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273066,Abbatt Agnes D,Agnes,Abbatt,D,False,NaN,NaN,artist,337 Fourth av.,Assume,337 4TH AV.,337.0,FOURTH AV.,NaN,NaN,NaN,NaN,NaN,273067,"Abbatt Agnes D. artist, 337 Fourth av.",NaN,0,artist,NaN,FALSE,artist,0,NaN,337 Fourth av.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273067,Abbatt Caroline A. wid. Isaac,NaN,NaN,NaN,False,NaN,NaN,NaN,h 139 W. 22d,TRUE,H 139 W. 22D,139.0,W. 22D,NaN,NaN,NaN,NaN,NaN,273068,"Abbatt Caroline A. wid. Isaac, h 139 W. 22d",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h 139 W. 22d,start with h,139.0,W 22,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273068,Abbatt William D,William,Abbatt,D,False,NaN,NaN,clothing,"707 BÃ¢ÂÂway,h Westchester Ã¢ÂÂ ,",TRUE,"H WESTCHESTER ÃÂÂ ,",NaN,NaN,"WESTCHESTER ÃÂÂ ,",707 BÃ¢ÂÂway,707.0,BÃ¢ÂÂway,NaN,273069,"Abbatt William D. clothing, 707 BÃ¢ÂÂway, h ...",NaN,0,clothing,NaN,FALSE,clothing,0,NaN,"707 BÃ¢ÂÂway,h Westchester Ã¢ÂÂ ,",start with h,NaN,NaN,WESTCHESTER,NaN,"ÃÂÂ ,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273069,Abbe Charlotte C. wid. George W,NaN,NaN,NaN,False,NaN,NaN,NaN,h 32E. 20th,TRUE,H 32E. 20TH,NaN,NaN,32E. 20TH,NaN,NaN,NaN,NaN,273070,Abbe Charlotte C. wid. George W. h 32E. 20th,NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h 32E. 20th,start with h,NaN,E 20,NaN,NaN,32TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273070,Abbe Rob't,Rob't,Abbe,NaN,False,NaN,NaN,physician,282 Fourth av. h 32 E. 20th,Assume,282 4TH AV. H 32 E. 20TH,282.0,FOURTH AV. H 32 E. 20TH,NaN,NaN,NaN,NaN,NaN,273071,"Abbe Rob't, physician, 282 Fourth av. h 32 E. ...",NaN,0,physician,NaN,FALSE,physician,0,NaN,282 Fourth av. h 32 E. 20th,h in between,32.0,E 20,NaN,NaN,TH,NaN,NaN,NaN,NaN,282.0,4,NaN,NaN,NaN,NaN,NaN,TH AV,NaN,0,0,0,0,0,0,0,0
273071,Abbe Walter,Walter,Abbe,NaN,False,NaN,NaN,clerk,h 32 E. 20th,TRUE,H 32 E. 20TH,32.0,E. 20TH,NaN,NaN,NaN,NaN,NaN,273072,"Abbe Walter, clerk, h 32 E. 20th",NaN,0,clerk,NaN,FALSE,clerk,0,NaN,h 32 E. 20th,start with h,32.0,E 20,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273072,Abberley Elias T,Elias,Abberley,T,False,NaN,NaN,painter,"41 Madison,h 158 Third , BÃ¢ÂÂklyn",TRUE,"H 158 3RD , BÃÂÂKLYN",158.0,"THIRD ,",BÃÂÂKLYN,41 Madison,41.0,Madison,NaN,273073,"Abberley Elias T. painter, 41 Madison, h 158 T...",NaN,0,painter,NaN,FALSE,painter,0,NaN,"41 Madison,h 158 Third , BÃ¢ÂÂklyn",start with h,158.0,3,NaN,NaN,"RD , BÃÂÂKLYN",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273073,Abberley John,John,Abberley,NaN,False,NaN,NaN,painter,"41 Madison,h 76. S 9th , B'klyn",TRUE,"H 76. S 9TH , B'KLYN",NaN,NaN,"76. S 9TH , B'KLYN",41 Madison,41.0,Madison,NaN,273074,"Abberley John, painter, 41 Madison, h 76. S 9t...",NaN,0,painter,NaN,FALSE,painter,0,NaN,"41 Madison,h 76. S 9th , B'klyn",start with h,NaN,S 9,B'KLYN,NaN,"76. T,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273074,Abberley John & Son,NaN,NaN,NaN,False,NaN,NaN,painters,41 Madison,Assume,41 MADISON,41.0,MADISON,NaN,NaN,NaN,NaN,NaN,273075,"Abberley John & Son, painters, 41 Madison",NaN,0,painters,NaN,FALSE,painter,0,NaN,41 Madison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273075,Abbets John,John,Abbets,NaN,False,NaN,NaN,weigher,h 19 Jay,TRUE,H 19 JAY,19.0,JAY,NaN,NaN,NaN,NaN,NaN,273076,"Abbets John, weigher, h 19 Jay",NaN,0,weigher,NaN,FALSE,weigher,0,NaN,h 19 Jay,start with h,19.0,JAY,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273076,Abbots Theodore,Theodore,Abbots,NaN,False,NaN,NaN,weigher,h 19 Jay,TRUE,H 19 JAY,19.0,JAY,NaN,NaN,NaN,NaN,NaN,273077,"Abbots Theodore, weigher, h 19 Jay",NaN,0,weigher,NaN,FALSE,weigher,0,NaN,h 19 Jay,start with h,19.0,JAY,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273077,Abbett Edwin L,Edwin,Abbett,L,False,NaN,NaN,lawyer,"128 BÃ¢ÂÂway,h 52 W. 24th",TRUE,H 52 W. 24TH,52.0,W. 24TH,NaN,128 BÃ¢ÂÂway,128.0,BÃ¢ÂÂway,NaN,273078,"Abbett Edwin L. lawyer, 128 BÃ¢ÂÂway, h 52 W...",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,"128 BÃ¢ÂÂway,h 52 W. 24th",start with h,52.0,W 24,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273078,Abbett Leon,Leon,Abbett,NaN,False,NaN,NaN,lawyer,"229 B'way,h 16 Sussex pl.",TRUE,H 16 SUSSEX PL.,16.0,SUSSEX PL.,NaN,229 B'way,229.0,B'way,NaN,273079,"Abbett Leon, lawyer, 229 B'way, h 16 Sussex pl.",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,"229 B'way,h 16 Sussex pl.",start with h,NaN,16,SUSSEX,NaN,PL.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273079,Abbett & Fuller,&,Abbett,Fuller,False,NaN,NaN,lawyers,229 BÃ¢ÂÂway,Assume,229 BÃÂÂWAY,229.0,BÃÂÂWAY,NaN,NaN,NaN,NaN,NaN,273080,"Abbett & Fuller, lawyers, 229 BÃ¢ÂÂway",NaN,0,lawyers,NaN,FALSE,lawyer,0,NaN,229 BÃ¢ÂÂway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273080,Abbey David,David,Abbey,NaN,False,NaN,NaN,NaN,h 166 E. 34th,TRUE,H 166 E. 34TH,166.0,E. 34TH,NaN,NaN,NaN,NaN,NaN,273081,"Abbey David, h 166 E. 34th",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h 166 E. 34th,start with h,166.0,E 34,NaN,NaN,TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273081,Abbey David,David,Abbey,NaN,False,NaN,NaN,laborer,h 114 New Church,TRUE,H 114 NEW CHURCH,114.0,NEW CHURCH,NaN,NaN,NaN,NaN,NaN,273082,"Abbey David, laborer, h 114 New Church",NaN,0,laborer,NaN,FALSE,laborer,0,NaN,h 114 New Church,start with h,114.0,CHURCH,NaN,NaN,NEW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273082,Abbey E. A,E.,Abbey,A,False,NaN,NaN,artist,331 Pearl,Assume,331 PEARL,331.0,PEARL,NaN,NaN,NaN,NaN,NaN,273083,"Abbey E. A. artist, 331 Pearl",NaN,0,artist,NaN,FALSE,artist,0,NaN,331 Pearl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0
273083,Abbey Henry,Henry,Abbey,NaN,False,NaN,NaN,carpenter,h 115 E. BÃ¢ÂÂway,TRUE,H 115 E. BÃÂÂWAY,115.0,E. BÃÂÂWAY,NaN,NaN,NaN,NaN,NaN,273084,"Abbey Henry, carpenter, h 115 E. BÃ¢ÂÂway",NaN,0,carpenter,NaN,FALSE,carpenter,0,NaN,h 115 E. BÃ¢ÂÂway,start with h,NaN,115,NaN,NaN,E BÃÂÂWAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0

In [619]:
#df_doubt.to_excel('doubt.xlsx')

In [620]:
#df_confident.to_excel('confident.xlsx')

In [621]:
df_confident['filter9'] = np.where((df_confident['H House Number'].isna()) & (df_confident['new h street name'].isna()) & (df_confident['new h city'].isna()),1,0)

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [622]:
unidentified_info_cleaned = df_confident['unidentified h info'].str.replace('RD','').str.replace('ND','').str.replace('TH','').str.replace('ST','').str.replace('AV','').str.replace('PL.','').str.replace('   ','').str.replace('  ','').str.replace(' ','')

In [623]:
df_confident['filter10'] = np.where(((unidentified_info_cleaned.str.len()>1) | (unidentified_info_cleaned.str.isnumeric())) & df_confident['H House Number'].isna() & (df_confident['new h street name'].isna()) & (df_confident['filter9']==0),1,0)

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [624]:
#unidentified_info_cleaned

In [625]:
df_confident.loc[df_confident['filter10']==1]

,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,Full Address,H Status-flag,H Address,H House Number,H Street Name,H City,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City,Index,Full Entry,occupation,len_occ,Old_Occupation_info,add_sub_match,new_occ_found,std_occupation,change,sus,clean address,new h address-flag,new h house number,new h street name,new h city,new h county,unidentified h info,new h street 1,new h street 2,new h street type,h house number modifier,new address2 house number,new address2 street name,new address2 street 1,new address2 street 2,new address2 street type,new address2 city,new address2 county,unidentified address2 info,address2 house number modifier,filter1,filter2,filter3,filter4,filter5,filter6,filter7,filter8,filter9,filter10
1669,Yard Wesley Sterling,Wesley,Yard,Sterling,False,NaN,NaN,lawyer,"243 B'way,h Jerome pk.",TRUE,H JEROME PK.,NaN,NaN,JEROME PK.,243 B'way,243.0,B'way,NaN,1670,"Yard Wesley Sterling, lawyer, 243 B'way, h Jer...",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,"243 B'way,h Jerome pk.",start with h,NaN,NaN,ROME,NaN,JE PK.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
2050,Wyatt Thomas M,Thomas,Wyatt,M,False,NaN,NaN,lawyer,"21 Park row,h International h.",TRUE,H INTERNATIONAL H.,NaN,NaN,INTERNATIONAL H.,21 Park row,21.0,Park row,NaN,2051,"Wyatt Thomas M. lawyer, 21 Park row, h Interna...",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,"21 Park row,h International h.",start with h,NaN,NaN,TIONA,NaN,INTERNAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
2850,Woolworth James,James,Woolworth,NaN,False,NaN,NaN,mfr of handles,"49 Chambers,h Ohio , represented by W. R. McCu...",TRUE,"H OHIO , REPRESENTED BY W. R. MCCULLOUGH",NaN,NaN,"OHIO , REPRESENTED BY W. R. MCCULLOUGH",49 Chambers,49.0,Chambers,NaN,2851,"Woolworth James, mfr. of handles, 49 Chambers,...",NaN,0,mfr of handles,NaN,FALSE,mfr of handles,0,NaN,"49 Chambers,h Ohio , represented by W. R. McCu...",start with h,NaN,NaN,OHIO,NaN,", REPRESENTED BY W. R. MCCULLOUGH",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
2871,Worcester Edwin D,Edwin,Worcester,D,True,Grand Central depot,NaN,NaN,h Albany,TRUE,H ALBANY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2872,"Worcester Edwin D, sec. Grand Central depot, h...",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h Albany,start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
5255,Wing Albert,Albert,Wing,NaN,False,NaN,NaN,tea,"91 Wall,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,91 Wall,91.0,Wall,NaN,5256,"Wing Albert, tea, 91 Wall, h Albany",NaN,0,tea,NaN,FALSE,teas,0,NaN,"91 Wall,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
5269,Wing James C,James,Wing,C,False,NaN,NaN,tea,"91 Wall,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,91 Wall,91.0,Wall,NaN,5270,"Wing James C. tea. 91 Wall, h Albany",NaN,0,tea,NaN,FALSE,teas,0,NaN,"91 Wall,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
5610,Wilson William jr,William,Wilson,jr,False,NaN,NaN,bottles,"190 Seventh av. & 135 W. 37th,h Mt , Vernon",TRUE,"H MT , VERNON",NaN,NaN,"MT , VERNON",190 Seventh av. & 135 W. 37th,190.0,Seventh av. & 135 W. 37th,NaN,5611,"Wilson William jr. bottles, 190 Seventh av. & ...",NaN,0,bottles,NaN,FALSE,bottler,0,NaN,"190 Seventh av. & 135 W. 37th,h Mt , Vernon",start with h,NaN,NaN,VERNON,NaN,"MT ,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
6051,Wilson Arthur L,Arthur,Wilson,L,False,NaN,NaN,clerk,h College av. r,TRUE,H COLLEGE AV. R,NaN,NaN,COLLEGE AV. R,NaN,NaN,NaN,NaN,6052,"Wilson Arthur L. clerk, h College av. r",NaN,0,clerk,NaN,FALSE,clerk,0,NaN,h College av. r,start with h,NaN,NaN,COLLEGE,NaN,AV. R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
6681,Wall,NaN,NaN,NaN,False,NaN,NaN,NaN,"h L. I. . .n ,",TRUE,"H L. I. . .N ,",NaN,NaN,"L. I. . .N ,",NaN,NaN,NaN,NaN,6682,"Wall, h L. I. . .n,",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,"h L. I. . .n ,",start with h,NaN,NaN,L. I.,NaN,". .N ,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
7354,Wilkinson Joseph,Joseph,Wilkinson,NaN,False,NaN,NaN,paper,"162 South,h S) Suydarh av. J. C.",TRUE,H S) SUYDARH AV. J. C.,NaN,NaN,S) SUYDARH AV. J. C.,162 South,162.0,South,NaN,7355,"Wilkinson Joseph, paper, 162 South, h S) Suyda...",NaN,0,paper,NaN,FALSE,paper,0,NaN,"162 South,h S) Suydarh av. J. C.",start with h,NaN,NaN,J. C.,NaN,S) SUYDARAV.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
9450,Wheeler William A,William,Wheeler,A,False,NaN,NaN,pres,h Audubon pk.,TRUE,H AUDUBON PK.,NaN,NaN,AUDUBON PK.,NaN,NaN,NaN,NaN,9451,"Wheeler William A. pres, h Audubon pk.",NaN,0,pres,NaN,FALSE,press,0,NaN,h Audubon pk.,start with h,NaN,NaN,AUDUBON,NaN,PK.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
10279,West Nicholas W,Nicholas,West,W,False,NaN,NaN,agent,"69 Wall,h Plainfield , N.J.",TRUE,"H PLAINFIELD , N.J.",NaN,NaN,"PLAINFIELD , N.J.",69 Wall,69.0,Wall,NaN,10280,"West Nicholas W. agent, 69 Wall, h Plainfield,...",NaN,0,agent,NaN,FALSE,agent,0,NaN,"69 Wall,h Plainfield , N.J.",start with h,NaN,NaN,N.J.,NaN,"PLAINFIELD ,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
15353,Walton Charles L,Charles,Walton,L,False,NaN,NaN,clerk,h St. JamesÃ¢ÂÂ h.,TRUE,H ST. JAMESÃÂÂ H.,NaN,NaN,ST. JAMESÃÂÂ H.,NaN,NaN,NaN,NaN,15354,"Walton Charles L. clerk, h St. JamesÃ¢ÂÂ h.",NaN,0,clerk,NaN,FALSE,clerk,0,NaN,h St. JamesÃ¢ÂÂ h.,start with h,NaN,NaN,ST. JAMES,NaN,ÃÂÂ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
16538,Walker George W,George,Walker,W,False,NaN,NaN,cases,"708 BÃ¢ÂÂway,h Anthony h.",TRUE,H ANTHONY H.,NaN,NaN,ANTHONY H.,708 BÃ¢ÂÂway,708.0,BÃ¢ÂÂway,NaN,16539,"Walker George W. cases, 708 BÃ¢ÂÂway, h Anth...",NaN,0,cases,NaN,FALSE,cases,0,NaN,"708 BÃ¢ÂÂway,h Anthony h.",start with h,NaN,NaN,NY,NaN,ANTHO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
18557,Vinton Arthur Dudley,Arthur,Vinton,Dudley,False,NaN,NaN,lawyer,"21 Nassau,h University bldg.",TRUE,H UNIVERSITY BLDG.,NaN,NaN,UNIVERSITY BLDG.,21 Nassau,21.0,Nassau,NaN,18558,"Vinton Arthur Dudley, lawyer, 21 Nassau, h Uni...",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,"21 Nassau,h University bldg.",start with h,NaN,NaN,UNIVERSITY,NaN,BLDG.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
19551,Vanvoorhis William W,William,Vanvoorhis,W,False,NaN,NaN,treas ft W 143d,h Audubon pk.,TRUE,H AUDUBON PK.,NaN,NaN,AUDUBON PK.,NaN,NaN,NaN,NaN,19552,"Vanvoorhis William W. treas. ft. W. 143d, h Au...",NaN,0,treas ft W 143d,NaN,FALSE,treas ft w 143d,0,NaN,h Audubon pk.,start with h,NaN,NaN,AUDUBON,NaN,PK.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
20299,Vanderveer Peter L,Peter,Vanderveer,L,False,NaN,NaN,lawyer,"54 William,h University bldg.",TRUE,H UNIVERSITY BLDG.,NaN,NaN,UNIVERSITY BLDG.,54 William,54.0,William,NaN,20300,"Vanderveer Peter L. lawyer, 54 William, h Univ...",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,"54 William,h University bldg.",start with h,NaN,NaN,UNIVERSITY,NaN,BLDG.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
20381,Vancleef Theodore F,Theodore,Vancleef,F,False,NaN,NaN,gentÃ¢ÂÂs furng,"146 William,h J. C. on",TRUE,H J. C. ON,NaN,NaN,J. C. ON,146 William,146.0,William,NaN,20382,Vancleef Theodore F. gentÃ¢ÂÂs furng. 146 Wi...,NaN,0,gentÃ¢ÂÂs furng,NaN,FALSE,gent s furng,0,NaN,"146 William,h J. C. on",start with h,NaN,NaN,J. C.,NaN,ON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
20525,Vanbenthuysen Arthur,Arthur,Vanbenthuysen,NaN,False,NaN,NaN,printer,"136 Chambers,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,136 Chambers,136.0,Chambers,NaN,20526,"Vanbenthuysen Arthur, printer, 136 Chambers, h...",NaN,0,printer,NaN,FALSE,printer,0,NaN,"136 Chambers,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
20526,Vanbenthuysen Charles,Charles,Vanbenthuysen,NaN,False,NaN,NaN,printer,"136 Chambers,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,136 Chambers,136.0,Chambers,NaN,20527,"Vanbenthuysen Charles, printer, 136 Chambers, ...",NaN,0,printer,NaN,FALSE,printer,0,NaN,"136 Chambers,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
20529,Vanbenthuysen Frank,Frank,Vanbenthuysen,NaN,False,NaN,NaN,printer,"136 Chambers,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,136 Chambers,136.0,Chambers,NaN,20530,"Vanbenthuysen Frank, printer, 136 Chambers, h ...",NaN,0,printer,NaN,FALSE,printer,0,NaN,"136 Chambers,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
20569,Vanbrimmer Joshua,Joshua,Vanbrimmer,NaN,False,NaN,NaN,hotel,"19 Park row,h International h.",TRUE,H INTERNATIONAL H.,NaN,NaN,INTERNATIONAL H.,19 Park row,19.0,Park row,NaN,20570,"Vanbrimmer Joshua, hotel, 19 Park row, h Inter...",NaN,0,hotel,NaN,FALSE,hotel,0,NaN,"19 Park row,h International h.",start with h,NaN,NaN,TIONA,NaN,INTERNAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
20879,Valentine Benj. C roofer,NaN,NaN,NaN,False,NaN,NaN,NaN,"227 Greene,h Stony Pt.",TRUE,H STONY PT.,NaN,NaN,STONY PT.,227 Greene,227.0,Greene,NaN,20880,"Valentine Benj. C roofer, 227 Greene, h Stony Pt.",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,"227 Greene,h Stony Pt.",start with h,NaN,NaN,NY,NaN,STO PT.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
23485,Tranville John,John,Tranville,NaN,False,NaN,NaN,gardener,h Westchester av. n Brook av.,TRUE,H WESTCHESTER AV. N BROOK AV.,NaN,NaN,WESTCHESTER AV. N BROOK AV.,NaN,NaN,NaN,NaN,23486,"Tranville John, gardener, h Westchester av. n ...",NaN,0,gardener,NaN,FALSE,gardener,0,NaN,h Westchester av. n Brook av.,start with h,NaN,NaN,WESTCHESTER,NaN,AV. N BROOK AV.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
25159,Tillinghast James,James,Tillinghast,NaN,True,Grand Central depot,NaN,NaN,h Albany,TRUE,H ALBANY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25160,"Tillinghast James, pres. Grand Central depot, ...",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h Albany,start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
26324,Thomas Wm. G,Wm.,Thomas,G,False,NaN,NaN,biscuits,"143 Chambers,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,143 Chambers,143.0,Chambers,NaN,26325,"Thomas Wm. G. biscuits, 143 Chambers, h Albany",NaN,0,biscuits,NaN,FALSE,biscuit baker,0,NaN,"143 Chambers,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
26787,Thomas Chas. H,Chas.,Thomas,H,False,NaN,NaN,biscuits,"143 Chambers,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,143 Chambers,143.0,Chambers,NaN,26788,"Thomas Chas. H. biscuits, 143 Chambers, h Albany",NaN,0,biscuits,NaN,FALSE,biscuit baker,0,NaN,"143 Chambers,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
27723,Taylor Nicholas B,Nicholas,Taylor,B,False,NaN,NaN,brewer,"439 Washn,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,439 Washn,439.0,Washn,NaN,27724,"Taylor Nicholas B. brewer, 439 Washn, h Albany",NaN,0,brewer,NaN,FALSE,brewer,0,NaN,"439 Washn,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
28322,Tallmadge Josiah,Josiah,Tallmadge,NaN,False,NaN,NaN,produce,"261 Washn,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,261 Washn,261.0,Washn,NaN,28323,"Tallmadge Josiah, produce, 261 Washn, h Albany",NaN,0,produce,NaN,FALSE,produce,0,NaN,"261 Washn,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
29574,Sumner Alanson A,Alanson,Sumner,A,False,NaN,NaN,agent,"115 BÃ¢ÂÂway,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,115 BÃ¢ÂÂway,115.0,BÃ¢ÂÂway,NaN,29575,"Sumner Alanson A. agent, 115 BÃ¢ÂÂway, h Albany",NaN,0,agent,NaN,FALSE,agent,0,NaN,"115 BÃ¢ÂÂway,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223327,Cuddy Thomas,Thomas,Cuddy,NaN,False,NaN,NaN,machinist,h Westchester av. n Brook av.,TRUE,H WESTCHESTER AV. N BROOK AV.,NaN,NaN,WESTCHESTER AV. N BROOK AV.,NaN,NaN,NaN,NaN,223328,"Cuddy Thomas, machinist, h Westchester av. n B...",NaN,0,machinist,NaN,FALSE,machinist,0,NaN,h Westchester av. n Brook av.,start with h,NaN,NaN,WESTCHESTER,NaN,AV. N BROOK AV.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
225576,Covert Albert T,Albert,Covert,T,False,NaN,NaN,stenographer,h Boulevard n W.,TRUE,H BOULEVARD N W.,NaN,NaN,BOULEVARD N W.,NaN,NaN,NaN,NaN,225577,"Covert Albert T. stenographer, h Boulevard n W.",NaN,0,stenographer,NaN,FALSE,stenographer,0,NaN,h Boulevard n W.,start with h,NaN,NaN,BOULEVARD,NaN,N W.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
226571,Corning Erastus,Erastus,Corning,NaN,False,NaN,NaN,pres,"56 BÃ¢ÂÂway,h Albany",TRUE,H ALBANY,NaN,NaN,NaN,56 BÃ¢ÂÂway,56.0,BÃ¢ÂÂway,NaN,226572,"Corning Erastus, pres. 56 BÃ¢ÂÂway, h Albany",NaN,0,pres,NaN,FALSE,press,0,NaN,"56 BÃ¢ÂÂway,h Albany",start with h,NaN,NaN,NY,NaN,ALBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
226956,Cordes Henry,Henry,Cordes,NaN,False,NaN,NaN,NaN,h Anderson av. n Central av.,TRUE,H ANDERSON AV. N CENTRAL AV.,NaN,NaN,ANDERSON AV. N CENTRAL AV.,NaN,NaN,NaN,NaN,226957,"Cordes Henry, h Anderson av. n Central av.",NaN,0,NaN,NaN,FALSE,NaN,0,NaN,h Anderson av. n Central av.,start with h,NaN,NaN,ANDERSON,NaN,AV. N CENTRAL AV.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
228721,Connolly Francis,Francis,Connolly,NaN,False,NaN,NaN,gardener,h Boulevard n W.,TRUE,H BOULEVARD N W.,NaN,NaN,BOULEVARD N W.,NaN,NaN,NaN,NaN,228722,"Connolly Francis, gardener, h Boulevard n W.",NaN,0,gardener,NaN,FALSE,gardener,0,NaN,h Boulevard n W.,start with h,NaN,NaN,BOULEVARD,NaN,N W.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
232093,Coe Charles,Charles,Coe,NaN,False,NaN,NaN,express,"63 W. 33d,h Hotel Brighton",TRUE,H HOTEL BRIGHTON,NaN,NaN,HOTEL BRIGHTON,63 W. 33d,63.0,W. 33d,NaN,232094,"Coe Charles, express, 63 W. 33d, h Hotel Brighton",NaN,0,express,NaN,FALSE,express,0,NaN,"63 W. 33d,h Hotel Brighton",start with h,NaN,NaN,BRIGHTON,NaN,HOTEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
234212,Clark Edward V,Edward,Clark,V,False,NaN,NaN,janitor,h Grand Central depot,TRUE,H GRAND CENTRAL DEPOT,NaN,NaN,GRAND CENTRAL DEPOT,NaN,NaN,NaN,NaN,234213,"Clark Edward V. janitor, h Grand Central depot",NaN,0,janitor,NaN,FALSE,janitors,0,NaN,h Grand Central depot,start with h,NaN,NaN,GRAND CENTRAL,NaN,DEPOT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
234327,Clapp Wellington,Wellington,Clapp,NaN,False,NaN,NaN,broker,"28 Broad,h Audubon pk.",TRUE,H AUDUBON PK.,NaN,NaN,AUDUBON PK.,28 Broad,28.0,Broad,NaN,234328,"Clapp Wellington, broker. 28 Broad, h Audubon pk.",NaN,0,broker,NaN,FALSE,broker,0,NaN,"28 Broad,h Audubon pk.",start with h,NaN,NaN,AUDUBON,NaN,PK.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
234716,Cilley John E,John,Cilley,E,False,NaN,NaN,wool,"106 Reade,h N. J. J ,",TRUE,"H N. J. J ,",NaN,NaN,"N. J. J ,",106 Reade,106.0,Reade,NaN,234717,"Cilley John E. wool, 106 Reade, h N. J. J,",NaN,0,wool,NaN,FALSE,wool,0,NaN,"106 Reade,h N. J. J ,",start with h,NaN,NaN,N. J.,NaN,"J ,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
235388,Rooney Margaret,Margaret,Rooney,NaN,True,Michael,NaN,NaN,h Westchester av. n Robbins av.,TRUE,H WESTCHESTER AV. N ROBBINS AV.,NaN,NaN,WESTCHESTER AV. N ROBBINS AV.,NaN,NaN,NaN,NaN,60892,"Rooney Margaret, wid. Michael, h Westchester a...",ins av,6,NaN,h West,FALSE,NaN,0,NaN,h Westchester av. n Robbins av.,start with h,NaN,NaN,WESTCHESTER,NaN,AV. N ROBBINS AV.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
235568,Leonard Patrick,Patrick,Leonard,NaN,False,NaN,NaN,NaN,h Westchester av. n Robbins av.,TRUE,H WESTCHESTER AV. N ROBBINS AV.,NaN,NaN,WESTCHESTER AV. N ROBBINS AV.,NaN,NaN,NaN,NaN,129343,"Leonard Patrick, h Westchester av. n Robbins av.",ins av,6,NaN,h West,FALSE,NaN,0,NaN,h Westchester av. n Robbins av.,start with h,NaN,NaN,WESTCHESTER,NaN,AV. N ROBBINS AV.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
236601,Caswell William H,William,Caswell,H,False,NaN,NaN,imp,"87 Front,h HuntÃ¢ÂÂs Pt.",TRUE,H HUNTÃÂÂS PT.,NaN,NaN,HUNTÃÂÂS PT.,87 Front,87.0,Front,NaN,236602,"Caswell William H. imp. 87 Front, h HuntÃ¢ÂÂ...",NaN,0,imp,NaN,FALSE,imp,0,NaN,"87 Front,h HuntÃ¢ÂÂs Pt.",start with h,NaN,NaN,HUNT,NaN,ÃÂÂS PT.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
236923,Caspary Waldemar,Waldemar,Caspary,NaN,False,NaN,NaN,cloaks,"341 B'way,h Prescott h.",TRUE,H PRESCOTT H.,NaN,NaN,PRESCOTT H.,341 B'way,341.0,B'way,NaN,236924,"Caspary Waldemar, cloaks, 341 B'way, h Prescot...",NaN,0,cloaks,NaN,FALSE,cloaks,0,NaN,"341 B'way,h Prescott h.",start with h,NaN,NaN,SCOTT,NaN,PRE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
237875,Carroll James,James,Carroll,NaN,False,NaN,NaN,contractor,h Westchester av. n,TRUE,H WESTCHESTER AV. N,NaN,NaN,WESTCHESTER AV. N,NaN,NaN,NaN,NaN,237876,"Carroll James, contractor, h Westchester av. n",NaN,0,contractor,NaN,FALSE,contractor,0,NaN,h Westchester av. n,start with h,NaN,NaN,WESTCHESTER,NaN,AV. N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
239242,Cappauf William,William,Cappauf,NaN,False,NaN,NaN,pianomkr,h Westchester av. n Brook av.,TRUE,H WESTCHESTER AV. N BROOK AV.,NaN,NaN,WESTCHESTER AV. N BROOK AV.,NaN,NaN,NaN,NaN,239243,"Cappauf William, pianomkr. h Westchester av. n...",NaN,0,pianomkr,NaN,FALSE,pianomaker,0,NaN,h Westchester av. n Brook av.,start with h,NaN,NaN,WESTCHESTER,NaN,AV. N BROOK AV.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
242429,Bush Garret,Garret,Bush,NaN,True,Washn,NaN,produce mkt,"h I*Ã¢ÂÂ Philip , J. C.",TRUE,"H I*ÃÂÂ PHILIP , J. C.",NaN,NaN,"I*ÃÂÂ PHILIP , J. C.",NaN,NaN,NaN,NaN,242430,"Bush Garret, produce, W. Washn, mkt, h I*Ã¢ÂÂ...",NaN,0,produce mkt,NaN,FALSE,produce,0,NaN,"h I*Ã¢ÂÂ Philip , J. C.",start with h,NaN,NaN,J. C.,NaN,"I*ÃÂÂ PHILIP ,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
251381,Bradford William E,William,Bradford,E,False,NaN,NaN,lawyer,h 'University bldg.,TRUE,H 'UNIVERSITY BLDG.,NaN,NaN,'UNIVERSITY BLDG.,NaN,NaN,NaN,NaN,251382,"Bradford William E. lawyer, h 'University bldg.",NaN,0,lawyer,NaN,FALSE,lawyer,0,NaN,h 'University bldg.,start with h,NaN,NaN,UNIVERSITY,NaN,' BLDG.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1
251779,Boyd George B,George,Boyd,B,False,NaN,NaN,clerk,"24 Pine,h Me. Vernon",TRUE,H ME. VERNON,NaN,NaN,ME. VERNON,24 Pine,24.0,Pine,NaN,251780,"Boyd George B. clerk. 24 Pine, h Me. Vernon",NaN,0,clerk,NaN,FALSE,clerk,0,NaN,"24 Pine,h Me. Vernon",start with h,NaN,NaN,VERNON,NaN,ME.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,1

In [626]:
#df_confident.loc[df_confident['filter10']==1].to_excel('filter10.xlsx')

In [628]:
#df_confident.to_excel('confident-2.xlsx')

In [632]:
df_confident['filter11'] = np.where(((unidentified_info_cleaned.str.len()>1) | (unidentified_info_cleaned.str.isnumeric())) & df_confident['H House Number'].isna() & (df_confident['new h house number'].isna()) & (df_confident['new h city'].isna()) & (df_confident['filter9']==0) & (df_confident['filter10']==0),1,0)

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [634]:
#df_confident.loc[df_confident['filter11']==1]

In [636]:
df_not_so_confident = df_confident.loc[(df_confident['filter9']==1) | (df_confident['filter10']==1) | (df_confident['filter11']==1)]

In [637]:
df_confident_new = df_confident.loc[(df_confident['filter9']==0) & (df_confident['filter10']==0) & (df_confident['filter11']==0)]

In [641]:
df_not_so_confident.to_excel('not so confident.xlsx')

In [642]:
df_confident_new.to_excel('confident_new.xlsx')

In [647]:
len(df_not_so_confident)

11074