In [692]:
import pandas as pd
import numpy as np
import re

In [693]:
mn_or_bk = 'bk'
year = '1850'
doubttype = 'not so confident'

In [694]:
df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/after cleaning/' + mn_or_bk + '_' + year + '_after_cleaning_' + doubttype + '2.csv')

In [695]:

df.columns = ['index', 'Full Address', 'H House Number', 
              'H Street Name', 'c_street1', 'c_street2', 'n_street1', 'n_street2', 
              'new h city', 'new h house number', 'new h street name', 'unidentified h info']
"""
df.columns = ['index', 'n_street1', 'n_street2','c_street1', 'c_street2', 'Full Address', 
              'H House Number', 
              'H Street Name', 
              'new h house number', 'new h street name','new h city', 'unidentified h info']
"""

"\ndf.columns = ['index', 'n_street1', 'n_street2','c_street1', 'c_street2', 'Full Address', \n              'H House Number', \n              'H Street Name', \n              'new h house number', 'new h street name','new h city', 'unidentified h info']\n"

In [696]:
df = df.drop(['index'], axis=1)

In [697]:
df

,Full Address,H House Number,H Street Name,c_street1,c_street2,n_street1,n_street2,new h city,new h house number,new h street name,unidentified h info
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,38 CONCORD,38.0,CONCORD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34 N BEAVER Y H JORALEMON,34.0,N BEAVER Y H JORALEMON,NaN,NaN,NaN,NaN,NaN,NaN,JORALEMON,H
3,N Y H 66 CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,CT
4,113 MAIDEN N LN Y H 42 CT,113.0,MAIDEN N LN Y H 42 CT,NaN,NaN,NaN,NaN,NaN,NaN,42,CT
5,STOVE MANR FULTON H 103 YVILLOUGHBY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,YVILLOUGHBY
6,COLUMBIA C CONGRESS H 14 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,SYDNEY PL
7,N JOHN BRG H 61 BRIDGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61,BRIDGC
8,N Y H 3 AVE C 16 GOWANUS,NaN,NaN,3 AVE,16 GOWANUS,NaN,NaN,NaN,3.0,AVE C,16 GOWANUS
9,N Y H MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MYRTLE AVE
10,YARD 19 C 3 AVE H MIDDLE GOWANUS,19.0,C 3 AVE H MIDDLE GOWANUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MIDDLE GOWANUS
11,"WATCHMAN FULTON MARKET , N Y H 24 CARLTON AVE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,CARLTON AVE
12,N GRAHAM MYRTLE AVE H N CLASSON FLUSHING AVE,NaN,NaN,NaN,NaN,CLASSON,FLUSHING AVE,FLUSHING,NaN,NaN,N CLASSON AVE
13,N Y H 16 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,SYDNEY PL
14,N RAYMOND MYRTLE H 61 N CARLTON MYRTLE AVE,NaN,NaN,NaN,NaN,61 CARLTON,MYRTLE AVE,NaN,NaN,61,N CARLTON MYRTLE AVE
15,MYRTLE AVE C CARLL H 159 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159,MYRTLE AVE
16,INSURANCE AGENT OFFICE 3 N FRONT Y H 94 COINT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,COINT
17,FULTON H N CLASSON MYRTLE AVE,NaN,NaN,NaN,NaN,CLASSON,MYRTLE AVE,NaN,NaN,NaN,N CLASSON MYRTLE AVE
18,COPPERPLATE MAKER 120 N WILLIAM Y H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
19,MOROCCO MANR BEDFORD AVE N FLUSHING AVE H FLUS...,NaN,NaN,NaN,NaN,FLUSHING AVE,NOSTRAND AVE,FLUSHING,NaN,NaN,AVE N NOSTRAND AVE
20,N CARLTON FULTON AVE H 22 STN 3 AVE GOWANUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,AVE G,STN 3 OWANUS
21,DAVINE THOMAS TAILOR 89 FULTON H 246 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,246,MYRTLE AVE
22,VANBRUNT AND HAMILTON AVE H 1 BOARDMAN PL CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,BOARDMAN PL CT
23,N Y H 5 AVE N 9 GOWANUS,NaN,NaN,NaN,NaN,5 AVE,9 GOWANUS,NaN,5.0,N 9,AVE GOWANUS
24,MAIN C YORK AND 138 FULTON H FLEETS ALY,NaN,NaN,NaN,NaN,NaN,NaN,LEE,NaN,NaN,FTS ALY
25,N Y H 69 YVILLOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,YVILLOW
26,N 27 5 AVE H C 3 AVE AND 16 GOWANUS,27.0,N 5 AVE H C 3 AVE AND 16 GOWANUS,NaN,3 AVE AND 16 GOWANUS,NaN,NaN,NaN,3.0,AVE A,C ND 16 GOWANUS
27,PLYMOUTH C ADAMS H 32 N CHARLTON Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,N CHARLTON Y
28,3 AVE N 19 H 20 B 3 AND STH AVE GOWANUS,3.0,AVE N 19 H 20 B 3 AND STH AVE GOWANUS,NaN,NaN,NaN,NaN,NaN,20.0,AVE G,B 3 AND STOWANUS
29,N 14WATER Y H 10 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,SYDNEY PL
30,FULTON C CT H 19 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,MYRTLE AVE
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,N Y H 59 WILLOUGHBY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,WILLOUGHBY
33,NY H 7 BOARDMAN PL CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,BOARDMAN PL CT
34,GREENWICH AND N DEY Y H 32 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,MYRTLE AVE
35,N DEAN HOYT H 103 ILOYT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,ILOYT
36,N Y H N 22 3 AVE GOWANUS,NaN,NaN,NaN,NaN,22,3 AVE GOWANUS,NaN,22.0,AVE G,N 3 OWANUS
37,N Y H N CLERMONT MYRTLE AVE,NaN,NaN,NaN,NaN,CLERMONT,MYRTLE AVE,CLERMONT,NaN,NaN,N MYRTLE AVE
38,BALTIC H N BALTIC HENRY,NaN,NaN,NaN,NaN,BALTIC,HENRY,NaN,NaN,N HENRY,BALTIC
39,WOOD AND WARE AGENCY 46 FULTON H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
40,WINE MER. ILL N FRONT Y H PACIFIC STN CLOVE RD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLOVE RD,PACIFIC STN BEDFORD
41,"LAWYER AND POLICE JUSTICE,OFFICE 6 MONTAGUE HA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,AVE G,OWANUS
42,3 AVE C 21 H 22 B 3 AND 4 AVE GOWANUS,3.0,AVE C 21 H 22 B 3 AND 4 AVE GOWANUS,NaN,NaN,NaN,NaN,NaN,NaN,AVE G,22 B 3 AND 4 OWANUS
43,153 N SOUTH Y H 127 MYRTLE AVE,153.0,N SOUTH Y H 127 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,127,MYRTLE AVE
44,N Y H 14 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,SYDNEY PL
45,FLUSHING C RYERSON AVE AIDERMAN 7 WARD) H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
46,BROOKLYN INDEPENDENT C ORANGE AND FULTON H STH...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AVE B,13 AND 14 STS
47,N CUSTOM Y H 39 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,SYDNEY PL
48,FULTON N MARKET Y H 24 CARLTON AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,CARLTON AVE
49,N FURMAN EVERITT H 43 SAUDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,SAUDS
50,N COLUMBIA FULTON H 128 MYRTLE AX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128,MYRTLE AX
51,N Y H CRAUBCRRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRAUBCRRY
52,N Y H 97 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,MYRTLE AVE
53,NY H 70REMSEIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,REMSEIT
54,8 WARD H 3 AVE AND 16,8.0,WARD H 3 AVE AND 16,NaN,NaN,NaN,NaN,NaN,3.0,16,AVE AND
55,GREENWOOD CEMETERY MONUMENTAL WORKS AIDERMAN 8...,NaN,NaN,3 AVE,27 H N 21 3 AVE GOWANUS,3 AVE C 27 H 21,3 AVE GOWANUS,NaN,3.0,AVE G,AVE C 27 21 N OWANUS
56,N Y H 63 N CARLTON MYRTLE AVE,NaN,NaN,NaN,NaN,63 CARLTON,MYRTLE AVE,NaN,NaN,63,N CARLTON MYRTLE AVE
57,ATTORNEY AND COUNSELLOR AT LAW AND COMMISSIONE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H

In [698]:
hn_1 = {}
best_match = {}

for i in range(0,len(df)):
    hn_1[i] = df['new h street name'][i]
    best_match[i] = df['unidentified h info'][i]

for i in range(0,len(df)):
#for i in range(35,36):
    #print('begin',hn_1[i],best_match[i])
    if pd.isna(df['c_street1'][i]) == False or pd.isna(df['c_street2'][i]) == False:
        #print('1',i)
        try:
            best_match[i] = str(df['c_street1'][i]) + ' & ' + str(df['c_street2'][i])
        except:
            if pd.isna(df['c_street1'][i]) == False:
                best_match[i] = str(df['c_street1'])
            else:
                best_match[i] = str(df['c_street2'])
                
    elif pd.isna(df['n_street1'][i]) == False or pd.isna(df['n_street2'][i]) == False:
        #print('2',i)
        try:
            best_match[i] = str(df['n_street1'][i]) + ' & ' + str(df['n_street2'][i])
        except:
            if pd.isna(df['n_street1'][i]) == False:
                best_match[i] = str(df['n_street1'])
            else:
                best_match[i] = str(df['n_street2'])
    
    elif pd.isna(hn_1[i]) == True or pd.isna(best_match[i]) == True:
        #print('3',i)
        try:
            hn_1[i] = df['H House Number'][i]
        except:
            pass
        try:
            best_match[i] = df['H Street Name'][i]
        except:
            pass
    
    elif pd.isna(hn_1[i]) == True or pd.isna(best_match[i]) == True:
        #print('4',i)
        try:
            hn_1[i] = df['new h house number'][i]
        except:
            pass
        try:
            best_match[i] = df['new h street name'][i]
        except:
            pass
    
    elif pd.isna(df['new h city'][i]) == False and pd.isna(best_match[i]) == True:
        #print('5',i)
        best_match[i] = df['new h city'][i]
    
    else:
        if pd.isna(hn_1[i]) == True and pd.isna(best_match[i]) == True:
            #print('6',i)
            hn_1[i] = ''
            best_match[i] = df['Full Address'][i]
    
    """
    elif pd.isna(df['H House Number'][i]) == False or pd.isna(df['H Street Name'][i]) == False:
        print('3',i)
        try:
            hn_1[i] = df['H House Number'][i]
        except:
            pass
        try:
            best_match[i] = df['H Street Name'][i]
        except:
            pass
    
    elif pd.isna(df['new h house number'][i]) == False or pd.isna(df['new h street name'][i]) == False:
        print('4',i)
        try:
            hn_1[i] = df['new h house number'][i]
        except:
            pass
        try:
            best_match[i] = df['new h street name'][i]
        except:
            pass
    
    elif pd.isna(df['new h city'][i]) == False:
        print('5',i)
        best_match[i] = df['new h city'][i]
    
    else:
        print('6',i)
        hn_1[i] = ''
        best_match[i] = df['Full Address'][i]
    """
    #if pd.isna(df['H House Number'][i]) == True and pd.isna(df['new h house number'][i]) == True:
        #print('7',i)
        #hn_1[i] = ''
    
    if pd.isna(hn_1[i]) == True:
        #print('7',i)
        hn_1[i] = ''

In [699]:
#df.head(20)

In [700]:
df2 = pd.DataFrame([list(hn_1.values()), list(best_match.values())])

In [701]:
df2 = df2.T

In [702]:
df2.columns = ['hn_1','best_match']

In [703]:
def find_number(text):
    num = re.findall(r'[0-9]+',str(text))
    return " ".join(num)
df2['hn_1']=df2['hn_1'].apply(lambda x: find_number(x))

In [704]:
#df2

In [705]:
for i in range(0, len(df2)):
    if df2['hn_1'][i] == '':
        try:
            df2['hn_1'][i] = df['H House Number'][i]
        except:
            pass

In [706]:
for i in range(0, len(df2)):
    if pd.isna(df2['best_match'][i]) == True:
        try:
            df2['best_match'][i] = df['unidentified h info'][i]
        except:
            pass

In [707]:
for i in range(0, len(df2)):
    if len(str(df2['best_match'][i])) <=2:
        if pd.isna(df['H House Number'][i])==False:
            hn_1[i] = df['H House Number'][i]
            df2['best_match'][i] = df['H Street Name'][i]
        else:
            df2['best_match'][i] = df['Full Address'][i]

In [708]:
for i in range(0, len(df2)):
    if pd.isna(df2['hn_1'][i]) == True:
        if pd.isna(df['H House Number'][i])==False:
            hn_1[i] = df['H House Number'][i]
            df2['best_match'][i] += ' ' + df['H Street Name'][i]
        elif pd.isna(df['new h house number'][i])==False:
            df2['hn_1'][i] = df['new h house number'][i]
            df2['best_match'][i] += ' ' + df['new h street name'][i]

In [709]:
"""
for i in range(0, len(df2)):
    if df2['hn_1'][i] == '':
        try:
            df2['hn_1'] = df['new h house number'][i] + df['new h street name'][i]
        except:
            pass
"""

"\nfor i in range(0, len(df2)):\n    if df2['hn_1'][i] == '':\n        try:\n            df2['hn_1'] = df['new h house number'][i] + df['new h street name'][i]\n        except:\n            pass\n"

In [710]:
df

,Full Address,H House Number,H Street Name,c_street1,c_street2,n_street1,n_street2,new h city,new h house number,new h street name,unidentified h info
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,38 CONCORD,38.0,CONCORD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34 N BEAVER Y H JORALEMON,34.0,N BEAVER Y H JORALEMON,NaN,NaN,NaN,NaN,NaN,NaN,JORALEMON,H
3,N Y H 66 CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66,CT
4,113 MAIDEN N LN Y H 42 CT,113.0,MAIDEN N LN Y H 42 CT,NaN,NaN,NaN,NaN,NaN,NaN,42,CT
5,STOVE MANR FULTON H 103 YVILLOUGHBY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,YVILLOUGHBY
6,COLUMBIA C CONGRESS H 14 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,SYDNEY PL
7,N JOHN BRG H 61 BRIDGC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61,BRIDGC
8,N Y H 3 AVE C 16 GOWANUS,NaN,NaN,3 AVE,16 GOWANUS,NaN,NaN,NaN,3.0,AVE C,16 GOWANUS
9,N Y H MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MYRTLE AVE
10,YARD 19 C 3 AVE H MIDDLE GOWANUS,19.0,C 3 AVE H MIDDLE GOWANUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MIDDLE GOWANUS
11,"WATCHMAN FULTON MARKET , N Y H 24 CARLTON AVE",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,CARLTON AVE
12,N GRAHAM MYRTLE AVE H N CLASSON FLUSHING AVE,NaN,NaN,NaN,NaN,CLASSON,FLUSHING AVE,FLUSHING,NaN,NaN,N CLASSON AVE
13,N Y H 16 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,SYDNEY PL
14,N RAYMOND MYRTLE H 61 N CARLTON MYRTLE AVE,NaN,NaN,NaN,NaN,61 CARLTON,MYRTLE AVE,NaN,NaN,61,N CARLTON MYRTLE AVE
15,MYRTLE AVE C CARLL H 159 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159,MYRTLE AVE
16,INSURANCE AGENT OFFICE 3 N FRONT Y H 94 COINT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94,COINT
17,FULTON H N CLASSON MYRTLE AVE,NaN,NaN,NaN,NaN,CLASSON,MYRTLE AVE,NaN,NaN,NaN,N CLASSON MYRTLE AVE
18,COPPERPLATE MAKER 120 N WILLIAM Y H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
19,MOROCCO MANR BEDFORD AVE N FLUSHING AVE H FLUS...,NaN,NaN,NaN,NaN,FLUSHING AVE,NOSTRAND AVE,FLUSHING,NaN,NaN,AVE N NOSTRAND AVE
20,N CARLTON FULTON AVE H 22 STN 3 AVE GOWANUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,AVE G,STN 3 OWANUS
21,DAVINE THOMAS TAILOR 89 FULTON H 246 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,246,MYRTLE AVE
22,VANBRUNT AND HAMILTON AVE H 1 BOARDMAN PL CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,BOARDMAN PL CT
23,N Y H 5 AVE N 9 GOWANUS,NaN,NaN,NaN,NaN,5 AVE,9 GOWANUS,NaN,5.0,N 9,AVE GOWANUS
24,MAIN C YORK AND 138 FULTON H FLEETS ALY,NaN,NaN,NaN,NaN,NaN,NaN,LEE,NaN,NaN,FTS ALY
25,N Y H 69 YVILLOW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,YVILLOW
26,N 27 5 AVE H C 3 AVE AND 16 GOWANUS,27.0,N 5 AVE H C 3 AVE AND 16 GOWANUS,NaN,3 AVE AND 16 GOWANUS,NaN,NaN,NaN,3.0,AVE A,C ND 16 GOWANUS
27,PLYMOUTH C ADAMS H 32 N CHARLTON Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,N CHARLTON Y
28,3 AVE N 19 H 20 B 3 AND STH AVE GOWANUS,3.0,AVE N 19 H 20 B 3 AND STH AVE GOWANUS,NaN,NaN,NaN,NaN,NaN,20.0,AVE G,B 3 AND STOWANUS
29,N 14WATER Y H 10 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,SYDNEY PL
30,FULTON C CT H 19 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,MYRTLE AVE
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,N Y H 59 WILLOUGHBY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,WILLOUGHBY
33,NY H 7 BOARDMAN PL CT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,BOARDMAN PL CT
34,GREENWICH AND N DEY Y H 32 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32,MYRTLE AVE
35,N DEAN HOYT H 103 ILOYT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103,ILOYT
36,N Y H N 22 3 AVE GOWANUS,NaN,NaN,NaN,NaN,22,3 AVE GOWANUS,NaN,22.0,AVE G,N 3 OWANUS
37,N Y H N CLERMONT MYRTLE AVE,NaN,NaN,NaN,NaN,CLERMONT,MYRTLE AVE,CLERMONT,NaN,NaN,N MYRTLE AVE
38,BALTIC H N BALTIC HENRY,NaN,NaN,NaN,NaN,BALTIC,HENRY,NaN,NaN,N HENRY,BALTIC
39,WOOD AND WARE AGENCY 46 FULTON H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
40,WINE MER. ILL N FRONT Y H PACIFIC STN CLOVE RD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CLOVE RD,PACIFIC STN BEDFORD
41,"LAWYER AND POLICE JUSTICE,OFFICE 6 MONTAGUE HA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,AVE G,OWANUS
42,3 AVE C 21 H 22 B 3 AND 4 AVE GOWANUS,3.0,AVE C 21 H 22 B 3 AND 4 AVE GOWANUS,NaN,NaN,NaN,NaN,NaN,NaN,AVE G,22 B 3 AND 4 OWANUS
43,153 N SOUTH Y H 127 MYRTLE AVE,153.0,N SOUTH Y H 127 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,127,MYRTLE AVE
44,N Y H 14 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,SYDNEY PL
45,FLUSHING C RYERSON AVE AIDERMAN 7 WARD) H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H
46,BROOKLYN INDEPENDENT C ORANGE AND FULTON H STH...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AVE B,13 AND 14 STS
47,N CUSTOM Y H 39 SYDNEY PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,SYDNEY PL
48,FULTON N MARKET Y H 24 CARLTON AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24,CARLTON AVE
49,N FURMAN EVERITT H 43 SAUDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,SAUDS
50,N COLUMBIA FULTON H 128 MYRTLE AX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128,MYRTLE AX
51,N Y H CRAUBCRRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CRAUBCRRY
52,N Y H 97 MYRTLE AVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97,MYRTLE AVE
53,NY H 70REMSEIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,REMSEIT
54,8 WARD H 3 AVE AND 16,8.0,WARD H 3 AVE AND 16,NaN,NaN,NaN,NaN,NaN,3.0,16,AVE AND
55,GREENWOOD CEMETERY MONUMENTAL WORKS AIDERMAN 8...,NaN,NaN,3 AVE,27 H N 21 3 AVE GOWANUS,3 AVE C 27 H 21,3 AVE GOWANUS,NaN,3.0,AVE G,AVE C 27 21 N OWANUS
56,N Y H 63 N CARLTON MYRTLE AVE,NaN,NaN,NaN,NaN,63 CARLTON,MYRTLE AVE,NaN,NaN,63,N CARLTON MYRTLE AVE
57,ATTORNEY AND COUNSELLOR AT LAW AND COMMISSIONE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,H

In [711]:
df2

    hn_1                                         best_match
0    NaN                                                NaN
1   38 0                                            CONCORD
2     34                             N BEAVER Y H JORALEMON
3     66                                        N Y H 66 CT
4     42                              MAIDEN N LN Y H 42 CT
5    103                                        YVILLOUGHBY
6     14                                          SYDNEY PL
7     61                                             BRIDGC
8      3                           3 AVE & 16 GOWANUS AVE C
9    NaN                                         MYRTLE AVE
10  19 0                           C 3 AVE H MIDDLE GOWANUS
11    24                                        CARLTON AVE
12   NaN                             CLASSON & FLUSHING AVE
13    16                                          SYDNEY PL
14    61                            61 CARLTON & MYRTLE AVE
15   159                                         MYRTLE AVE
16    94                                              COINT
17   NaN                               CLASSON & MYRTLE AVE
18   NaN                COPPERPLATE MAKER 120 N WILLIAM Y H
19   NaN                        FLUSHING AVE & NOSTRAND AVE
20    22                                 STN 3 OWANUS AVE G
21   246                                         MYRTLE AVE
22     1                                     BOARDMAN PL CT
23     9                                  5 AVE & 9 GOWANUS
24   NaN                                            FTS ALY
25    69                                            YVILLOW
26    27                         nan & 3 AVE AND 16 GOWANUS
27    32                                       N CHARLTON Y
28     3                                   B 3 AND STOWANUS
29    10                                          SYDNEY PL
30    19                                         MYRTLE AVE
31   NaN                                                NaN
32    59                                         WILLOUGHBY
33     7                                     BOARDMAN PL CT
34    32                                         MYRTLE AVE
35   103                                              ILOYT
36    22                           22 & 3 AVE GOWANUS AVE G
37   NaN                              CLERMONT & MYRTLE AVE
38   NaN                                     BALTIC & HENRY
39   NaN                   WOOD AND WARE AGENCY 46 FULTON H
40   NaN                                PACIFIC STN BEDFORD
41     5                                       OWANUS AVE G
42     3                                22 B 3 AND 4 OWANUS
43   127                                         MYRTLE AVE
44    14                                          SYDNEY PL
45   NaN          FLUSHING C RYERSON AVE AIDERMAN 7 WARD) H
46   NaN                                      13 AND 14 STS
47    39                                          SYDNEY PL
48    24                                        CARLTON AVE
49    43                                              SAUDS
50   128                                          MYRTLE AX
51   NaN                                          CRAUBCRRY
52    97                                         MYRTLE AVE
53    70                                            REMSEIT
54    16                                            AVE AND
55     3              3 AVE & 27 H N 21 3 AVE GOWANUS AVE G
56    63                            63 CARLTON & MYRTLE AVE
57   NaN  ATTORNEY AND COUNSELLOR AT LAW AND COMMISSIONE...

In [713]:
df2.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/for address builder/' + mn_or_bk + '_' + year + '_' + doubttype + '_ready3.csv')