In [43]:
import pandas as pd
#from fuzzywuzzy import fuzz
import pickle

In [28]:
mn_or_bk = 'bk'
year = str(1850)
doubttype = 'not so confident' #doubt or not so confident

In [29]:
df1 = pd.read_csv(mn_or_bk + '_' + year + '/S/' + doubttype + '-' + mn_or_bk + year + '-v7-s.csv')

In [30]:
with open('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.pkl', 'rb') as f:
  d = pickle.load(f)

In [31]:
df1_original = pd.read_excel(mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.xlsx')

In [32]:
len(df1)-len(df1_original)

0

In [33]:
#df1_final_1 = df1_original.loc[df1_original['filter11']==0][['n_street1','n_street2','c_street1','c_street2']]
df1_final_1 = df1_original[['n_street1','n_street2','c_street1','c_street2']]

In [34]:
len(df1_final_1)

58

In [35]:
#df1_original

In [36]:
#df1_final_1

In [37]:
#df1

In [38]:
df1_final_1['Full Address'] = df1['Full Address']
df1_final_1['H House Number'] = df1['H House Number']
df1_final_1['H Street Name'] = df1['H Street Name']
df1_final_1['new h house number'] = df1['new h house number']
df1_final_1['new h street name'] = df1['new h street name']
df1_final_1['new h city'] = df1['new h city']
df1_final_1['unidentified h info'] = df1['unidentified h info']

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [39]:
df1_final_1

,n_street1,n_street2,c_street1,c_street2,Full Address,H House Number,H Street Name,new h house number,new h street name,new h city,unidentified h info
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,38 Concord,38.0,CONCORD,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,34 Beaver N Y h Joralemon,34.0,BEAVER N Y H JORALEMON,NaN,JORALEMON,NaN,H
3,NaN,NaN,NaN,NaN,N Y h 66 Court,NaN,NaN,NaN,66,NaN,COURT
4,NaN,NaN,NaN,NaN,113 Maiden Lane N Y h 42 Court,113.0,MAIDEN LANE N Y H 42 COURT,NaN,42,NaN,COURT
5,NaN,NaN,NaN,NaN,stove man'r Fulton h 103 YVilloughby,NaN,NaN,NaN,103,NaN,YVILLOUGHBY
6,NaN,NaN,NaN,NaN,Columbia c Congress h 14 Sydney Place,NaN,NaN,NaN,14,NaN,SYDNEY PLACE
7,NaN,NaN,NaN,NaN,John n Bridge h 61 Bridgc,NaN,NaN,NaN,61,NaN,BRIDGC
8,NaN,NaN,3 av,16 st Gowanus,N Y' h 3 av c 16 st Gowanus,NaN,NaN,3.0,AV C,NaN,16 ST GOWANUS
9,NaN,NaN,NaN,NaN,N Y h Myrtle av,NaN,NaN,NaN,NaN,NaN,MYRTLE AV
10,NaN,NaN,NaN,NaN,yard 19 st c 3 av h Middle st Gowanus,19.0,ST C 3 AV H MIDDLE ST GOWANUS,NaN,NaN,NaN,MIDDLE ST GOWANUS
11,NaN,NaN,NaN,NaN,"watchman fulton market , N Y h 24 Carlton av",NaN,NaN,NaN,24,NaN,CARLTON AV
12,Classon,Flushing av,NaN,NaN,Graham n Myrtle av h Classon n Flushing av,NaN,NaN,NaN,NaN,FLUSHING,CLASSON N AV
13,NaN,NaN,NaN,NaN,N Y h 16 Sydney place,NaN,NaN,NaN,16,NaN,SYDNEY PLACE
14,61 Carlton,Myrtle av,NaN,NaN,Raymond n Myrtle h 61 Carlton n Myrtle av,NaN,NaN,NaN,61,NaN,CARLTON N MYRTLE AV
15,NaN,NaN,NaN,NaN,Myrtle av c Carll h 159 Myrtle av,NaN,NaN,NaN,159,NaN,MYRTLE AV
16,NaN,NaN,NaN,NaN,Insurance agent office 3 Front N Y h 94 Coint,NaN,NaN,NaN,94,NaN,COINT
17,Classon,Myrtle av,NaN,NaN,Fulton h Classon n Myrtle av,NaN,NaN,NaN,NaN,NaN,CLASSON N MYRTLE AV
18,NaN,NaN,NaN,NaN,copperplate maker 120 W'illiam N Y h,NaN,NaN,NaN,NaN,NaN,H
19,Flushing av,Nostrand av,NaN,NaN,morocco man'r Bedford av n Flushing av h Flush...,NaN,NaN,NaN,NaN,FLUSHING,AV N NOSTRAND AV
20,NaN,NaN,NaN,NaN,Carlton n Fulton av h 22 stn 3 av Gowanus,NaN,NaN,22.0,AV G,NaN,STN 3 OWANUS
21,NaN,NaN,NaN,NaN,Davine Thomas tailor 89 Fulton h 246 Myrtle av,NaN,NaN,NaN,246,NaN,MYRTLE AV
22,NaN,NaN,NaN,NaN,VanBrunt and Hamilton av h 1 Boardman Place Co...,NaN,NaN,NaN,1,NaN,BOARDMAN PLACE COURT ST
23,5 av,9 st Gowanus,NaN,NaN,N Y h 5 av n 9 st Gowanus,NaN,NaN,5.0,N 9,NaN,AV ST GOWANUS
24,NaN,NaN,NaN,NaN,Main c York and 138 Fulton h Fleets alley,NaN,NaN,NaN,NaN,LEE,FTS ALLEY
25,NaN,NaN,NaN,NaN,N Y h 69 YVillow,NaN,NaN,NaN,69,NaN,YVILLOW
26,NaN,NaN,NaN,3 av and 16 st Gowanus,27 st n 5 av h c 3 av and 16 st Gowanus,27.0,ST N 5 AV H C 3 AV AND 16 ST GOWANUS,3.0,AV A,NaN,C ND 16 ST GOWANUS
27,NaN,NaN,NaN,NaN,Plymouth c Adams h 32 C'harlton N Y,NaN,NaN,NaN,32,NaN,C'HARLTON N Y
28,NaN,NaN,NaN,NaN,3 av n 19 st h 20 st b 3 & Sth av Gowanus,3.0,AV N 19 ST H 20 ST B 3 & STH AV GOWANUS,20.0,AV G,NaN,ST B 3 & STOWANUS
29,NaN,NaN,NaN,NaN,14Water N Y h 10 Sydney place,NaN,NaN,NaN,10,NaN,SYDNEY PLACE
30,NaN,NaN,NaN,NaN,Fulton c Court h 19 Myrtle av,NaN,NaN,NaN,19,NaN,MYRTLE AV
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,N Y h 59 W'illoughby,NaN,NaN,NaN,59,NaN,W'ILLOUGHBY
33,NaN,NaN,NaN,NaN,NY h 7 Boardman pl Court st,NaN,NaN,NaN,7,NaN,BOARDMAN PL COURT ST
34,NaN,NaN,NaN,NaN,Greenwich & Dey N Y h 32 Myrtle av,NaN,NaN,NaN,32,NaN,MYRTLE AV
35,NaN,NaN,NaN,NaN,Dean n Hoyt h 103 Iloyt,NaN,NaN,NaN,103,NaN,ILOYT
36,22 st,3 av Gowanus,NaN,NaN,N Y h 22 st n 3 av Gowanus,NaN,NaN,22.0,AV G,NaN,ST N 3 OWANUS
37,Clermont,Myrtle av,NaN,NaN,N Y h Clermont n Myrtle av,NaN,NaN,NaN,NaN,CLERMONT,N MYRTLE AV
38,Baltic,Henry,NaN,NaN,Baltic h Baltic n Henry,NaN,NaN,NaN,N HENRY,NaN,BALTIC
39,NaN,NaN,NaN,NaN,Wood and ware agency 46 Fulton h,NaN,NaN,NaN,NaN,NaN,H
40,NaN,NaN,NaN,NaN,wine mer. Ill Front N Y h Pacific stn Clove rd...,NaN,NaN,NaN,CLOVE RD,NaN,PACIFIC STN BEDFORD
41,NaN,NaN,NaN,NaN,"lawyer and police justice,office 6 Montague Ha...",NaN,NaN,5.0,AV G,NaN,OWANUS
42,NaN,NaN,NaN,NaN,3 av c 21 st h 22nd st b 3 and 4 av Gowanus,3.0,AV C 21 ST H 22ND ST B 3 AND 4 AV GOWANUS,NaN,AV G,NaN,22ND ST B 3 AND 4 OWANUS
43,NaN,NaN,NaN,NaN,153 South N Y h 127 Myrtle av,153.0,SOUTH N Y H 127 MYRTLE AV,NaN,127,NaN,MYRTLE AV
44,NaN,NaN,NaN,NaN,N Y h 14 Sydney place,NaN,NaN,NaN,14,NaN,SYDNEY PLACE
45,NaN,NaN,NaN,NaN,Flushing c Ryerson av Aiderman 7 ward) h,NaN,NaN,NaN,NaN,NaN,H
46,NaN,NaN,NaN,NaN,Brooklyn Independent c Orange and Fulton st h ...,NaN,NaN,NaN,AV B,NaN,ST 13 AND 14 STS
47,NaN,NaN,NaN,NaN,Custom house N Y h 39 Sydney place,NaN,NaN,NaN,39,NaN,SYDNEY PLACE
48,NaN,NaN,NaN,NaN,Fulton market N Y h 24 Carlton av,NaN,NaN,NaN,24,NaN,CARLTON AV
49,NaN,NaN,NaN,NaN,Furman n Everitt h 43 Sauds,NaN,NaN,NaN,43,NaN,SAUDS
50,NaN,NaN,NaN,NaN,Columbia n Fulton h 128 Myrtle ax,NaN,NaN,NaN,128,NaN,MYRTLE AX
51,NaN,NaN,NaN,NaN,N Y h Craubcrry,NaN,NaN,NaN,NaN,NaN,CRAUBCRRY
52,NaN,NaN,NaN,NaN,N Y h 97 Myrtle av,NaN,NaN,NaN,97,NaN,MYRTLE AV
53,NaN,NaN,NaN,NaN,NY h 70Remseit,NaN,NaN,NaN,70,NaN,REMSEIT
54,NaN,NaN,NaN,NaN,8 ward h 3 av & 16,8.0,WARD H 3 AV & 16,3.0,16,NaN,AV &
55,3 av c 27 st h 21 st,3 av Gowanus,3 av,27 st h 21 st n 3 av Gowanus,Greenwood Cemetery monumental works Aiderman 8...,NaN,NaN,3.0,AV G,NaN,AV C 27 ST 21 ST N OWANUS
56,63 Carlton,Myrtle av,NaN,NaN,N Y h 63 Carlton n Myrtle av,NaN,NaN,NaN,63,NaN,CARLTON N MYRTLE AV
57,NaN,NaN,NaN,NaN,attorney & counsellor at law and commissioner ...,NaN,NaN,NaN,NaN,NaN,H

In [40]:
#df1_original[['Full Address','H House Number','H Street Name','new h house number','new h street name','new h city']]
#df1[['unidentified h info']]

In [42]:
df1_final_1.columns

Index(['n_street1', 'n_street2', 'c_street1', 'c_street2', 'Full Address',
       'H House Number', 'H Street Name', 'new h house number',
       'new h street name', 'new h city', 'unidentified h info'],
      dtype='object')

In [41]:
df1_final_1.to_csv(mn_or_bk + '_' + year + '/combine-not so confident2.csv')

## Column descriptions:

#### Full Address
contains the cleaned entry for the address from the input file
#### H House Number
contains the house number if present in Full Address
#### H Street Name
contains the street name if present in Full Address
#### c_street1
contains the first street name in case the address was located at a corner
#### c_street2
contains the second street name in case the address was located at a corner
#### n_street1
contains the first street name in case the address was located near another street
#### n_street2
contains the second street name in case the address was located near another street
#### new h city
contains the city name (if present) in Full Address
#### new h house number
contains the house number if present in Full Address for some additional entries that are not in 'H House Number' 
#### new h street name 
contains the street name if present in Full Address for some additional entries that are not in 'H Street Name'