In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_excel('/Users/prajwal/Desktop/Columbia/C4SR/mn_1880/not so confident.xlsx')

In [3]:
#df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/MN_1880_final_output_tesseract.csv')
#df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/spl removed/BK_1850 tesseract spl removed.csv')
df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/bk 1850/address 2/bk_1850_address2_firstrun.csv')

In [4]:
#df_slice1 = df.loc[df['filter1']==1]

In [5]:
df_slice1 = df

In [6]:
try:
    df_slice1 = df_slice1.rename({'clean address': 'clean_address'}, axis=1)
except:
    pass
try:
    df = df.rename({'clean address': 'clean_address'}, axis=1)
except:
    pass

In [7]:
#slice1_addresses = list(dict(df_slice1['clean_address']).values()) #was initially uncommented



#slice1_addresses = list(dict(df_slice1['clean address']).values())

In [8]:
slice1_addresses = list(dict(df_slice1['Full Address']).values())

In [9]:
modified_clean_address = df['Full Address'].str.replace('Ã¢Â\x80Â\x99',"'").str.replace('Ã¢ÂÂ',"'").str.replace("Ã¢Â\x80Â\x98","").str.replace("Ã¢Â\x80Â\x9c","").str.replace("Ã¢Â\x80Â\x9d","")


"""


#modified_clean_address = df['clean_address'].str.replace('Ã¢Â\x80Â\x99',"'").str.replace('Ã¢ÂÂ',"'").str.replace("Ã¢Â\x80Â\x98","").str.replace("Ã¢Â\x80Â\x9c","").str.replace("Ã¢Â\x80Â\x9d","")
modified_clean_address = modified_clean_address.str.replace("hN", "h N")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(".5 ", " ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(",h ", ", h ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(",h", ", h ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(", h.", ", h. ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace(", h .", ", h. ")
print(modified_clean_address[0])
modified_clean_address = modified_clean_address.str.replace("H udson", "Hudson")
modified_clean_address = modified_clean_address.str.replace("'wav", "'way")
modified_clean_address = modified_clean_address.str.replace("B'way", "Broadway")
modified_clean_address = modified_clean_address.str.replace("B way", "Broadway")
modified_clean_address = modified_clean_address.str.replace("B'kly n", "B'klyn")
modified_clean_address = modified_clean_address.str.replace(",n", " n")
modified_clean_address = modified_clean_address.str.replace("W.h", " Wh")
modified_clean_address = modified_clean_address.str.replace("h-", " h ")
modified_clean_address = modified_clean_address.str.replace("h-", " h ")
modified_clean_address = modified_clean_address.str.replace("-h.", "h.")
#modified_clean_address = modified_clean_address.str.replace("H()", "h.")
#modified_clean_address = modified_clean_address.str.replace("*", " ")
#modified_clean_address = modified_clean_address.str.replace("h r.", "h r")

#modified_clean_address = modified_clean_address.str.replace(".h", ", h.")

#modified_clean_address = modified_clean_address.str.replace("^h", "  h")
#modified_clean_address = modified_clean_address.str.replace("h*", "  h ")

#modified_clean_address = modified_clean_address.str.replace(". .", " ")
"""

'\n\n\n#modified_clean_address = df[\'clean_address\'].str.replace(\'Ã¢Â\x80Â\x99\',"\'").str.replace(\'Ã¢Â\x80Â\x99\',"\'").str.replace("Ã¢Â\x80Â\x98","").str.replace("Ã¢Â\x80Â\x9c","").str.replace("Ã¢Â\x80Â\x9d","")\nmodified_clean_address = modified_clean_address.str.replace("hN", "h N")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(".5 ", " ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(",h ", ", h ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(",h", ", h ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(", h.", ", h. ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace(", h .", ", h. ")\nprint(modified_clean_address[0])\nmodified_clean_address = modified_clean_address.str.replace("H udson", "Hudson")\nmodified_clean_address = modified_clean_address.str.replace("\'wav", "\'way")\nmodified_clean_address = modified_clean_address.str.replace("B\'way", "Broadway")\nmodified_clean_address = modified_clean_address.str.replace("B way", "Broadway")\nmodified_clean_address = modified_clean_address.str.replace("B\'kly n", "B\'klyn")\nmodified_clean_address = modified_clean_address.str.replace(",n", " n")\nmodified_clean_address = modified_clean_address.str.replace("W.h", " Wh")\nmodified_clean_address = modified_clean_address.str.replace("h-", " h ")\nmodified_clean_address = modified_clean_address.str.replace("h-", " h ")\nmodified_clean_address = modified_clean_address.str.replace("-h.", "h.")\n#modified_clean_address = modified_clean_address.str.replace("H()", "h.")\n#modified_clean_address = modified_clean_address.str.replace("*", " ")\n#modified_clean_address = modified_clean_address.str.replace("h r.", "h r")\n\n#modified_clean_address = modified_clean_address.str.replace(".h", ", h.")\n\n#modified_clean_address = modified_clean_address.str.replace("^h", "  h")\n#modified_clean_address = modified_clean_address.str.replace("h*", "  h ")\n\n#modified_clean_address = modified_clean_address.str.replace(". .", " ")\n'

In [10]:
for i in range(0,len(modified_clean_address)):
    if str(modified_clean_address[i]) == 'nan':
        print(i, modified_clean_address[i])
        modified_clean_address[i] = ''

In [11]:
for i in range(0,len(modified_clean_address)):
        if modified_clean_address[i].find("E.") >= 0:
            modified_clean_address[i] = modified_clean_address[i].replace('E.','E ').replace('  ', ' ')

In [12]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("W.") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('W.','W ').replace('  ', ' ')

In [13]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(".h") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('.h',', h. ').replace(',,',',').replace('  ',' ')

In [14]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(",c") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace(',c',' c')

In [15]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(" c. ") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace('c.','c')

In [16]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find(" n. ") >= 0:
        modified_clean_address[i] = modified_clean_address[i].replace(' n. ',' n ')

In [17]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("h r ") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace('h r','h. rear').replace('rear.','rear ')

In [18]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i].find("h. r ") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace('h. r','h. rear').replace('rear.','rear ')

In [19]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i][0:2].find("h'") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace("h'","h. ")

In [20]:
for i in range(0,len(modified_clean_address)):
    if modified_clean_address[i][0:2].find("th") >=0:
        modified_clean_address[i] = modified_clean_address[i].replace("th","h")

In [21]:
modified_clean_address[0]

' '

In [22]:
#re.findall(r'. 1', '.1')

In [23]:
import re

modified_clean_address4 = []
intersections_n_1 = []
intersections_n_2 = []

intersections_c_1 = []
intersections_c_2 = []

for i in range(0,len(modified_clean_address)):
    temp = modified_clean_address[i]
    
    
    
    
    """
    string_with_th = re.findall(r'[0-9]+th', temp)
    for j in range (0, len(string_with_th)):
        temp = temp.replace(string_with_th[j], string_with_th[j].replace('th',''))
    
    string_with_d = re.findall(r'[0-9]+d', temp)
    for j in range (0, len(string_with_d)):
        temp = temp.replace(string_with_d[j], string_with_d[j].replace('d',''))
    
    string_with_rd = re.findall(r'[0-9]+rd', temp)
    for j in range (0, len(string_with_rd)):
        temp = temp.replace(string_with_rd[j], string_with_rd[j].replace('rd',''))
    
    string_with_st = re.findall(r'[0-9]+st', temp)
    for j in range (0, len(string_with_st)):
        temp = temp.replace(string_with_st[j], string_with_st[j].replace('st',''))
    
    string_with_h_dot = re.findall(r'h.+[0-9]', temp)
    for j in range (0, len(string_with_h_dot)):
        temp = temp.replace(string_with_h_dot[j], string_with_h_dot[j].replace('h.','h. ').replace('  ',' '))
    
    string_with_h = re.findall(r'h+[0-9]', temp)
    for j in range (0, len(string_with_h)):
        temp = temp.replace(string_with_h[j], string_with_h[j].replace('h','h ').replace('  ',' '))
        
    string_with_fullstop = re.findall(r'. +[0-9]', temp)
    for j in range (0, len(string_with_fullstop)):
        temp = temp.replace(string_with_fullstop[j], string_with_fullstop[j].replace('.','. h ').replace('  ',' '))
    
    string_with_comma = re.findall(r', +[0-9]', temp)
    for j in range (0, len(string_with_comma)):
        temp = temp.replace(string_with_comma[j], string_with_comma[j].replace(',',', h ').replace('  ',' '))
    
    string_with_bracket = re.findall(r'\) +[0-9]', temp)
    for j in range (0, len(string_with_bracket)):
        temp = temp.replace(string_with_bracket[j], string_with_bracket[j].replace(')',') h ').replace('  ',' '))
    
    string_with_dash = re.findall(r'-+[0-9]', temp)
    for j in range (0, len(string_with_dash)):
        temp = temp.replace(string_with_dash[j], string_with_dash[j].replace('-','').replace('  ',' '))
    
    string_with_fullstop_number = re.findall(r'.+[0-9]', temp)
    for j in range (0, len(string_with_fullstop_number)):
        temp = temp.replace(string_with_fullstop_number[j], string_with_fullstop_number[j].replace('.','').replace('  ',' '))
    
    
    string_with_S_1 = re.findall(r'[0-9]+S', temp)
    string_with_S_2 = re.findall(r'S+[0-9]', temp)
    string_with_S = string_with_S_1 + string_with_S_2
    for j in range (0, len(string_with_S)):
        #print(i,string_with_S)
        temp = temp.replace(string_with_S[j], string_with_S[j].replace('S','5'))
        #print(temp)
    
    
    """
    
    
    
    try:
        location_of_h_1 = temp.split().index('h.')
    except:
        location_of_h_1 = -1
    try:
        location_of_h_2 = temp.split().index('h')
    except:
        location_of_h_2 = -1
    #print(location_of_h_1, location_of_h_2)

    location_of_h = max(location_of_h_1, location_of_h_2)
    """
    if location_of_h_1>0:
        if location_of_h_2<0:
            location_of_h = location_of_h_1
        else:
            #print(i,'in exception1')
            #print(location_of_h_1, location_of_h_2)
            location_of_h = max(location_of_h_1, location_of_h_2)
    
    else:
        if location_of_h_2 > 0:
            location_of_h = location_of_h_2
        else:
            print(i,'in exception2')
            print(location_of_h_1, location_of_h_2)
            location_of_h = -1
    """
    temp = temp.replace('^','')
    
    
    
    """
    temp = temp.replace('ft.','')
    temp = temp.replace('ft','')
    temp = temp.replace('Ft.','')
    """
    
    undesired_starts = ['.',' .',',',' ,','-',' -','- ',', ','. ',"'","' "," '","''",'&','*','& ','* ',
                       ' &',' *']
    for i in range(0,len(undesired_starts)):
        if temp[0:2].find(undesired_starts[i])>=0:
            temp = temp[0:2].replace(undesired_starts[i],'') + temp[2:]
    
    words_after_h = temp.split()[location_of_h+1:]
    try:
        location_of_n = words_after_h.index('n')
        intersection_n_street1 = ' '.join(words_after_h[0:location_of_n])
        intersection_n_street2 = ' '.join(words_after_h[location_of_n+1:])

        intersections_n_1.append(intersection_n_street1)
        intersections_n_2.append(intersection_n_street2)
    except:
        intersections_n_1.append('')
        intersections_n_2.append('')
    
    try:
        location_of_c = words_after_h.index('c')
        intersection_c_street1 = ' '.join(words_after_h[0:location_of_c])
        intersection_c_street2 = ' '.join(words_after_h[location_of_c+1:])

        intersections_c_1.append(intersection_c_street1)
        intersections_c_2.append(intersection_c_street2)
    except:
        intersections_c_1.append('')
        intersections_c_2.append('')
    
    modified_clean_address4.append(temp)

In [24]:
#for i in range(0,len(intersections_c_1)):
    #print(i, intersections_c_1[i] + ' and ' + intersections_c_2[i])

In [25]:
for i in range(0,len(modified_clean_address4)):
    if modified_clean_address4[i].find(".h") >= 0:
        print(i, modified_clean_address4[i])

In [26]:
#for i in range(0,len(modified_clean_address)):
    #if modified_clean_address[i].find(" n ") >0:
        #print(i, modified_clean_address[i])

In [27]:
df['modified_clean_address'] = modified_clean_address4

In [28]:
df['n_street1'] = intersections_n_1
df['n_street2'] = intersections_n_2
df['c_street1'] = intersections_c_1
df['c_street2'] = intersections_c_2

In [29]:
#df.head()

In [30]:
#df.to_excel('doubt/not so confident2.xlsx')

In [31]:
df_modified_addresses = pd.DataFrame(modified_clean_address4, columns=['clean_address'])

In [32]:
#pd.DataFrame(modified_clean_address2).to_csv('doubt/doubt2.txt', header=None,  sep=' ', mode='a')

In [33]:
temp_addr = []
for i in range(0,len(df_modified_addresses)):
    temp_addr.append(str(i)+" "+df_modified_addresses['clean_address'][i])
#np.savetxt('doubt/not so confident addr.txt', temp_addr, fmt='%s')

In [34]:
#np.savetxt('doubt/not so confident addr.txt', temp_addr, fmt='%s')

In [35]:
#df.head()

In [36]:
#df.columns

In [37]:
#df.head()

In [38]:
df['n_street1'] = df['n_street1'].replace('',np.nan)
df['n_street2'] = df['n_street2'].replace('',np.nan)
df['c_street1'] = df['c_street1'].replace('',np.nan)
df['c_street2'] = df['c_street2'].replace('',np.nan)

In [39]:
#df['filter11'] = np.where(df['n_street1'].isna() & df['n_street2'].isna() & df['c_street1'].isna() & df['c_street2'].isna() & df['new h house number'].isna() & df['new h street name'].isna(), 1, 0)
#was initially uncommented

df['filter11'] = np.where(df['n_street1'].isna() & df['n_street2'].isna() & df['c_street1'].isna() & df['c_street2'].isna(), 1, 0)

In [40]:
df_filter11 = df.loc[df['filter11'] == 1]
df_filter11 = df_filter11.reset_index()

In [41]:
#df_filter11['modified_clean_address']

In [42]:
modified_clean_address5 = []
for i in range(0,len(df_filter11)):
    temp = df_filter11['modified_clean_address'][i]
    
    string_with_S = re.findall(r'[0-9]+S', temp)
    for i in range (0, len(string_with_S)):
        temp = temp.replace(string_with_S[i], string_with_S[i].replace('S','5'))
    modified_clean_address5.append(temp)

In [43]:
#for i in range(0,len(modified_clean_address5)):
    #print(i, modified_clean_address5[i])

In [44]:
#for i in range(0,len(modified_clean_address5)):
    #if modified_clean_address5[i].find("h. ") <0:
        #print(i, modified_clean_address5[i])

In [45]:
df['modified_clean_address'][10:16]

10     2954 Pearl
11
12       Myrtle c
13
14
15
Name: modified_clean_address, dtype: object

In [46]:
df['modified_clean_address'] = df['modified_clean_address'].str.replace('rearear','rear')
df['modified_clean_address'] = df['modified_clean_address'].str.replace('rearefused','refused')
df['modified_clean_address'] = df['modified_clean_address'].str.replace('h. r ','h. rear ')

In [47]:
df

,Unnamed: 0,Full Address,modified_clean_address,n_street1,n_street2,c_street1,c_street2,filter11
0,0,,,NaN,NaN,NaN,NaN,1
1,1,,,NaN,NaN,NaN,NaN,1
2,2,,,NaN,NaN,NaN,NaN,1
3,3,,,NaN,NaN,NaN,NaN,1
4,4,merchant,merchant,NaN,NaN,NaN,NaN,1
5,5,,,NaN,NaN,NaN,NaN,1
6,6,Court,Court,NaN,NaN,NaN,NaN,1
7,7,141 Front,141 Front,NaN,NaN,NaN,NaN,1
8,8,,,NaN,NaN,NaN,NaN,1
9,9,,,NaN,NaN,NaN,NaN,1
10,10,2954 Pearl,2954 Pearl,NaN,NaN,NaN,NaN,1
11,11,,,NaN,NaN,NaN,NaN,1
12,12,Myrtle c,Myrtle c,NaN,NaN,Myrtle,NaN,0
13,13,,,NaN,NaN,NaN,NaN,1
14,14,,,NaN,NaN,NaN,NaN,1
15,15,,,NaN,NaN,NaN,NaN,1
16,16,,,NaN,NaN,NaN,NaN,1
17,17,,,NaN,NaN,NaN,NaN,1
18,18,,,NaN,NaN,NaN,NaN,1
19,19,Y,Y,NaN,NaN,NaN,NaN,1
20,20,,,NaN,NaN,NaN,NaN,1
21,21,,,NaN,NaN,NaN,NaN,1
22,22,,,NaN,NaN,NaN,NaN,1
23,23,,,NaN,NaN,NaN,NaN,1
24,24,73 William,73 William,NaN,NaN,NaN,NaN,1
25,25,15 Cortlandt,15 Cortlandt,NaN,NaN,NaN,NaN,1
26,26,,,NaN,NaN,NaN,NaN,1
27,27,23 Myrtle av &,23 Myrtle av &,NaN,NaN,NaN,NaN,1
28,28,,,NaN,NaN,NaN,NaN,1
29,29,,,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...
15646,15646,,,NaN,NaN,NaN,NaN,1
15647,15647,,,NaN,NaN,NaN,NaN,1
15648,15648,,,NaN,NaN,NaN,NaN,1
15649,15649,,,NaN,NaN,NaN,NaN,1
15650,15650,,,NaN,NaN,NaN,NaN,1
15651,15651,,,NaN,NaN,NaN,NaN,1
15652,15652,57 William,57 William,NaN,NaN,NaN,NaN,1
15653,15653,,,NaN,NaN,NaN,NaN,1
15654,15654,,,NaN,NaN,NaN,NaN,1
15655,15655,,,NaN,NaN,NaN,NaN,1
15656,15656,,,NaN,NaN,NaN,NaN,1
15657,15657,,,NaN,NaN,NaN,NaN,1
15658,15658,,,NaN,NaN,NaN,NaN,1
15659,15659,236,236,NaN,NaN,NaN,NaN,1
15660,15660,,,NaN,NaN,NaN,NaN,1
15661,15661,,,NaN,NaN,NaN,NaN,1
15662,15662,,,NaN,NaN,NaN,NaN,1
15663,15663,,,NaN,NaN,NaN,NaN,1
15664,15664,,,NaN,NaN,NaN,NaN,1
15665,15665,,,NaN,NaN,NaN,NaN,1
15666,15666,,,NaN,NaN,NaN,NaN,1
15667,15667,,,NaN,NaN,NaN,NaN,1
15668,15668,41 Cortlandt,41 Cortlandt,NaN,NaN,NaN,NaN,1
15669,15669,,,NaN,NaN,NaN,NaN,1
15670,15670,,,NaN,NaN,NaN,NaN,1
15671,15671,,,NaN,NaN,NaN,NaN,1
15672,15672,,,NaN,NaN,NaN,NaN,1
15673,15673,,,NaN,NaN,NaN,NaN,1
15674,15674,,,NaN,NaN,NaN,NaN,1
15675,15675,,,NaN,NaN,NaN,NaN,1

In [48]:
#df.to_excel('/Users/prajwal/Desktop/Columbia/C4SR/mn_1880/not so confident-mn1880-v7.xlsx')

In [49]:
#df.to_excel('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run2/bk-1850-2.xlsx')
df.to_excel('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/bk 1850/address 2/bk_1850_address2_afterDoubt.xlsx')