In [ ]:
# Load libraries
import missingno as msno 
import re
import pickle
import pandas as pd
import numpy as np

import sys
np.set_printoptions(threshold=sys.maxsize)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
output_1850_mn = pd.read_csv("/content/output_1850_mn.csv", index_col=0, low_memory= False)
output_1850_bk = pd.read_csv("/content/output_1850_bk.csv", index_col=0, low_memory= False)
output_1880 = pd.read_csv("/content/output_1880.csv", index_col=0, low_memory= False)

In [ ]:
# Load Data
with open('/content/mn_final_output.pkl', 'rb') as f:
    output_1850 = pickle.load(f)
    
with open('/content/final_output.pkl', 'rb') as f:
    output_1880 = pickle.load(f)
    
with open('/content/bk_final_output.pkl', 'rb') as f:
    output_1850_bk = pickle.load(f)
    
# Replace empty strings with NaN values
output_1850.replace('', np.nan, inplace=True)
output_1880.replace('', np.nan, inplace=True)
output_1850_bk.replace('', np.nan, inplace=True)

Clean widow flags

1850 brooklyn

In [ ]:
# widow flag = true if full address contains widow word and widow flag was false

len(output_1850_bk.loc[(output_1850_bk['Widow-flag'] == 'False')  &  (output_1850_bk['Full Address'].str.startswith('widow'))])

79

In [ ]:
# widow flag = true if full address contains widow word and widow flag was false 79 rows modified
output_1850_bk['Full Address'] = output_1850_bk['Full Address'].str.replace('widow of Henry ','')
output_1850_bk['Full Address'] = output_1850_bk['Full Address'].str.replace('widow of P ','')
output_1850_bk['Full Address'] = output_1850_bk['Full Address'].str.replace('widow of George. ','')
output_1850_bk['Full Address'] = output_1850_bk['Full Address'].str.replace('widow of Gerrit ','')

In [ ]:
output_1850_bk.loc[(output_1850_bk['Widow-flag'] == 'False')  &  (output_1850_bk['H City'].str.startswith('widow of')), 'Widow Of'] = output_1850_bk.loc[(output_1850_bk['Widow-flag'] == 'False')  &  (output_1850_bk['Full Address'].str.startswith('widow of')), 'Full Address'].str.split().str[2]
output_1850_bk.loc[(output_1850_bk['Widow-flag'] == 'False')  &  (output_1850_bk['H City'].str.startswith('widow of')), 'Widow-flag'] = 'True'
output_1850_bk.loc[(output_1850_bk['Widow-flag'] == 'False')  &  (output_1850_bk['Full Address'].str.startswith('widow')), 'Widow-flag'] = 'True'
output_1850_bk['Full Address'] = output_1850_bk['Full Address'].str.replace('widow ','')

In [ ]:
# widow flag = true if full address contains widow word and widow flag was false
len(output_1850_bk.loc[(output_1850_bk['Widow-flag'] == 'False')  &  (output_1850_bk['Full Address'].str.startswith('widow'))])

1850 manhattan

In [ ]:
len(output_1850.loc[(output_1850['Widow-flag'] == 'False')  &  (output_1850['Full Address'].str.startswith('widow'))])

64

In [ ]:
print(output_1850.loc[(output_1850['Widow-flag'] == 'False')  &  (output_1850['Full Address'].str.startswith('widow of')), 'Full Address'].str.split().str[0:3])


for i in range(1,len(output_1850)):
 if ((output_1850['Widow-flag'][str(i)] == 'False') & (str(output_1850['Full Address'][str(i)]).startswith('widow of'))):
    output_1850.loc[str(i),'Widow-flag'] = 'True'
    output_1850.loc[str(i),'Widow of'] = output_1850['Full Address'][str(i)].split()[2]
    output_1850.loc[str(i),'Full Address'] =" ".join(output_1850['Full Address'][str(i)].split()[3:])

 if ((output_1850['Widow-flag'][str(i)] == 'False') & (str(output_1850['Full Address'][str(i)]).startswith("widow' of"))):
    output_1850.loc[str(i),'Widow-flag'] = 'True'
    output_1850.loc[str(i),'Widow of'] = output_1850['Full Address'][str(i)].split()[2]
    output_1850.loc[str(i),'Full Address'] =" ".join(output_1850['Full Address'][str(i)].split()[3:])

 if ((output_1850['Widow-flag'][str(i)] == 'False') & (str(output_1850['Full Address'][str(i)]).startswith("widow- of"))):
    output_1850.loc[str(i),'Widow-flag'] = 'True'
    output_1850.loc[str(i),'Widow of'] = output_1850['Full Address'][str(i)].split()[2]
    output_1850.loc[str(i),'Full Address'] =" ".join(output_1850['Full Address'][str(i)].split()[3:])

 if ((output_1850['Widow-flag'][str(i)] == 'False') & (str(output_1850['Full Address'][str(i)]).startswith("widow’ of"))):
    output_1850.loc[str(i),'Widow-flag'] = 'True'
    output_1850.loc[str(i),'Widow of'] = output_1850['Full Address'][str(i)].split()[2]
    output_1850.loc[str(i),'Full Address'] =" ".join(output_1850['Full Address'][str(i)].split()[3:])

output_1850.loc[(output_1850['Widow-flag'] == 'False')  &  (output_1850['Full Address'].str.startswith('widow')), 'Widow-flag'] = 'True'
output_1850['Full Address'] = output_1850['Full Address'].str.replace('widow ','')

114           [widow, of, David.]
1330           [widow, of, Sars.]
4495           [widow, of, Ebrd.]
5073          [widow, of, Daniel]
7490           [widow, of, James]
8503            [widow, of, Geo.]
10465         [widow, of, James.]
13098            [widow, of, Wm.]
15929       [widow, of, Roswell.]
16477     [widow, of, Thomas,'r.]
18368     [widow, of, Frederick.]
27884           [widow, of, Jos.]
28658        [widow, of, Patrick]
30353          [widow, of, John.]
31766       [widow, of, William.]
31768         [widow, of, Peter.]
35213         [widow, of, Jacob.]
35267          [widow, of, Benj.]
35373    [widow, of, Stephen,.r.]
38668          [widow, of, John.]
40540       [widow, of, Henry,85]
40872          [widow, of, Thos.]
42012       [widow, of, William.]
43465         [widow, of, (Rev.)]
45315        [widow, of, Philip.]
45960          [widow, of, Alex.]
45966           [widow, of, Geo.]
47727          [widow, of, Alex.]
48452          [widow, of, James]
49865         [widow, of, David.]
50202       [widow, of, William.]
50797           [widow, of, John]
52363        [widow, of, Joshua.]
52373         [widow, of, George]
55151         [widow, of, Joseph]
55186         [widow, of, Hiram.]
55847     [widow, of, Frederick.]
55981            [widow, of, Wm.]
57924        [widow, of, Daniel.]
59419     [widow, of, Frederick.]
59985            [widow, of, 011]
61191          [widow, of, John.]
61518       [widow, of, William.]
65800        [widow, of, Isaiah.]
70316    [widow, of, Jeremiah,49]
72904           [widow, of, A.H.]
73549         [widow, of, John,']
73952          [widow, of, Henry]
75225    [widow, of, William,682]
75682         [widow, of, Sahel.]
76975       [widow, of, William.]
77257     [widow, of, Isaac,r.44]
79292      [widow, of, Benjamin.]
79335          [widow, of, Peter]
79468       [widow, of, William.]
Name: Full Address, dtype: object

In [ ]:
len(output_1850.loc[(output_1850['Widow-flag'] == 'False')  &  (output_1850['Full Address'].str.startswith('widow'))])

0

1880 cd

In [ ]:
# widow flag = true if full address contains widow word and widow flag was false
len(output_1880.loc[(output_1880['Widow-flag'] == 'False')  &  (output_1880['Full Address'].str.startswith('widow'))])

4

In [ ]:
print(output_1880.loc[(output_1880['Widow-flag'] == 'False')  &  (output_1880['Full Address'].str.startswith('widow')), 'Full Address'])

output_1880.loc[(output_1850['Widow-flag'] == 'False')  &  (output_1880['Full Address'].str.startswith('widow')), 'Widow-flag'] = 'True'
output_1880['Full Address'] = output_1880['Full Address'].str.replace('widow ','')

65722                widow h 348 E. 33d
89062                widow h 340 E. 33d
91135               widow h 405 E. 71st
139014    widow (refused) h 443 W. 37th
Name: Full Address, dtype: object

In [ ]:
# widow flag = true if full address contains widow word and widow flag was false
len(output_1880.loc[(output_1880['Widow-flag'] == 'False')  &  (output_1880['Full Address'].str.startswith('widow'))])

0

In [ ]:
# save the cleaned files

output_1850_bk.to_csv('output_1850_bk.csv')
output_1850.to_csv('output_1850_mn.csv')
output_1880.to_csv('output_1880.csv')

In [ ]:
# upload the csv files
output_1850_bk = pd.read_csv("/content/output_1850_bk.csv", index_col=0)
output_1850 = pd.read_csv("/content/output_1850.csv", index_col=0)
output_1880 = pd.read_csv("/content/output_1880.csv", index_col=0)

combine occupations from all the three files

Keep the occupations which are atleast 3 letter words to avoid unnecessary errors

In [ ]:
# non null values
output_1850_bk.loc[output_1850_bk['Occupation'] == 'counse)lor', ['Occupation']] = "counsellor"
output_1850_bk['Occupation'] = output_1850_bk['Occupation'].str.replace(')','')
output_1850['Occupation'] = output_1850['Occupation'].str.replace(')','')
output_1880['Occupation'] = output_1880['Occupation'].str.replace(')','')

output_1850_bk['Occupation'] = output_1850_bk['Occupation'].str.replace('.','')
output_1850['Occupation'] = output_1850['Occupation'].str.replace('.','')
output_1880['Occupation'] = output_1880['Occupation'].str.replace('.','')

output_1850_bk['Occupation'] = output_1850_bk['Occupation'].str.replace(',','')
output_1850['Occupation'] = output_1850['Occupation'].str.replace(',','')
output_1880['Occupation'] = output_1880['Occupation'].str.replace(',','')

x = output_1850_bk.loc[output_1850_bk['Occupation'].notnull(), ['Occupation']]
x = x.append(output_1850.loc[output_1850['Occupation'].notnull(), ['Occupation']])
x = x.append(output_1880.loc[output_1880['Occupation'].notnull(), ['Occupation']])

x = x[~(x.Occupation.str.len() < 3)]
x['Occupation'] = x['Occupation'].str.lower()

Currently there are 14k occupations

In [ ]:
len(x.Occupation.unique())
#len(x)

14475

clean 1850 bk file

subset rows where occupation is null

In [ ]:
# rows where occupation is null
y = output_1850_bk.loc[(output_1850_bk['Occupation'].isnull()) & (output_1850_bk['Full Address'].notnull()), ['Full Address']]
y['Full Address'] = y['Full Address'].str.replace('.',' ')
y['Full Address'] = y['Full Address'].str.replace('â€™','an')
# 3334 nulls

len(y)

3334

Find if there is an exact match for occupations as substring in the address column

In [ ]:
x_1850_bk = x[~(x.Occupation.str.len() < 5)]

z = y['Full Address'].str.extract('(%s)' % '|'.join([re.escape(x) for x in x_1850_bk.Occupation.unique()]))
z.columns = ['occupation']
z = z.loc[z['occupation'].notnull(), ['occupation']]
len(z)

559

In [ ]:
z.loc[(z.occupation == 'hotel') | (z.occupation == 'boarding house') | (z.occupation == 'foot of' ) | (z.occupation == 'market' ) | (z.occupation == 'office' ) | (z.occupation == 'coffee' ) | (z.occupation == 'select school'), 'occupation'] = None
z.loc[(z.occupation == 'stone yard') | (z.occupation == 'railroad') | (z.occupation == 'express' ), 'occupation'] = None

z.loc[(z.occupation == 'purser'), 'occupation'] = "purser's clerk"
z.loc[(z.occupation == 'sheet iron worker'), 'occupation'] = "tin and sheet iron worker  "

In [ ]:
z = z.loc[z['occupation'].notnull(), ['occupation']]
len(z)

497

In [ ]:
len(z.occupation.unique())

220

In [ ]:
#output_1850_bk = output_1850_bk.drop(['occupation'], axis=1)
output_1850_bk = output_1850_bk.join(z)

In [ ]:
output_1850_bk['len_occ']=0
output_1850_bk.loc[(output_1850_bk['occupation'].notnull()),'len_occ'] = output_1850_bk.loc[(output_1850_bk['occupation'].notnull()),'occupation'].str.len()

Assumption is that the address will start with occupation in case the occupation column is null, so match the found occupation substring with the starting words in the address columns

In [ ]:
#z.loc[z['Full Address'].notnull(), 'Full Address'].str[0:z.iloc[z['len_occ']]]

output_1850_bk['Old_Occupation_info'] = output_1850_bk['Occupation']
output_1850_bk['add_sub_match'] = '0'
output_1850_bk['new_occ_found'] = 'False'

for i in range(len(output_1850_bk)):
  output_1850_bk['add_sub_match'][i] = str(output_1850_bk.iloc[i]['Full Address'])[0:output_1850_bk.iloc[i]["len_occ"]]

  if ((output_1850_bk['occupation'][i] == output_1850_bk['add_sub_match'][i])):
    output_1850_bk['new_occ_found'][i] = 'True'

    if (len(output_1850_bk['Full Address'][i].split(',')) > 1):
      output_1850_bk['Occupation'][i] = output_1850_bk['Full Address'][i].split(',')[0]
    else:
      output_1850_bk['Occupation'][i] = output_1850_bk['occupation'][i]


  if ((output_1850_bk['new_occ_found'][i] == 'False') & (str(output_1850_bk['Full Address'][i]).startswith('mer'))):
    output_1850_bk['new_occ_found'][i] = 'True'
    output_1850_bk['Occupation'][i] = 'merchant'

Mark the occupation found column as assume if there are still matches in the previous step but the address column doesnot start with the matched occupation

In [ ]:
for i in range(len(output_1850_bk)):
  if ((output_1850_bk['new_occ_found'][i] == 'False') & (str(output_1850_bk.iloc[i]['occupation']) != 'nan')):
    output_1850_bk['new_occ_found'][i] = 'assume'
    output_1850_bk['Occupation'][i] = output_1850_bk['occupation'][i]

In [ ]:
len(output_1850_bk.loc[(output_1850_bk['new_occ_found'] == 'True')])

300

In [ ]:
len(output_1850_bk.loc[(output_1850_bk['new_occ_found'] == 'assume')])

244

try more fuzzy name match algorithms for remaining records

In [ ]:
# try more fuzzy  name match algorithms

uni_occ = x.Occupation.unique()

import pandas as pd
!pip install fuzzywuzzy
from fuzzywuzzy import process, fuzz

def find_match(x):

    match = process.extract(x, uni_occ, scorer=fuzz.WRatio, limit=1)
    return pd.Series([match[0][0], match[0][1]])

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.18.0)

In [ ]:
import re
# clean the records
for i in range(len(y)):
  y['Full Address'][i] = re.sub("[^a-zA-Z]", 
                          " ",     
                          str(y['Full Address'][i]))
  
  y['Full Address'][i] = str(y['Full Address'][i])


for i in range(len(uni_occ)):
  uni_occ[i] = re.sub("[^a-zA-Z]", 
                          " ",     
                          str( uni_occ[i]))
  
  uni_occ[i] = str(uni_occ[i])

In [ ]:
# do name matching only for false and assume in new_occ_found 
y['new_occ'] = 'False'
y['match_rating'] = 0

count = 0
for i in range(len(y)):
  split_str = str(y['Full Address'][i]).split(",")
  match = find_match(split_str[0])
  y['new_occ'][i] =match[0]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
  y['match_rating'][i] = match[1]

  if ((len(split_str) > 1) & (y['match_rating'][i] < 95)):
    match = find_match(split_str[1])
    if match[1] > y['match_rating'][i]:
      y['new_occ'][i] =match[0]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
      y['match_rating'][i] = match[1]
    
  count = count + 1
  if (count % 100 == 0):
    print(count)

In [ ]:
# fuzzy name matched length to be >3 
   
# if new_occ found is true then keep occupation as substring_match
                                                                                                                                                                                                                                                                                                                                                                                                                                                     
# else if new_occ found = False or assume and fuzzy match >=90 then update occupation and new_occ found = name_match

# else keep the assumed occupation

In [ ]:
y.to_csv('1850bk_fuzzymatch_output.csv')
output_1850_bk.to_csv('1850bk_occmatch_output.csv')

In [ ]:
output_1850_bk = pd.read_csv("/content/1850bk_occmatch_output.csv", index_col=0)
#output_1850_bk = pd.read_csv("/content/output_1850_bk.csv", index_col=0)

fuzzy_name = pd.read_csv("/content/1850_bk_fuzzymatch.csv", index_col=0)

In [ ]:
# merge the fuzzy name matched table with original table
output_1850_bk = output_1850_bk.merge(fuzzy_name[['new_occ']], left_index= True, right_index= True, how ="left" )

In [ ]:
# if the new_occ_found col is not true and occupation column is null then replace occ with new_occ and new_occ_found with  name match
for i in range(1,len(output_1850_bk)):
  if ((output_1850_bk['new_occ_found'][i] != 'TRUE') & (str(output_1850_bk['new_occ'][i]) !='nan') & (str(output_1850_bk['Old_Occupation_info'][i]) =='nan')):
    output_1850_bk['new_occ_found'][i] = 'Name match'
    output_1850_bk['Occupation'][i] = output_1850_bk['new_occ'][i]

In [ ]:
len(output_1850_bk.loc[(output_1850_bk['new_occ_found'] == 'TRUE')])

300

In [ ]:
len(output_1850_bk.loc[(output_1850_bk['new_occ_found'] == 'Name match')])

155

In [ ]:
len(output_1850_bk.loc[(output_1850_bk['new_occ_found'] == 'assume')])

40

In [ ]:
output_1850_bk.to_csv('output_1850_bk.csv')

There are a total of ~500 matches

Examples of absolute occupation match

In [ ]:
output_1850_bk.loc[(output_1850_bk['new_occ_found'] == 'TRUE'), ['Full Name','Occupation','Full Address']]

               Full Name  ...                                       Full Address
60     Adams Russell R W  ...                  merch’t 116 WallN Y h 6 Joralemon
69        Addoms William  ...               merch’t275 Broadway NYh 393 Atlantic
99     Alexander James K  ...                    book-keeper Bcdford n Myrtle av
108            Alger Geo  ...  grocery flour & feed store & brick yard 3d av ...
111       Allen Albert G  ...             mer’t 351 Broadway N Yh44 Sydney place
...                  ...  ...                                                ...
15169     Wood Michael W  ...                                laborer r 45 Little
15210       Woodward W S  ...                                mer. N Y h 87 Henry
15216     Woodworth Ruth  ...                  select school 344 Fulton op Adams
15260         Wright S P  ...  wheelwright and blacksmith , Plymouth n Bridge...
15269           Wright W  ...                                    cartman 25 Navy

[300 rows x 3 columns]

Examples of tricky name matches using name matching algorithm

In [ ]:
output_1850_bk.loc[(output_1850_bk['new_occ_found'] == 'Name match'), ['Full Name','Occupation','Full Address']]

                Full Name  ...                                       Full Address
26          Abrams Joseph  ...           sash.and blind maker 14 James & 59 Pearl
95     Alexander George W  ...              book-binder 7 Spruce NYh 128 Prospect
143           ALLEN & Co.  ...    LONG ISLAND GROCERY , 270 Washington e Myrtleav
173        AMERICAN HOTEL  ...                  26 Fulton , John Jones Proprietor
197                   NaN  ...  Anderson Rob’t G,inspector of stone U S dry do...
...                   ...  ...                                                ...
14961       Williams John  ...                tin and sheet iron worker , 16S Jay
15144       Wood Ebenezer  ...       tin plate and sheet iron worker , 184 Nassau
15157           Wood John  ...                        Navy yard watchman 160 York
15188  Woodcock Frederick  ...                oil cloth manufr. Adelphi a Park av
15331           Young J B  ...                                  President n Court

[155 rows x 3 columns]

Examples of assume occupations

In [ ]:
output_1850_bk.loc[(output_1850_bk['new_occ_found'] == 'assume'), ['Full Name','Occupation','Full Address']]

                            Full Name  ...                                       Full Address
884                               NaN  ...         Bergen Peter comptroller 25 Hicks c Poplar
997          Birkbeck Alexander & Son  ...  Union foundry & machine shop Water n Fulton fe...
1005                Birmingham Thomas  ...                   oii cloth man’r Navy n DeKalb av
1323                       Boyle John  ...              oil cloth maker , Dcan c Vanderbiltav
1388                    Brady Francis  ...               oil cloth maker , Canton n Myrtle av
1433                      Brandt Chas  ...       glazed oil cloth manuf’r Bedford n DeKalb av
1448                     Brasher Wm M  ...  oil cloth manuf’r Debevoise c Fulton av h 337 ...
1576          BROOKLYA GRAMMAR SCHOOL  ...             Henry c Atlantic James Marsh principal
1990                              NaN  ...  BurtisDivine,ship builder prop’r of marine rai...
2280                              NaN  ...  Carpenter Thomas , Prest Kings Co Mutual Ins c...
3341               Cunningham Bernard  ...             oil cloth manf r , Skilman n DeKalb av
3487                  Darrow Walter R  ...  gold pen manuf’r 10 North William N F h 112 Du...
3706                  De Mott Abraham  ...            sash & blind maker Duffield n Myrtle av
4540                      Erven James  ...       prepared chalk mnufa’r 50 Fulton h 158 Front
4547                    Estes Elihu B  ...          pepper sauce manr. Hamilton av n the Dock
5021                 Foster Prince FI  ...           pork and poultry dealer , Market c James
6478                        Higgins S  ...         hot air furnace manuf’r Livingston c Smith
6566                       Hoff Henry  ...                      sash & blind maker 105 Nassau
6719                        How James  ...      white lead manuf*r Front c Bridge h 93 Willow
6809                      Hughes John  ...                           blac.ksmith 55 York h 59
7107                      Jewett John  ...  white lead and oil cloth manfacturer , 182 Fro...
7259                JONES Ortvir.tE O  ...                  'Wood and ware agency 46 Fulton h
8543                   MALBOXF. RALPH  ...  Notary Public , Land and Loan agent office 307...
8947                       Miller D D  ...          lantern manuf’r 207 Water N Y h 88 Orange
9608                   M’AVO.Y ARTHUB  ...                    wholesal,e liquor store 171 Jay
9873                 M’Dernjott James  ...                  tin and copper smith , 194 Bridge
10111                   M“Guire Peter  ...               tin and copper smith , 114 Hudson av
10521                    Noble John S  ...      Ins. agent 65 Wall NYh Lawrence n Wib Ioughby
10522                           Noe H  ...  sash & blind maker 9 Lindon row Pearl n Fulton st
10554  NORTH AMERICA,N FIRE INSURANCE  ...        Agency Office 50 Fulton—J E Underhill agent
11078                     Perry James  ...  nail manuf. Flatbush turnpike n Powers and Myr...
11272                      Poole Mark  ...         garden syringe manuf’r Myrtle av n Steuben
11651                Reid Catherine S  ...                        young ladies’school 149 Jay
11848            Ringwood Catharine F  ...                           ladies’ school 111 Pearl
13099                 Spencer David H  ...       gold pea manuf’n 2 Maiden lane N Y h 41 Dean
13222                     Steele John  ...      screw bolt manuf’r Vanderbilt av n Pacific sl
14340                      Van Zandt   ...  Doctor Smith c Schermerhorn 1 assessor 11th wa...
14367                   Waldron Henry  ...  N Y and Brooklyn white lead and paint mills 13...
15029                 Wilmerth Robert  ...              sash & blind maker Park n Franklin av
15083              Wily George S & Co  ...  oil cloth manufactory , Fleet c Willoughby h 7...

[40 rows x 3 columns]

Method 1 to standardize the cd : aglomerative clustering

In [ ]:

import numpy as np
import re
!pip install textdistance
import textdistance
# we will need scikit-learn>=0.21
from sklearn.cluster import AgglomerativeClustering

In [ ]:
text = output_1850_bk.loc[output_1850_bk['Occupation'].notnull(), ['Occupation']] # unique occupations
text['Occupation'] = text['Occupation'].str.lower()

print(len(text.Occupation.unique()))

text = text.Occupation.unique()

In [ ]:

def normalize(text):
  """ Keep only lower-cased text and numbers"""
  return re.sub('[^a-z0-9]+', ' ', text.lower())

def group_texts(texts, threshold=0.25): 
  """ Replace each text with the representative of its cluster"""
  normalized_texts = np.array([normalize(text) for text in texts])
  distances = 1 - np.array([
      [textdistance.jaro_winkler(one, another) for one in normalized_texts] 
      for another in normalized_texts
  ])
  
  clustering = AgglomerativeClustering(
    distance_threshold=threshold, # this parameter needs to be tuned carefully
    affinity="precomputed", linkage="complete", n_clusters=None
  ).fit(distances)
  centers = dict()

  for cluster_id in set(clustering.labels_):
    index = clustering.labels_ == cluster_id
    centrality = distances[:, index][index].sum(axis=1)
    centers[cluster_id] = normalized_texts[index][centrality.argmin()]
  return [centers[i] for i in clustering.labels_]

In [ ]:
std_names = group_texts(text)
std_names[0:20]

['clerk',
 'weigher',
 'stonecutter',
 'publisher',
 'com mer',
 'seaman r',
 'barber',
 'barber',
 'tailor r',
 'shoemaker',
 'coachmaker',
 'drygoods h r',
 'saloon r',
 'com mer',
 'clerk r',
 'telegraph',
 'pedler r',
 'cooper',
 'shoes ',
 'carman r']

In [ ]:
text = list(text)
text[0:20]

['clerk',
 'weigher',
 'stonecutter',
 'publisher',
 'com mer',
 'seaman',
 'barber',
 'barbers',
 'tailor',
 'shoemaker',
 'coachmaker',
 'drygoods h r',
 'saloon',
 'com mers',
 'clerk bank',
 'telegraph inventor',
 'pedler',
 'cooper',
 'shoes',
 'carman']

In [ ]:
output_1850_bk = pd.DataFrame(text, columns=["orignal_name"]).join(pd.DataFrame(std_names, columns = ["new_name"]))

In [ ]:
output_1850_bk.to_csv("occ_list_1850_bk_agloclustering.csv")

2nd approach to affnity matching on 1850 bk file

In [ ]:
x = output_1850_bk.loc[output_1850_bk['Occupation'].notnull(), ['Occupation']]
x['Occupation_normalize'] = x['Occupation']
x.drop_duplicates(inplace=True)


import re
# clean the records remove digits and special characters 
for i in range(len(x)):
  x.iloc[i]['Occupation_normalize'] = re.sub("[^a-zA-Z0-9]+", 
                          " ",     
                          str(x.iloc[i]['Occupation']).lower())
  
  x.iloc[i]['Occupation_normalize'] = str(x.iloc[i]['Occupation_normalize'])

len(x)

In [ ]:
!pip install fuzzywuzzy
!pip install python-Levenshtein
from fuzzywuzzy import process, fuzz
from sklearn.cluster import AffinityPropagation  
from sklearn import cluster

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Collecting python-Levenshtein
  Downloading https://files.pythonhosted.org/packages/42/a9/d1785c85ebf9b7dfacd08938dd028209c34a0ea3b1bcdb895208bd40a67d/python-Levenshtein-0.12.0.tar.gz (48kB)
     |████████████████████████████████| 51kB 1.6MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from python-Levenshtein) (49.2.0)
Building wheels for collected packages: python-Levenshtein
  Building wheel for python-Levenshtein (setup.py) ... done
  Created wheel for python-Levenshtein: filename=python_Levenshtein-0.12.0-cp36-cp36m-linux_x86_64.whl size=144793 sha256=059a75c0d185b1fa4bde44330bd9e151bcc1fffd0007923f80002a233e4ed025
  Stored in directory: /root/.cache/pip/wheels/de/c2/93/660fd5f7559049268ad2dc6d81c4e39e9e36518766eaf7e342
Successfully built python-Levenshtein
Installing collected packages: python-Levenshtein
Successfully installed python-Levenshtein-0.12.0

In [ ]:

def fuzzy_similarity(text):
  similarity_array = np.ones((len(text), (len(text))))*100
  for i in range(1, len(text)):
    for j in range (i):
      s1 = fuzz.token_set_ratio(text[i], text[j]) + 0.0000000001
      s2 = fuzz.partial_ratio(text[i], text[j]) + 0.0000000001
      similarity_array[i][j] = 2*s1*s2/(s1+s2)

  for i in range(1, len(text)):
    for j in range (i+1, len(text)):
      similarity_array[i][j] = similarity_array[j][i]

  np.fill_diagonal(similarity_array, 100)
  return similarity_array

def occ_clusters(x, nameCol='Occupation_normalize', dropForeign= True):
    occ_names = x.Occupation.to_list()
    text = x.Occupation_normalize.to_list()
    similarity_array = fuzzy_similarity(text)
    clusters = cluster.AffinityPropagation(affinity="precomputed").fit_predict(similarity_array)
    df_clusters = pd.DataFrame(list(zip(occ_names, clusters)), columns = ["Occupation","cluster"])

    df_eval = df_clusters.merge(x, on="Occupation", how= "left")
    return df_eval

In [ ]:
df_eval = occ_clusters(x)

In [ ]:
def standard_name(df_eval):
  d_standard_name = {}
  for cluster in df_eval.cluster.unique():
    names = df_eval[df_eval['cluster']==cluster].Occupation_normalize.to_list()
    l_common_substring = []
    if len(names) >1:
      for i in range(0,len(names)):
        for j in range(i+1, len(names)):
          seqMatch = SequenceMatcher(None, names[i], names[j])
          match = seqMatch.find_longest_match(0, len(names[i]), 0, len(names[j]))
          if (match.size != 0 ):
            l_common_substring.append(names[i][match.a: match.a + match.size].strip())
      n = len(l_common_substring)
      counts = Counter(l_common_substring)
      get_mode = dict(counts)
      mode = [k for k, v in get_mode.items() if v == max(list(counts.values()))]
      d_standard_name[cluster] = ";".join(mode)
    else:
      d_standard_name[cluster] = names[0]
    
  df_standard_names = pd.DataFrame(list(d_standard_name.items()), columns = ['cluster','standard_name'])
  df_eval = df_eval.merge(df_standard_names, on = "cluster", how = "left")
  df_eval['score_with_std'] = df_eval.apply(lambda x: fuzz.token_set_ratio(x['standard_name'], x['Occupation_normalize']), axis=1)
  df_eval['std_name_nospace'] = df_eval.standard_name.apply(lambda x: x.replace(" ",""))
  for name in df_eval.std_name_nospace.unique():
    if len(df_eval[df_eval.std_name_nospace == name].cluster.unique()) > 1:
      df_eval.loc[df_eval.std_name_nospace == name, "standard_name" ] = name

  return df_eval.drop('std_name_nospace', axis=1)

In [ ]:
from difflib import SequenceMatcher
from collections import Counter
final_df = standard_name(df_eval)

In [ ]:
final_df.to_csv("occ_list_1850_bk_affinity.csv")