In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
import pickle

In [2]:
df1 = pd.read_csv('bk_1850/S/doubt-bk1850-v7-s.csv')

In [3]:
with open('/Users/prajwal/Desktop/Columbia/C4SR/bk_1850/doubt-bk1850-v7.pkl', 'rb') as f:
  d = pickle.load(f)

In [4]:
len(d)

6215

In [5]:
df2 = pd.read_csv('bk_1850/S/not so confident-bk1850-v7-s.csv')

In [6]:
df1_original = pd.read_excel('bk_1850/doubt-bk1850-v7.xlsx')

In [7]:
df2_original = pd.read_excel('bk_1850/not so confident-bk1850-v7.xlsx')

In [8]:
len(df1)-len(df1_original)

-3

In [9]:
len(df2) - len(df2_original)

0

In [10]:
list_of_addresses1 = df1['Full Address']
list_of_addresses2 = df1_original['modified_clean_address']

In [11]:
ratios_list1 = {}
for i in range(0,len(list_of_addresses2)):
    #if list_of_addresses2[i] != list_of_addresses1[i]:
    #print(i, list_of_addresses1[i], list_of_addresses2[i])
    #print(i, df1['Full Name'][i], list_of_addresses2[i])
    try:
        ratio1 = fuzz.ratio(list_of_addresses1[i].lower(), list_of_addresses2[i].lower())
        #print(ratio1,'%')
        ratios_list1[i] = ratio1
    except:
        ratios_list1[i] = -1
    try:
        ratio2 = fuzz.ratio(df1['Full Name'][i].lower(), list_of_addresses2[i].lower())
        #print(ratio2,'%')
        try:
            if ratio2 > ratios_list1[i]:
                #print('in loop2', ratio1, ratio2)
                ratios_list1[i] = ratio2
        except:
            pass
    except:
        pass

In [12]:
df1_original['ratio'] = ratios_list1.values()

In [13]:
df1_original.sort_values(by='ratio', ascending=True)

,Unnamed: 0,Unnamed: 0.1,Full Name,First Name,Last Name,Middle Name,Widow-flag,Widow Of,Title,Occupation,...,filter6,filter7,filter8,modified_clean_address,n_street1,n_street2,c_street1,c_street2,filter11,ratio
6217,6217,15355,Zeuill John,John,Zeuill,NaN,False,NaN,NaN,cabinet maker,...,0,0,0,49 Cranberry,NaN,NaN,NaN,NaN,1,-1
136,136,337,Bedford Corners,Corners,Bedford,NaN,False,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,1,-1
6215,6215,15347,Young Thomas,Thomas,Young,NaN,False,NaN,NaN,engineer,...,0,0,0,Plymouth n Little,Plymouth,Little,NaN,NaN,0,-1
6115,6115,15098,New Utrecht,Utrecht,New,NaN,False,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,1,-1
135,135,336,Babcock Courtland,Courtland,Babcock,NaN,False,NaN,NaN,NaN,...,0,0,0,NaN,NaN,NaN,NaN,NaN,1,-1
6216,6216,15354,Zindel Leopold,Leopold,Zindel,NaN,False,NaN,NaN,carman,...,0,0,0,Navy nTillary,NaN,NaN,NaN,NaN,1,-1
271,271,725,Bedell Daniel,Daniel,Bedell,NaN,False,NaN,NaN,agent for the hire of real estate,...,0,0,0,"agent for the hire of real estate , h 69 Cranb...",NaN,NaN,NaN,NaN,1,44
1705,1705,4175,DREW ELIZABETH,ELIZABETH,DREW,NaN,False,NaN,NaN,furnishing store,...,0,0,0,feather beds mattresses paper hangings and car...,NaN,NaN,NaN,NaN,1,54
3170,3170,7626,Kidd Ã¢ÂÂÃ¢ÂÂ,Ã¢ÂÂÃ¢ÂÂ,Kidd,NaN,False,NaN,NaN,marketman,...,0,0,0,"Flushing n Kent av Ridder John , looking glass...",Flushing,"Kent av Ridder John , looking glass and pictur...",NaN,NaN,0,57
1827,1827,4462,Ellard John,John,Ellard,NaN,False,NaN,NaN,butcher,...,0,0,0,Co.lumbia c Degraw,NaN,NaN,Co.lumbia,Degraw,0,62
3284,3284,7928,Latham David,David,Latham,NaN,False,NaN,NaN,grocer,...,0,1,0,Columbia c VanBrunt h Union c Carroll,NaN,NaN,Union,Carroll,0,63
5236,5236,12706,Skinner John K,John,Skinner,K,False,NaN,NaN,gold pen maker,...,0,0,0,Red Hook pl. c Fulton av,NaN,NaN,Red Hook pl.,Fulton av,0,63
1145,1145,2863,Conklin John,John,Conklin,NaN,False,NaN,NaN,principal public,...,0,0,0,"School No , h 157 Jay",NaN,NaN,NaN,NaN,1,65
4117,4117,9964,MÃ¢ÂÂFarlan James,James,MÃ¢ÂÂFarlan,NaN,False,NaN,NaN,chief engineer,...,0,0,0,"Union ferry co , h 31 Prospect",NaN,NaN,NaN,NaN,1,67
141,141,351,Bacon J B,J,Bacon,B,False,NaN,NaN,principal of,...,0,0,0,"Warren polytechnic school , h 68 Warren b Clin...",NaN,NaN,NaN,NaN,1,67
4415,4415,10614,0Ã¢ÂÂBrien Catherine,Catherine,0Ã¢ÂÂBrien,NaN,True,NaN,NaN,NaN,...,0,0,0,"Myrtle c Kent av Blenis Peter , mason 59 Carlt...","Myrtle c Kent av Blenis Peter , mason 59 Carlton",Myrtle av,Myrtle,"Kent av Blenis Peter , mason 59 Carlton n Myrt...",0,67
3271,3271,7898,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,...,0,0,0,"langworthy Ira , Schermerhorn n Bond","langworthy Ira , Schermerhorn",Bond,NaN,NaN,0,69
5519,5519,13526,Swaney Thomas,Thomas,Swaney,NaN,False,NaN,NaN,baker,...,0,0,0,"Cou,rt c Baltic",NaN,NaN,"Cou,rt",Baltic,0,70
4180,4180,10110,MÃ¢ÂÂGuire Peter,Peter,MÃ¢ÂÂGuire,NaN,False,NaN,NaN,tin and copper smith,...,0,0,0,"tin and copper smith , h 114 Hudson av",NaN,NaN,NaN,NaN,1,71
4277,4277,10299,McNaier David,David,McNaier,NaN,False,NaN,NaN,physician,...,0,0,0,"Flushing n Kent a r Murray Michael , laborer 1...",Flushing,"Kent a r Murray Michael , laborer 1 Navy it My...",NaN,NaN,0,71
6025,6025,14865,Whitner Charles,Charles,Whitner,NaN,False,NaN,NaN,porter,...,0,0,0,Wol.cott st Red Hook,NaN,NaN,NaN,NaN,1,71
4081,4081,9878,MÃ¢ÂÂDermott John,John,MÃ¢ÂÂDermott,NaN,False,NaN,NaN,NaN,...,0,0,0,"Nassau hotel , Columbia n Harrison","Nassau hotel , Columbia",Harrison,NaN,NaN,0,72
753,753,1862,Bunker Thomas G,Thomas,Bunker,G,False,NaN,NaN,sea captain,...,0,0,0,"225 Bridge Surbank Elisha , morocco manuf'r 3 ...",NaN,NaN,"225 Bridge Surbank Elisha , morocco manuf'r 3 av",17 st Gowanus,0,72
5924,5924,14578,Watson Thomas,Thomas,Watson,NaN,False,NaN,NaN,upholsterer,...,0,0,0,"Columbia n 'Warren YVatson Thomas , h 124 Sche...",124 Schermerhorn,Bond,NaN,NaN,0,72
4425,4425,10640,0Ã¢ÂÂCallaghan Peter,Peter,0Ã¢ÂÂCallaghan,NaN,False,NaN,NaN,laborer,...,0,0,0,"Tillary n Gold Brien William , moulder Front c...",Tillary,"Gold Brien William , moulder Front c Pearl","Tillary n Gold Brien William , moulder Front",Pearl,0,72
4616,4616,11123,Pettit & Shotwell,&,Pettit,Shotwell,False,NaN,NaN,wood yard,...,0,0,0,"Columbia c Amity , office Atlantic c Furman",NaN,NaN,Columbia,"Amity , office Atlantic c Furman",0,72
5910,5910,14540,Warrick Robert,Robert,Warrick,NaN,False,NaN,NaN,carpenter,...,0,0,0,Tompkins place n Harrison YVarrington Mrs John...,Tompkins place,"Harrison YVarrington Mrs John , thread and nee...",NaN,NaN,0,73
2489,2489,5990,Hanford Wm L,Wm,Hanford,L,False,NaN,NaN,lumber merchant h,...,0,1,0,"lumber merchant h , Hicks n Sackett",", Hicks",Sackett,NaN,NaN,0,73
3456,3456,8346,Low James,James,Low,NaN,False,NaN,NaN,oil cloth printer,...,0,0,0,"oil cloth printer , h 3D Cumberland n Myrtle av",3D Cumberland,Myrtle av,NaN,NaN,0,73
3340,3340,8066,LEES & FOULKES,&,LEES,FOULKES,False,NaN,NaN,NaN,...,0,0,0,"PUB LISIIERS OF BROOKLYN DAILY ADVERTISER , BO...",NaN,NaN,NaN,NaN,1,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076,2076,4959,Follierd Francis,Francis,Follierd,NaN,False,NaN,NaN,laborer,...,0,0,0,Adelphi n Park av n Harrison,Adelphi,Park av n Harrison,NaN,NaN,0,100
2075,2075,4954,Foley Thomas,Thomas,Foley,NaN,False,NaN,NaN,laborer,...,0,0,0,Flatbush rd n Atlantic,Flatbush rd,Atlantic,NaN,NaN,0,100
2074,2074,4953,Foley Owen,Owen,Foley,NaN,False,NaN,NaN,milkman,...,0,0,0,Flatbush rd,NaN,NaN,NaN,NaN,1,100
2073,2073,4952,Foley Michael,Michael,Foley,NaN,False,NaN,NaN,candy store,...,0,0,0,153 York,NaN,NaN,NaN,NaN,1,100
2083,2083,4979,Ford Bernard,Bernard,Ford,NaN,False,NaN,NaN,carman,...,0,0,0,Atlantic op Furman,NaN,NaN,NaN,NaN,1,100
2121,2121,5076,Frantz Frederick,Frederick,Frantz,NaN,False,NaN,NaN,baker,...,0,0,0,Livingston c Boerum,NaN,NaN,Livingston,Boerum,0,100
2095,2095,5002,Fortin Eliza M,Eliza,Fortin,M,True,NaN,NaN,NaN,...,0,0,0,boarding house 83 Henry,NaN,NaN,NaN,NaN,1,100
2097,2097,5006,Foster Andrew J,Andrew,Foster,J,False,NaN,NaN,grocer,...,0,0,0,Debevoise n Lafayette,Debevoise,Lafayette,NaN,NaN,0,100
2118,2118,5063,Francis Lewis,Lewis,Francis,NaN,False,NaN,NaN,seaman,...,0,0,0,Green lane n York,Green lane,York,NaN,NaN,0,100
2117,2117,5061,Francis John,John,Francis,NaN,False,NaN,NaN,hatter,...,0,0,0,NYh Degraw n Court,NYh Degraw,Court,NaN,NaN,0,100
2116,2116,5056,Francaise Pansion,Pansion,Francaise,NaN,False,NaN,NaN,boarding house,...,0,0,0,Willow n Atlantic,Willow,Atlantic,NaN,NaN,0,100
2115,2115,5055,Fox Thomas,Thomas,Fox,NaN,False,NaN,NaN,grocer,...,0,0,0,Park av n Portland,Park av,Portland,NaN,NaN,0,100
2114,2114,5054,Fox Thomas,Thomas,Fox,NaN,False,NaN,NaN,carman,...,0,0,0,Kent n Flushing av,Kent,Flushing av,NaN,NaN,0,100
2113,2113,5052,Fox Patrick,Patrick,Fox,NaN,False,NaN,NaN,hackman,...,0,0,0,258 Pearl,NaN,NaN,NaN,NaN,1,100
2112,2112,5049,Fox John,John,Fox,NaN,False,NaN,NaN,laborer,...,0,0,0,Warren n Hoyt,Warren,Hoyt,NaN,NaN,0,100
2111,2111,5047,Fox James,James,Fox,NaN,False,NaN,NaN,laborer,...,0,0,0,Luquier st Red Hook,NaN,NaN,NaN,NaN,1,100
2110,2110,5046,Fox Bernard,Bernard,Fox,NaN,False,NaN,NaN,laborer,...,0,0,0,Columbia st Red Hook,NaN,NaN,NaN,NaN,1,100
2096,2096,5003,Fortune Isabella,Isabella,Fortune,NaN,True,NaN,NaN,fancy store,...,0,0,0,fancy store 137 Court,NaN,NaN,NaN,NaN,1,100
2109,2109,5045,Fox Bernard,Bernard,Fox,NaN,False,NaN,NaN,laborer,...,0,0,0,Henry c Degraw,NaN,NaN,Henry,Degraw,0,100
2107,2107,5032,Fountain Edward,Edward,Fountain,NaN,False,NaN,NaN,pilot,...,0,0,0,Hicks n Sackett,Hicks,Sackett,NaN,NaN,0,100
2106,2106,5031,Fountain .,NaN,NaN,NaN,False,NaN,NaN,hatter,...,0,0,0,Fountain hatter 160 Hudson av,NaN,NaN,NaN,NaN,1,100
2105,2105,5030,Fountain Abigail,Abigail,Fountain,NaN,True,NaN,NaN,NaN,...,0,0,0,Graham n Myrtle av,Graham,Myrtle av,NaN,NaN,0,100
2104,2104,5023,Foster Solon,Solon,Foster,NaN,False,NaN,NaN,NaN,...,0,0,0,81 Tillary,NaN,NaN,NaN,NaN,1,100
2103,2103,5021,Foster Robert,Robert,Foster,NaN,False,NaN,NaN,wine and liquor dealer,...,0,0,0,NYh Prospect hill,NaN,NaN,NaN,NaN,1,100
2101,2101,5016,Foster John,John,Foster,NaN,False,NaN,NaN,carpenter,...,0,0,0,State c Bond,NaN,NaN,State,Bond,0,100
2100,2100,5011,Foster Henry,Henry,Foster,NaN,False,NaN,NaN,grocer,...,0,0,0,Smith c Warren,NaN,NaN,Smith,Warren,0,100
2099,2099,5010,Foster H C,H,Foster,C,False,NaN,NaN,NaN,...,0,0,0,City Hall Shades 317 Fulton & Prospect hill,NaN,NaN,NaN,NaN,1,100
2098,2098,5008,Foster Charles,Charles,Foster,NaN,False,NaN,NaN,ship carpenter,...,0,0,0,Duffield n Fulton av,Duffield,Fulton av,NaN,NaN,0,100
2108,2108,5036,Fowler Ann M,Ann,Fowler,M,True,NaN,NaN,NaN,...,0,0,0,Pacific n Bond,Pacific,Bond,NaN,NaN,0,100
3108,3108,7509,Kelsey Samuel,Samuel,Kelsey,NaN,False,NaN,NaN,merchant,...,0,1,0,N Y h Degraw n Court,Degraw,Court,NaN,NaN,0,100

In [31]:
df_final_1 = df1_original.loc[df1_original['filter11']==0][['n_street1','n_street2','c_street1','c_street2']]

In [32]:
len(df_final_1)

4687

In [34]:
df1.columns

Index(['Unnamed: 0', 'Address 2', 'Address 2 City', 'Address 2 House Number',
       'Address 2 Street Name', 'First Name', 'Full Address', 'Full Name',
       'H Address', 'H City', 'H House Number', 'H Status-flag',
       'H Street Name', 'Last Name', 'Middle Name', 'Occupation', 'Title',
       'Widow Of', 'Widow-flag', 'new h address-flag', 'new h house number',
       'new h street name', 'new h street 1', 'new h street 2',
       'new h street type', 'new h city', 'new h county',
       'unidentified h info', 'h house number modifier',
       'new address2 house number', 'new address2 street name',
       'new address2 street 1', 'new address2 street 2',
       'new address2 street type', 'new address2 city', 'new address2 county',
       'unidentified address2 info', 'address2 house number modifier'],
      dtype='object')

In [70]:
df1_filter_11 = df1_original.loc[df1_original['filter11']==1]
add_from_df1 = pd.DataFrame()
for i in df1_filter_11.index:
    try:
        add_from_df1 = pd.concat([add_from_df1, pd.DataFrame(df1.iloc[i][['Full Address','H House Number','H Street Name','new h house number','new h street name','new h city']]).T])
    except:
        print(i)

6216
6217

In [71]:
add_from_df1

,Full Address,H House Number,H Street Name,new h house number,new h street name,new h city
1,Columbia Institute for the education of boys C...,NaN,NaN,NaN,NaN,NaN
4,Kent av north,NaN,NaN,NaN,NaN,NaN
10,14 James & 59 Pearl,14,JAMES & 59 PEARL,NaN,NaN,NaN
11,267 Hudson av,267,HUDSON AV,NaN,NaN,NaN
12,1 York,1,YORK,NaN,NaN,NaN
15,90 Fulton N Y h 163 Front,90,FULTON N Y H 163 FRONT,163,FRONT,NaN
16,234 Hudson av,234,HUDSON AV,NaN,NaN,NaN
17,Little Dock h 248 Marshall,NaN,NaN,248,MARSHALL,NaN
18,177 Gold,177,GOLD,NaN,NaN,NaN
19,U s N 32 Hudson av,NaN,NaN,NaN,NaN,NaN
20,36 State,36,STATE,NaN,NaN,NaN
27,1 McKenney,1,MCKENNEY,NaN,NaN,NaN
28,2 Prospect,2,PROSPECT,NaN,NaN,NaN
29,Broadway NYh 393 Atlantic,NaN,NaN,NaN,NaN,NaN
31,77 Fork,77,FORK,NaN,NaN,NaN
32,167 York,167,YORK,NaN,NaN,NaN
34,68 York,68,YORK,NaN,NaN,NaN
35,39 Carlton av,39,CARLTON AV,NaN,NaN,NaN
37,4 Franklin Place,4,FRANKLIN PLACE,NaN,NaN,NaN
41,152 Myrtle,152,MYRTLE,NaN,NaN,NaN
42,Myrtle av a Steuben so,NaN,NaN,NaN,NaN,NaN
43,43 Atlantic,43,ATLANTIC,NaN,NaN,NaN
44,3 av Gowanus,3,AV GOWANUS,NaN,NaN,NaN
47,63 Hudson av,63,HUDSON AV,NaN,NaN,NaN
48,10 Monroe place,10,MONROE PLACE,NaN,NaN,NaN
50,N Y h 8 Willow place,NaN,NaN,8,WILLOW PL,NaN
54,36 Sackett,36,SACKETT,NaN,NaN,NaN
57,S Maiden Lane NY h 182 Atlantic,NaN,NaN,182,ATLANTIC,NaN
58,h 270 Washington e Myrtleav,270,WASHINGTON E MYRTLEAV,270,WASHINGTON,NaN
61,207 Front,207,FRONT,NaN,NaN,NaN
...,...,...,...,...,...,...
6119,Classon av b Myrtle & Flushing av,NaN,NaN,NaN,NaN,NaN
6120,NaN,NaN,NaN,NaN,NaN,NaN
6123,Plymouth b Jay and Bridge,NaN,NaN,NaN,NaN,NaN
6127,Classon b Myrtle & Flushing av,NaN,NaN,NaN,NaN,NaN
6135,h 184 Nassau,184,NASSAU,184,NASSAU,NaN
6136,Baltic,NaN,NaN,NaN,NaN,NaN
6138,Skillman st b Flushing and Park av,NaN,NaN,NaN,NaN,NaN
6142,160 York,160,YORK,NaN,NaN,NaN
6147,U s N 147 Prospect,NaN,NaN,NaN,NaN,NaN
6148,513 Fulton op Clinton,513,FULTON OP CLINTON,NaN,NaN,NaN
6149,NaN,NaN,NaN,NaN,NaN,NaN
6150,Atlantic and Flatbush turnpike,NaN,NaN,NaN,NaN,NaN
6151,NaN,NaN,NaN,NaN,NaN,NaN
6155,Adelphi a Park av,NaN,NaN,NaN,NaN,NaN
6156,Livingston house 27 Atlantic,NaN,NaN,NaN,NaN,NaN
6159,NaN,NaN,NaN,NaN,NaN,NaN
6162,Water op Little,NaN,NaN,NaN,NaN,NaN
6167,344 Fulton op Adams,344,FULTON OP ADAMS,NaN,NaN,NaN
6170,Red Hook point,NaN,NaN,NaN,NaN,NaN
6171,NaN,NaN,NaN,NaN,NaN,NaN
6173,Jamaica road Bedford,NaN,NaN,NaN,NaN,NaN
6181,28 Chapel,28,CHAPEL,NaN,NaN,NaN
6184,Court op Wyckoff,NaN,NaN,NaN,NaN,NaN
6190,3 av e Middle st Gowanus,3,AV E MIDDLE ST GOWANUS,NaN,NaN,NaN
6193,Mansion House 121 & 123 Hicks,NaN,NaN,NaN,NaN,NaN
6194,116 Hudson av,116,HUDSON AV,NaN,NaN,NaN
6197,1G1 York,NaN,NaN,NaN,NaN,NaN
6200,NaN,NaN,NaN,NaN,NaN,NaN
6203,NYh Pierrepont b Hicks & Henry,NaN,NaN,NaN,NaN,NaN
6210,9 ward hotel Atlantic op Classon av Bedford,9,WARD HOTEL ATLANTIC OP CLASSON AV BEDFORD,NaN,NaN,NaN