In [30]:
import pandas as pd
import re
import collections

In [31]:
#df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/MN_1850_final_output_tesseract.csv')
df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/bk 1850/data/bk_1850_input_for_address2.csv')

In [32]:
df.columns

Index(['Unnamed: 0', 'Full Address'], dtype='object')

In [33]:
#df['Full Address']

In [34]:
"""
for a in range(0, len(df)):
    print(a)
    #df['Full Address'][a] = str(df['Full Address'][a]).replace('Ç','C')
    #df['Full Address'][a] = str(df['Full Address'][a]).replace('√','Y')
    df['Full Address'][a] = str(df['Full Address'][a]).replace('¬',' ')
    df['Full Address'][a] = str(df['Full Address'][a]).replace('•',' ')
    df['Full Address'][a] = str(df['Full Address'][a]).replace('¢','c')
    
    
    # bottom part also commented out
    
    for i in range(0, 10):
        df['Full Address'][a] = str(df['Full Address'][a]).replace('&&','&')
    """

"\nfor a in range(0, len(df)):\n    print(a)\n    #df['Full Address'][a] = str(df['Full Address'][a]).replace('Ç','C')\n    #df['Full Address'][a] = str(df['Full Address'][a]).replace('√','Y')\n    df['Full Address'][a] = str(df['Full Address'][a]).replace('¬',' ')\n    df['Full Address'][a] = str(df['Full Address'][a]).replace('•',' ')\n    df['Full Address'][a] = str(df['Full Address'][a]).replace('¢','c')\n    \n    \n    # bottom part also commented out\n    \n    for i in range(0, 10):\n        df['Full Address'][a] = str(df['Full Address'][a]).replace('&&','&')\n    "

In [35]:
for a in range(0, len(df)):
    if '.5' in str(df['Full Address'][a]):
        print(a)
        df.at[a, 'Full Address'] = df['Full Address'][a].replace('.5','')
    if ',' in str(df['Full Address'][a]):
        df.at[a, 'Full Address'] = df['Full Address'][a].replace(',','')
    if '.' in str(df['Full Address'][a]):
        df.at[a, 'Full Address'] = df['Full Address'][a].replace('.','')
    if '  ' in str(df['Full Address'][a]):
        df.at[a, 'Full Address'] = df['Full Address'][a].replace('  ',' ')

In [36]:
temp_replace_specials = {}
for a in range(0, len(df)):
    temp_str = re.sub('[^A-Za-z0-9]', ' ', str(df['Full Address'][a]))
    temp_str = temp_str.replace('&  &', '&x', 100).replace(' & ', ' ', 100).replace('&x', '&', 100).replace('&  &', '&', 100).replace('  ', ' & ').replace('&  &', '&', 100).replace('  ', ' ', 100)
    temp_str = temp_str.replace('Yh', 'Y h', 100)
    temp_str = temp_str.replace('NYh', 'NY h', 100)
    temp_str = temp_str.replace(' b ', ' h ', 100)
    temp_str = temp_str.replace('YV', 'W', 100)
    temp_str = temp_str.replace('Ayn', ' Av n ', 100)
    temp_str = temp_str.replace('avn', ' Av n ', 100)
    temp_str = temp_str.replace('Avy', ' Av ', 100)
    temp_str = temp_str.replace('.', '', 100)
    #temp_str = temp_str.replace(',', '', 100)
    temp_str = temp_str.replace(',', '', 100)
    temp_str = temp_str.replace('  ', ' ', 100)
    
    for i in range(0, 10):
        try:
            if temp_str.index('h'+str(i))>=0:
                #print(a,i,'yes')
                temp_str = temp_str.replace('h'+str(i), 'h '+str(i), 100)
        except:
            pass
    temp_replace_specials[a] = temp_str

In [37]:
temp_replace_specials[6]

'Court '

In [38]:
temp_replace_specials[451].split()

['Hoyt', 'n', 'Atlantic', '&']

In [39]:
#temp_replace_specials[435].split().index('&')

In [40]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

In [41]:
part_after_h = {}
part_before_h = {}
part_before_and = {}
part_after_and = {}

for a in range(0, len(df)):
    loc_of_h = -1
    loc_of_and = -1
    try:
        loc_of_h = temp_replace_specials[a].split().index('h')
    except:
        pass
    try:
        loc_of_and = temp_replace_specials[a].split().index('&')
    except:
        pass
    if loc_of_h >= 0:
        part_after_h[a] = ' '.join(temp_replace_specials[a].split()[loc_of_h+1:])
        part_before_h[a] = ' '.join(temp_replace_specials[a].split()[0:loc_of_h-1])
    
    if loc_of_h < 0 and loc_of_and >= 0:
        temp_part_before_and = ' '.join(temp_replace_specials[a].split()[0:loc_of_and])
        if hasNumbers(temp_part_before_and):
            part_before_and[a] = ' '.join(temp_replace_specials[a].split()[0:loc_of_and])
            part_after_and[a] = ' '.join(temp_replace_specials[a].split()[loc_of_and:])

In [42]:
part_before_and

{27: '23 Myrtle av',
 241: '62 State',
 426: '42 Fulton N',
 1016: '2 Butler',
 1054: '4',
 2165: '92',
 2340: '23 W',
 2542: '22 Fulton',
 2805: '69 Nassau',
 3809: '29',
 4331: '162 164',
 4728: '29 Merchants',
 6069: '26',
 6371: '82 Cliff',
 7901: '105',
 8529: '43 Water Alderman 6th ward',
 11505: '61 M',
 12261: 'ROCKWELL W 4th ward',
 12269: '109',
 13732: '139 Atlantic',
 14129: '5 Jones',
 14311: '166',
 15164: '166',
 15172: '132',
 15296: '25 Depeyster st',
 15372: 'Greenwood Cemetery monumental works Aiderman 8th ward'}

In [43]:
df = df.rename({'Full Address': 'Full Address old'}, axis=1)

In [44]:
#part_after_h[4]

In [45]:
new_full_address = {}
for a in range(0, len(df)):
    try:
        new_full_address[a] = part_after_h[a]
    except:
        try:
            new_full_address[a] = part_before_and[a]
        except:
            new_full_address[a] = temp_replace_specials[a]

In [46]:
for a in range(0, len(df)):
    split_list_from_address = new_full_address[a].split()
    try:
        if split_list_from_address[-1] == '&':
            split_list_from_address = split_list_from_address[:-1:]
    except:
        pass
    try:
        if split_list_from_address[-1] == 'n':
            split_list_from_address = split_list_from_address[:-1:]
    except:
        pass
    try:
        if split_list_from_address[0] == '&':
            split_list_from_address = split_list_from_address[1::]
    except:
        pass
    new_full_address[a] = ' '.join(split_list_from_address)

In [47]:
def firstUpperCaseLetter(str) : 
    for i in range(0, len(str)) : 
        if (str[i].istitle()) : 
            return i
    return 0

In [48]:
for a in range(0, len(df)):
    test_string1 = new_full_address[a]
    if hasNumbers(test_string1)==False:
        loc_of_first_uppercase_letter = firstUpperCaseLetter(test_string1)
        new_full_address[a] = test_string1[loc_of_first_uppercase_letter:]

In [49]:
new_full_address[996]

''

In [50]:
for a in range(0, len(df)):
    try:
        if new_full_address[a].index(' and ')>=0:
            print(a, new_full_address[a])
    except:
        pass

359 hat and fur store 199 Fulton
1454 Cedar and Pearl
1535 Union coffee and spice mills Jay c Chapel
1857 Columbia and Amity
2720 37 Fulton and Flushing c Kent av
3189 Atlantic c Smith and Myrtle av n Jay
3412 attorney & c and commissioner of deeds 3 Front
4043 Union lime brick and cement yard Plymouth n Catherine ferry
4147 VanBrunt and Hamilton av
4166 counsellor and comm r of deeds 299 Fulton
4703 Main c York and 138 Fulton
5406 63 Fulton and Water n Beekman
5884 tin and sheet iron worker 86 East Broadway
6155 City Hall and 3 Front
6369 Court n Dean and 180 Myrtle av
6681 Broadway and Liberty
7058 Common Council and keeper City Hall
7425 white lead and oil cloth manfacturer 182 Front
7428 Flushing n Kent av and Myrtle n Classon av
7577 Wood and ware agency 46 Fulton
7605 Pearl and Fletcher
7999 lawyer and police justiceoffice 6 Montague Hall
8313 Leary Timothyjunk dealer c Maiden lane and Water
8428 inspector of pot and Pearl ash 49 West
8465 Nassau and Pine
8483 118 and 120 Maiden lane
8697 South and Dover
9548 Fulton op Myrtle av and Myrtle av c Carll
9680 12 Atlantic n Columbia and Atlantic c Boerum
10404 38 Fulton and 136 William
10566 Jay and Bridge ABLaughlin P
11204 camphene and solar lamp store 41 James
11388 Butchers & and Drovers & Bank
11679 213 Gold and 106 High
11755 Wall and Broadway
12105 agent and accountant
12126 York and Prospect Piiley Hugh
12798 Brooklyn Independent c Orange and Fulton st
12915 block and pump maker foot of Main & 23 Washington
12964 Fulton market and Fulton c Hudson av
13183 counsellor and attorney City Hall 229 Fulton
13303 204 Fulton and 261 Grand
13327 Howard house 40 Main c Water and livery stable 76 Water
13502 attorney at law and commissioner of deeds Freeman Buildings 291 Fulton
13546 Johnson and Myrtle av
13630 105 and 107 Court
13633 132 and 134 Fulton c Middagh
13648 attorney and commissioner of deeds 3 Front
13878 29 Liberty and 24 Maiden lane
14042 attorney and commissioner of deeds county clerk s office city hall
14118 States and notary S Montague Hall
14145 Atlantic n Smith and Court op Baltic
14200 auctioneer and notary public 8S Fulton
14389 boot and shoemaker
14440 Fulton c Pineapple and oyster saloon 109 Pineapple
14514 accountant and commissioner of deeds 43 Fulton
14610 Howard and Mercer st
14685 and Brooklyn white lead and paint mills 13 Water office 180 Front
14854 44 and 46 Broad
14948 Delancy and Mangin
15231 Broadway and Liberty st
15416 attorney & counsellor at law and commissioner of deeds 307 Fulton

In [51]:
new_full_address

{0: '',
 1: '',
 2: '',
 3: '',
 4: 'merchant',
 5: '',
 6: 'Court',
 7: '141 Front',
 8: '',
 9: '',
 10: '2954 Pearl',
 11: '',
 12: 'Myrtle c Jay',
 13: '',
 14: '',
 15: '',
 16: '',
 17: '',
 18: '',
 19: 'Y',
 20: '',
 21: '',
 22: '',
 23: '',
 24: '73 William',
 25: '15 Cortlandt',
 26: '',
 27: '23 Myrtle av',
 28: '',
 29: '',
 30: '',
 31: '',
 32: '',
 33: '',
 34: '',
 35: '',
 36: '',
 37: '130 Broad',
 38: '',
 39: 'Green Jane',
 40: '',
 41: '',
 42: '',
 43: '',
 44: '',
 45: '',
 46: 'Y',
 47: '',
 48: '15 Stone',
 49: '',
 50: '',
 51: '',
 52: '',
 53: '',
 54: '',
 55: '',
 56: '',
 57: '80 Wall',
 58: '',
 59: '',
 60: '',
 61: '',
 62: '',
 63: '203 Broadway',
 64: '',
 65: '',
 66: '',
 67: '',
 68: '90 Front',
 69: '',
 70: '',
 71: '',
 72: '',
 73: '',
 74: '',
 75: '',
 76: '',
 77: '',
 78: '',
 79: '104 Wall',
 80: '',
 81: '',
 82: 'udson av',
 83: '',
 84: '',
 85: '',
 86: '',
 87: '',
 88: '',
 89: '',
 90: '',
 91: '',
 92: '',
 93: '137 Front',
 94: '',
 95: '',
 96: '137 Front',
 97: '156 Broadway',
 98: '',
 99: '58 John',
 100: 'Plymouth Ch',
 101: 'ington',
 102: '61 Liberty',
 103: '',
 104: '43 Fulton',
 105: '',
 106: '26 Jobn',
 107: '',
 108: '',
 109: '45 Fulton',
 110: '',
 111: '',
 112: '',
 113: '',
 114: '',
 115: '',
 116: '',
 117: '',
 118: '',
 119: '',
 120: 'Y',
 121: '',
 122: '',
 123: '',
 124: '',
 125: '',
 126: 'Amity',
 127: '',
 128: '',
 129: '',
 130: '',
 131: '',
 132: '',
 133: '257 Pearl',
 134: '',
 135: '',
 136: '63 Atlantic',
 137: '63 Atlantic',
 138: '',
 139: '',
 140: '',
 141: 's alley',
 142: 'Y',
 143: '',
 144: '',
 145: '',
 146: '',
 147: '',
 148: '',
 149: 'Talman',
 150: '',
 151: '275 Broadway',
 152: 'tionary 262 Fulton',
 153: '',
 154: '',
 155: '',
 156: '',
 157: '',
 158: '',
 159: '',
 160: 'Fulton',
 161: '',
 162: '150 Front',
 163: 'Fulton av',
 164: '',
 165: '10 Old Slip',
 166: '',
 167: '',
 168: '',
 169: '',
 170: '',
 171: '',
 172: '',
 173: '',
 174: '',
 175: '',
 176: 'Spruce',
 177: '',
 178: '',
 179: '',
 180: '',
 181: '',
 182: '',
 183: '',
 184: '',
 185: '',
 186: '',
 187: '',
 188: '',
 189: '',
 190: '',
 191: '',
 192: 'tison',
 193: '31 Broad',
 194: '',
 195: '',
 196: '',
 197: '',
 198: 'Furman n State',
 199: '222 Pearl',
 200: '29th st Gowanus',
 201: '',
 202: '',
 203: '',
 204: '',
 205: '195 Washington',
 206: '102 Front',
 207: '',
 208: '81 Water',
 209: '',
 210: '',
 211: '',
 212: '',
 213: '',
 214: '',
 215: '',
 216: '',
 217: '',
 218: '',
 219: '',
 220: '',
 221: '',
 222: '',
 223: '',
 224: '',
 225: '',
 226: '',
 227: '',
 228: '',
 229: '',
 230: '',
 231: '',
 232: '',
 233: '',
 234: '',
 235: '',
 236: '',
 237: '',
 238: '',
 239: '',
 240: '',
 241: '62 State',
 242: '',
 243: '',
 244: '',
 245: '',
 246: '',
 247: '11 Water',
 248: '',
 249: '',
 250: '',
 251: '',
 252: 'Court',
 253: '32 Front',
 254: '',
 255: '',
 256: '',
 257: '',
 258: '',
 259: '26 Fulton',
 260: '',
 261: '',
 262: '',
 263: '',
 264: '',
 265: '',
 266: '',
 267: '',
 268: '',
 269: '',
 270: '',
 271: '',
 272: '',
 273: 'Poplar',
 274: '',
 275: '',
 276: '',
 277: '',
 278: '',
 279: '',
 280: 'Flushing & c Kent av',
 281: '',
 282: '',
 283: '',
 284: '',
 285: '',
 286: '',
 287: '',
 288: '',
 289: '',
 290: '',
 291: '',
 292: '1 St Johns Lane',
 293: '',
 294: '',
 295: '',
 296: '',
 297: '',
 298: '',
 299: '',
 300: '',
 301: '',
 302: '',
 303: '',
 304: '123 Atlantic',
 305: '',
 306: '',
 307: '',
 308: '',
 309: '',
 310: 'Columbia',
 311: '',
 312: '',
 313: '',
 314: '',
 315: '',
 316: '274 Pearl',
 317: '',
 318: '',
 319: '',
 320: '',
 321: '',
 322: '',
 323: '',
 324: '',
 325: '',
 326: '',
 327: '',
 328: '',
 329: '',
 330: '',
 331: '',
 332: '',
 333: 'Kent ay',
 334: '',
 335: '',
 336: '',
 337: '',
 338: '',
 339: '',
 340: '',
 341: 'Columbia c Congress',
 342: '',
 343: '',
 344: '',
 345: '36 Ferry',
 346: '',
 347: '',
 348: '',
 349: '',
 350: '',
 351: '',
 352: '',
 353: '',
 354: '',
 355: '40 New',
 356: 'merchant',
 357: '',
 358: '',
 359: 'hat and fur store 199 Fulton',
 360: 'Cranberry',
 361: 'Y',
 362: 'Orange',
 363: '',
 364: '',
 365: '',
 366: '',
 367: '',
 368: '',
 369: '',
 370: '',
 371: '',
 372: '',
 373: '',
 374: '',
 375: '',
 376: '',
 377: '',
 378: '',
 379: '',
 380: '',
 381: '',
 382: '',
 383: '232 Fulton',
 384: '',
 385: '79 Pearl',
 386: '',
 387: 'Prince',
 388: 'Water n Fulton',
 389: '',
 390: 'Fulton ferry',
 391: '',
 392: '',
 393: '',
 394: '',
 395: '',
 396: '',
 397: '',
 398: '',
 399: '60 Cherry',
 400: '',
 401: '',
 402: '',
 403: '',
 404: '',
 405: '',
 406: '',
 407: '',
 408: '',
 409: '',
 410: '',
 411: '',
 412: '',
 413: '',
 414: '',
 415: 'Sands & Pearl',
 416: 'Phoenix Bank',
 417: 'Doughty st',
 418: '106 Murray',
 419: '',
 420: '',
 421: '',
 422: '',
 423: '',
 424: '',
 425: '',
 426: '42 Fulton N',
 427: '',
 428: '',
 429: '',
 430: '',
 431: '',
 432: '',
 433: '',
 434: '',
 435: 'Degraw',
 436: '',
 437: '',
 438: '',
 439: '',
 440: '',
 441: '59 Pearl',
 442: '',
 443: '',
 444: '',
 445: '',
 446: '',
 447: '',
 448: '',
 449: '',
 450: '',
 451: 'Hoyt n Atlantic',
 452: '',
 453: '',
 454: '',
 455: '150 Nassau',
 456: '71 Nassau',
 457: '76 Broad N VY',
 458: '',
 459: 'Little Dock',
 460: '',
 461: '',
 462: '',
 463: '',
 464: '32 Pearl',
 465: '',
 466: '',
 467: '',
 468: '',
 469: '18 South',
 470: '',
 471: '',
 472: '',
 473: '',
 474: 'merch & t116 WallN',
 475: '',
 476: '71 Wall',
 477: '',
 478: '',
 479: '',
 480: '179 Broadway',
 481: '',
 482: '',
 483: '',
 484: '',
 485: '',
 486: '',
 487: '',
 488: '',
 489: '',
 490: '',
 491: '',
 492: '',
 493: '',
 494: '',
 495: '100 William',
 496: '',
 497: 'Buildings Court st',
 498: '',
 499: '',
 500: '',
 501: '',
 502: '',
 503: 'Hicks',
 504: '26 Broad',
 505: '',
 506: '',
 507: '',
 508: '',
 509: '',
 510: '',
 511: 'VY',
 512: '',
 513: '',
 514: '',
 515: '',
 516: '',
 517: '',
 518: '',
 519: '',
 520: '',
 521: '',
 522: 'wanus',
 523: '',
 524: '',
 525: '',
 526: '',
 527: '',
 528: '',
 529: '',
 530: '',
 531: '',
 532: '',
 533: '',
 534: '',
 535: 'Warren',
 536: '12 Broadway',
 537: '',
 538: '',
 539: '11 Wall',
 540: '',
 541: '4 Cortlandt',
 542: '67 William',
 543: '52 Cedar',
 544: '1836 Nassaa',
 545: '42 Fulton',
 546: '',
 547: '',
 548: '',
 549: '',
 550: '',
 551: 'Court',
 552: '',
 553: '',
 554: '',
 555: '',
 556: '',
 557: '',
 558: '',
 559: '',
 560: '',
 561: '',
 562: 'John n Bridge',
 563: '',
 564: '',
 565: '',
 566: '',
 567: '',
 568: '',
 569: '179 Water',
 570: 'Remsen u Henry',
 571: '',
 572: '45 South',
 573: '',
 574: '',
 575: 'Hamilton ay',
 576: '',
 577: '',
 578: '',
 579: '',
 580: '',
 581: '60 Catherine',
 582: '',
 583: '',
 584: '',
 585: '',
 586: '17 Atlantic',
 587: '',
 588: '',
 589: '',
 590: '',
 591: '',
 592: '',
 593: '',
 594: '',
 595: '',
 596: '',
 597: '',
 598: '',
 599: '',
 600: '',
 601: '',
 602: '',
 603: '',
 604: '',
 605: '',
 606: '',
 607: '',
 608: '',
 609: '',
 610: '',
 611: '',
 612: '',
 613: 'Henry',
 614: '63 Water',
 615: '',
 616: '',
 617: '',
 618: '',
 619: '',
 620: '',
 621: '',
 622: '',
 623: '',
 624: '123 Pearl NW',
 625: '',
 626: '121 Greenwich',
 627: '',
 628: '',
 629: '',
 630: '',
 631: '',
 632: '',
 633: '',
 634: '',
 635: '',
 636: '',
 637: '',
 638: '',
 639: '',
 640: '',
 641: '',
 642: '',
 643: '',
 644: '27th st Gowanus',
 645: '',
 646: '',
 647: '',
 648: '351 Broadway',
 649: '',
 650: 'Water n Fulton',
 651: '',
 652: '',
 653: '',
 654: '',
 655: '',
 656: '',
 657: '',
 658: '',
 659: '',
 660: '',
 661: '',
 662: '',
 663: '',
 664: '',
 665: '',
 666: 'Myrtle ay',
 667: '',
 668: '',
 669: '',
 670: '',
 671: '',
 672: '',
 673: '',
 674: 'Myrtle n Classon av',
 675: '',
 676: '',
 677: '',
 678: '',
 679: 'Myrtleav',
 680: '',
 681: 'nan',
 682: '',
 683: '',
 684: '8 Maiden Lane',
 685: '',
 686: '',
 687: '',
 688: '',
 689: '',
 690: '',
 691: '',
 692: '31 Henry',
 693: '',
 694: '',
 695: '',
 696: 'Gowanus',
 697: '',
 698: '',
 699: '',
 700: '',
 701: '',
 702: '',
 703: '',
 704: 'Boerum n Schermerhorn',
 705: '',
 706: '',
 707: '',
 708: '58 Myrile av',
 709: '',
 710: '58 Myrtle av',
 711: '',
 712: '',
 713: '115 Fulton',
 714: '',
 715: 'Pacific',
 716: 'merchant 70 Cortlandt',
 717: '',
 718: '',
 719: '',
 720: '',
 721: '',
 722: '',
 723: '',
 724: '',
 725: '',
 726: '',
 727: '',
 728: 'Court Main st',
 729: '',
 730: 'Pearl',
 731: '',
 732: '',
 733: '',
 734: '',
 735: '',
 736: '',
 737: '',
 738: '',
 739: '',
 740: '',
 741: '',
 742: 'Y',
 743: '',
 744: '',
 745: '33 Fulton',
 746: '',
 747: '',
 748: '',
 749: '',
 750: '',
 751: '',
 752: '',
 753: 'Buildings Court st',
 754: '',
 755: '',
 756: 'Express office',
 757: '',
 758: '',
 759: '',
 760: '',
 761: '',
 762: '',
 763: '',
 764: '',
 765: '',
 766: '',
 767: '',
 768: '',
 769: '',
 770: '',
 771: '',
 772: '',
 773: '',
 774: '',
 775: '',
 776: '',
 777: '',
 778: '',
 779: '',
 780: '',
 781: '234 Fulton',
 782: '',
 783: '',
 784: '',
 785: '',
 786: '',
 787: '',
 788: '',
 789: '',
 790: '',
 791: '',
 792: '',
 793: '',
 794: '',
 795: '',
 796: '',
 797: '',
 798: '',
 799: '',
 800: '',
 801: '',
 802: 'Nassau',
 803: '17 Park Placa',
 804: '',
 805: '',
 806: '',
 807: '',
 808: 'Water',
 809: '',
 810: '',
 811: '72 Pine',
 812: '',
 813: '',
 814: '',
 815: 'Nassau',
 816: '',
 817: '',
 818: 'Schermerhorn',
 819: 'Columbia & Pacific',
 820: '',
 821: 'ston',
 822: '',
 823: '',
 824: '',
 825: '',
 826: '',
 827: '',
 828: '',
 829: '59 Broadway',
 830: '',
 831: '',
 832: '',
 833: '',
 834: '',
 835: '62 Pine',
 836: '',
 837: '',
 838: '',
 839: '',
 840: 'Adams & York',
 841: '',
 842: '24 Cedar',
 843: 'western insurance office',
 844: '',
 845: '',
 846: '',
 847: '',
 848: '',
 849: '',
 850: '',
 851: '',
 852: '',
 853: '',
 854: '',
 855: '',
 856: '',
 857: '',
 858: '',
 859: 'Adams',
 860: '',
 861: 'Fulton market',
 862: '',
 863: '',
 864: '',
 865: '159 Pearl',
 866: '',
 867: '',
 868: '',
 869: '',
 870: '181 Broadway',
 871: '',
 872: '',
 873: '',
 874: '',
 875: '',
 876: 'Prince',
 877: '60 Pine',
 878: 'mercht19 Cortlandt',
 879: '34 Beaver',
 880: '',
 881: '147 Broadway',
 882: '',
 883: '',
 884: '',
 885: '',
 886: '',
 887: '145 Broad',
 888: '',
 889: '',
 890: '',
 891: '',
 892: '',
 893: '',
 894: '',
 895: '',
 896: '',
 897: '',
 898: '',
 899: '',
 900: '',
 901: '5 South',
 902: '',
 903: '',
 904: '6 Linden row Fulton',
 905: '',
 906: '',
 907: '225 Atlantic',
 908: '',
 909: '',
 910: '111 Beekman',
 911: '',
 912: 'Pacifie n Court',
 913: '',
 914: '145 Nassau',
 915: '',
 916: '',
 917: 'Willoughby c Pear',
 918: '6 Linden row Fulton',
 919: '159 Myrtle',
 920: '',
 921: 'Concord',
 922: '',
 923: 's alley',
 924: '',
 925: '',
 926: '',
 927: '',
 928: '',
 929: '',
 930: '',
 931: '',
 932: '',
 933: '',
 934: '165 Maiden Lane Y',
 935: '',
 936: '',
 937: '',
 938: '',
 939: '',
 940: '',
 941: '',
 942: '',
 943: '',
 944: '',
 945: '',
 946: 'Park c Franklin ay',
 947: '42 Water',
 948: '',
 949: '38 South',
 950: '',
 951: '',
 952: '',
 953: '38 South',
 954: '',
 955: '',
 956: '',
 957: 'Hoyt',
 958: '105 Wall',
 959: '',
 960: '',
 961: '',
 962: '',
 963: '',
 964: '',
 965: '',
 966: '',
 967: '',
 968: '',
 969: '',
 970: '',
 971: '',
 972: '57 Water',
 973: 'Fulton c Furman',
 974: '',
 975: '',
 976: '',
 977: '',
 978: '',
 979: '',
 980: '',
 981: '',
 982: '',
 983: 'y & s alley',
 984: 'Atlautic',
 985: '182 Jay',
 986: 'Washington market',
 987: '',
 988: '',
 989: '',
 990: '',
 991: '',
 992: '',
 993: '50 South',
 994: '',
 995: '',
 996: '',
 997: 'Henry',
 998: '',
 999: '46 Front',
 ...}

In [52]:
#temp_replace_specials[497]

In [53]:
df['Full Address'] = new_full_address.values()

In [54]:
for a in range(0, len(df)):
    try:
        if len(part_after_and[a])>0:
            pass
    except:
        part_after_and[a] = ''

In [55]:
for a in range(0, len(df)):
    try:
        if len(part_before_h[a])>0:
            pass
    except:
        part_before_h[a] = ''

In [56]:
part_after_and_complete = collections.OrderedDict(sorted(part_after_and.items()))
part_before_h_complete = collections.OrderedDict(sorted(part_before_h.items()))

In [57]:
df['part after and'] = list(part_after_and_complete.values())
df['part before h'] = list(part_before_h_complete.values())

In [58]:
#df.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/MN_1850 tesseract spl removed.csv')
df.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/bk 1850/address 2/data2/bk_1850_address2_firstrun_spl_removed.csv')