In [1]:
import pandas as pd
#from fuzzywuzzy import fuzz
import pickle

In [2]:
#mn_or_bk = 'mn' #bk or mn
#year = str(1850) #1850, 1880
#doubttype = 'doubt' #doubt or not so confident

In [3]:
#df1 = pd.read_csv(mn_or_bk + '_' + year + '/S/' + doubttype + '-' + mn_or_bk + year + '-v7-s.csv')
#df1 = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/mn-1880-3-s.csv')
df1 = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/bk 1850/address 2/data2/bk-1850-3-s-address2.csv')

In [4]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,Address 2,Address 2 City,Address 2 House Number,Address 2 Street Name,First Name,Full Address,Full Name,H Address,...,h house number modifier,new address2 house number,new address2 street name,new address2 street 1,new address2 street 2,new address2 street type,new address2 city,new address2 county,unidentified address2 info,address2 house number modifier
0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,merchant,NaN,MERCHANT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#with open('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.pkl', 'rb') as f:
  #d = pickle.load(f)
with open('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/bk 1850/address 2/data/bk-1850-3-address2.pkl', 'rb') as f:
    d = pickle.load(f)

In [6]:
#df1_original = pd.read_excel(mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.xlsx')



df1_original = pd.read_excel('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/bk 1850/address 2/data/bk_1850_address2_afterDoubt.xlsx')

In [7]:
len(df1)-len(df1_original)

0

In [8]:
#df1_final_1 = df1_original.loc[df1_original['filter11']==0][['n_street1','n_street2','c_street1','c_street2']]
df1_final_1 = df1_original[['n_street1','n_street2','c_street1','c_street2']]

In [ ]:
len(df1_final_1)

15676

In [ ]:
#df1_original

In [ ]:
#df1_final_1

In [ ]:
#df1

In [ ]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Address 2', 'Address 2 City',
       'Address 2 House Number', 'Address 2 Street Name', 'First Name',
       'Full Address', 'Full Name', 'H Address', 'H City', 'H House Number',
       'H Status-flag', 'H Street Name', 'Last Name', 'Middle Name',
       'Occupation', 'Title', 'Widow Of', 'Widow-flag', 'new h address-flag',
       'new h house number', 'new h street name', 'new h street 1',
       'new h street 2', 'new h street type', 'new h city', 'new h county',
       'unidentified h info', 'h house number modifier',
       'new address2 house number', 'new address2 street name',
       'new address2 street 1', 'new address2 street 2',
       'new address2 street type', 'new address2 city', 'new address2 county',
       'unidentified address2 info', 'address2 house number modifier'],
      dtype='object')

In [ ]:
df1_final_1['Full Address'] = df1['Full Address']



df1_final_1['H Address'] = df1['H Address']




df1_final_1['H House Number'] = df1['H House Number']
df1_final_1['H Street Name'] = df1['H Street Name']
#df1_final_1['new h house number'] = df1['new h house number']
#df1_final_1['new h street name'] = df1['new h street name']
#df1_final_1['new h city'] = df1['new h city']



df1_final_1['H City'] = df1['H City']
df1_final_1['Address 2'] = df1['Address 2']
df1_final_1['Address 2 House Number'] = df1['Address 2 House Number']
df1_final_1['Address 2 Street Name'] = df1['Address 2 Street Name']
df1_final_1['Address 2 City'] = df1['Address 2 City']



#df1_final_1['unidentified h info'] = df1['unidentified h info']

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
df1_final_1

,n_street1,n_street2,c_street1,c_street2,Full Address,H Address,H House Number,H Street Name,H City,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,merchant,MERCHANT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Court,COURT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,141 Front,141 FRONT,141.0,FRONT,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,2954 Pearl,2954 PEARL,2954.0,PEARL,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,Myrtle,Jay,Myrtle c Jay,MYRTLE C JAY,NaN,NaN,MYRTLE C JAY,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,73 William,73 WILLIAM,73.0,WILLIAM,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,15 Cortlandt,15 CORTLANDT,15.0,CORTLANDT,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,23 Myrtle av,23 MYRTLE AV,23.0,MYRTLE AV,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15652,NaN,NaN,NaN,NaN,57 William,57 WILLIAM,57.0,WILLIAM,NaN,NaN,NaN,NaN,NaN
15653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15656,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15659,NaN,NaN,NaN,NaN,236 Fulton,236 FULTON,236.0,FULTON,NaN,NaN,NaN,NaN,NaN
15660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15668,NaN,NaN,NaN,NaN,41 Cortlandt,41 CORTLANDT,41.0,CORTLANDT,NaN,NaN,NaN,NaN,NaN
15669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15672,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#df1_original[['Full Address','H House Number','H Street Name','new h house number','new h street name','new h city']]
#df1[['unidentified h info']]

In [ ]:
df1_final_1.columns

Index(['n_street1', 'n_street2', 'c_street1', 'c_street2', 'Full Address',
       'H Address', 'H House Number', 'H Street Name', 'H City', 'Address 2',
       'Address 2 House Number', 'Address 2 Street Name', 'Address 2 City'],
      dtype='object')

In [ ]:
#df1_final_1.to_csv(mn_or_bk + '_' + year + '/' + mn_or_bk + '_' + year + '_combine-' + doubttype + '4.csv')
#df1_final_1.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-3-s-combine.csv')
df1_final_1.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/bk 1850/address 2/data2/bk-1850-3-s-address2-combine.csv')

## Column descriptions:

#### Full Address
contains the cleaned entry for the address from the input file
#### H House Number
contains the house number if present in Full Address
#### H Street Name
contains the street name if present in Full Address
#### c_street1
contains the first street name in case the address was located at a corner
#### c_street2
contains the second street name in case the address was located at a corner
#### n_street1
contains the first street name in case the address was located near another street
#### n_street2
contains the second street name in case the address was located near another street
#### new h city
contains the city name (if present) in Full Address
#### new h house number
contains the house number if present in Full Address for some additional entries that are not in 'H House Number' 
#### new h street name 
contains the street name if present in Full Address for some additional entries that are not in 'H Street Name'