In [2064]:
import pandas as pd
import numpy as np
import re

In [2065]:
mn_or_bk = 'mn' #bk or mn
year = '1880'
#doubttype = 'not so confident' #doubt or not so confident
doubttype = 'not so confident' #doubt or not so confident

In [2066]:
df = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/after cleaning/' + mn_or_bk + '_' + year + '_after_cleaning_' + doubttype + '4.csv')

In [2067]:

df.columns = ['index', 'Full Address', 'H House Number', 
              'H Street Name', 'c_street1', 'c_street2', 'n_street1', 'n_street2', 
              'new h city', 'new h house number', 'new h street name', 'unidentified h info']
"""
df.columns = ['index', 'n_street1', 'n_street2','c_street1', 'c_street2', 'Full Address', 
              'H House Number', 
              'H Street Name', 
              'new h house number', 'new h street name','new h city', 'unidentified h info']
"""

"\ndf.columns = ['index', 'n_street1', 'n_street2','c_street1', 'c_street2', 'Full Address', \n              'H House Number', \n              'H Street Name', \n              'new h house number', 'new h street name','new h city', 'unidentified h info']\n"

In [2068]:
df = df.drop(['index'], axis=1)

In [2069]:
df.head()

,Full Address,H House Number,H Street Name,c_street1,c_street2,n_street1,n_street2,new h city,new h house number,new h street name,unidentified h info
0,H ANNS AVE N 153,NaN,NaN,NaN,NaN,ANNS AVE,153,NaN,NaN,NaN,NaN
1,H N 169 3 AVE.,169.0,N 3 AVE.,NaN,NaN,169,3 AVE.,NaN,169.0,N 3,RD AVE
2,H 3 AVE N 166,NaN,NaN,NaN,NaN,3 AVE,166,NaN,NaN,166,3 AVE N
3,H N 150 COURTLAND AVE.,150.0,N COURTLAND AVE.,NaN,NaN,150,COURTLAND AVE.,NaN,150.0,COURTLAND,AVE N
4,H N 148 3 AVE.,148.0,N 3 AVE.,NaN,NaN,148,3 AVE.,NaN,148.0,N 3,RD AVE

In [2070]:
# Combines data from various columns into two: hn_1 (for house number) and best_match (for street name)

In [2071]:
hn_1 = {}
best_match = {}

for i in range(0,len(df)):
    hn_1[i] = df['new h street name'][i]
    best_match[i] = df['unidentified h info'][i]

for i in range(0,len(df)):
#for i in range(35,36):
    #print('begin',hn_1[i],best_match[i])
    
    #handle corner cases
    if pd.isna(df['c_street1'][i]) == False or pd.isna(df['c_street2'][i]) == False:
        #print('1',i)
        try:
            best_match[i] = str(df['c_street1'][i]) + ' & ' + str(df['c_street2'][i])
        except:
            if pd.isna(df['c_street1'][i]) == False:
                best_match[i] = str(df['c_street1'])
            else:
                best_match[i] = str(df['c_street2'])
                
    #handle near cases
    elif pd.isna(df['n_street1'][i]) == False or pd.isna(df['n_street2'][i]) == False:
        #print('2',i)
        try:
            best_match[i] = str(df['n_street1'][i]) + ' & ' + str(df['n_street2'][i])
        except:
            if pd.isna(df['n_street1'][i]) == False:
                best_match[i] = str(df['n_street1'])
            else:
                best_match[i] = str(df['n_street2'])
    
    #if corner and near cases don't have any data, use H House Number and H Street Name
    elif pd.isna(hn_1[i]) == True or pd.isna(best_match[i]) == True:
        #print('3',i)
        try:
            hn_1[i] = df['H House Number'][i]
        except:
            pass
        try:
            best_match[i] = df['H Street Name'][i]
        except:
            pass
    #if everything above didn't work, use new h house number and new h street name
    elif pd.isna(hn_1[i]) == True or pd.isna(best_match[i]) == True:
        #print('4',i)
        try:
            hn_1[i] = df['new h house number'][i]
        except:
            pass
        try:
            best_match[i] = df['new h street name'][i]
        except:
            pass
    
    #if everything above still didn't work, use new h city for best_match
    elif pd.isna(df['new h city'][i]) == False and pd.isna(best_match[i]) == True:
        #print('5',i)
        best_match[i] = df['new h city'][i]
    
    # return a blank house number and Full Address for best_match if nothing above worked
    else:
        if pd.isna(hn_1[i]) == True and pd.isna(best_match[i]) == True:
            #print('6',i)
            hn_1[i] = ''
            best_match[i] = df['Full Address'][i]
    
    """
    elif pd.isna(df['H House Number'][i]) == False or pd.isna(df['H Street Name'][i]) == False:
        print('3',i)
        try:
            hn_1[i] = df['H House Number'][i]
        except:
            pass
        try:
            best_match[i] = df['H Street Name'][i]
        except:
            pass
    
    elif pd.isna(df['new h house number'][i]) == False or pd.isna(df['new h street name'][i]) == False:
        print('4',i)
        try:
            hn_1[i] = df['new h house number'][i]
        except:
            pass
        try:
            best_match[i] = df['new h street name'][i]
        except:
            pass
    
    elif pd.isna(df['new h city'][i]) == False:
        print('5',i)
        best_match[i] = df['new h city'][i]
    
    else:
        print('6',i)
        hn_1[i] = ''
        best_match[i] = df['Full Address'][i]
    """
    #if pd.isna(df['H House Number'][i]) == True and pd.isna(df['new h house number'][i]) == True:
        #print('7',i)
        #hn_1[i] = ''
    
    if pd.isna(hn_1[i]) == True:
        #print('7',i)
        hn_1[i] = ''

In [2072]:
#df.head(20)

In [2073]:
df2 = pd.DataFrame([list(hn_1.values()), list(best_match.values())])

In [2074]:
df2 = df2.T

In [2075]:
df2.columns = ['hn_1','best_match']

In [2076]:
def find_number(text):
    num = re.findall(r'[0-9]+',str(text))
    return " ".join(num)
df2['hn_1']=df2['hn_1'].apply(lambda x: find_number(x))

In [2077]:
#df2

In [2078]:
for i in range(0, len(df2)):
    if df2['hn_1'][i] == '':
        try:
            df2['hn_1'][i] = df['H House Number'][i]
        except:
            pass

In [2079]:
for i in range(0, len(df2)):
    if pd.isna(df2['best_match'][i]) == True:
        try:
            df2['best_match'][i] = df['unidentified h info'][i]
        except:
            pass

In [2080]:
for i in range(0, len(df2)):
    if len(str(df2['best_match'][i])) <=2:
        if pd.isna(df['H House Number'][i])==False:
            hn_1[i] = df['H House Number'][i]
            df2['best_match'][i] = df['H Street Name'][i]
        else:
            df2['best_match'][i] = df['Full Address'][i]

In [2081]:
for i in range(0, len(df2)):
    if pd.isna(df2['hn_1'][i]) == True:
        if pd.isna(df['H House Number'][i])==False:
            hn_1[i] = df['H House Number'][i]
            df2['best_match'][i] += ' ' + df['H Street Name'][i]
        elif pd.isna(df['new h house number'][i])==False:
            df2['hn_1'][i] = df['new h house number'][i]
            df2['best_match'][i] = str(df2['best_match'][i]) + ' ' + df['new h street name'][i]

In [2082]:
"""
for i in range(0, len(df2)):
    if df2['hn_1'][i] == '':
        try:
            df2['hn_1'] = df['new h house number'][i] + df['new h street name'][i]
        except:
            pass
"""

"\nfor i in range(0, len(df2)):\n    if df2['hn_1'][i] == '':\n        try:\n            df2['hn_1'] = df['new h house number'][i] + df['new h street name'][i]\n        except:\n            pass\n"

In [2083]:
for i in range(0, len(df2)):
    try:
        df2['hn_1'][i] = df2['hn_1'][i].replace(' 0','')
    except:
        pass
    
    try:
        if df2['best_match'][i].index('&') >=0:
            df2['hn_1'][i] = ''
    except:
        pass
    
    try:
        if df2['best_match'][i].index('nan &') >=0:
            df2['best_match'][i] = df2['best_match'][i].replace('nan &','')
    except:
        pass

In [2084]:
unidentified_h_is_H = df.loc[df['unidentified h info']=='H']
for i in unidentified_h_is_H.index:
    df2.loc[i]['hn_1'] = unidentified_h_is_H.loc[i]['new h house number']
    df2.loc[i]['best_match'] = unidentified_h_is_H.loc[i]['new h street name']

In [2085]:
for i in range(0, len(df2)):
    if df2['best_match'][i] == 'nan':
        print(i)
        check1 = pd.isna(df['H House Number'][i])
        check2 = pd.isna(df['H Street Name'][i])
        check3 = pd.isna(df['new h city'][i])
        check4 = pd.isna(df['new h house number'][i])
        check5 = pd.isna(df['new h street name'][i])
        check6 = pd.isna(df['unidentified h info'][i])
        combine = ''
        if check1 == False:
            combine += str(df['H House Number'][i])
        elif check2 == False:
            combine += str(df['H Street Name'][i])
        elif check3 == False:
            combine += str(df['new h city'][i])
        elif check4 == False:
            combine += str(df['new h house number'][i])
        elif check5 == False:
            combine += str(df['new h street name'][i])
        elif check6 == False:
            combine += str(df['unidentified h info'][i])
        if len(combine) > 0:
            print(i, combine)
            df2['best_match'][i] = combine
        else:
            df2['best_match'][i] = df['Full Address'][i]

In [2086]:
for i in range(0, len(df)):
    if pd.isna(df['c_street1'][i]) == False and pd.isna(df['c_street2'][i]) == False:
        df2['best_match'][i] = df['c_street1'][i] + ' & ' + df['c_street2'][i]

for i in range(0, len(df)):
    if pd.isna(df['n_street1'][i]) == False and pd.isna(df['n_street2'][i]) == False:
        df2['best_match'][i] = df['n_street1'][i] + ' & ' + df['n_street2'][i]

In [2087]:
for i in range(0, len(df2)):
    if pd.isna(df2['best_match'][i]) == True:
        df2['best_match'][i] = df['Full Address'][i]

In [2088]:
for i in range(0, len(df2)):
    try:
        if df2['best_match'][i].index('AVE G') >= 0 and df2['best_match'][i].index('OWANUS')>=0:
            index_of_ave_g = df2['best_match'][i].index('AVE G')
            df2['best_match'][i] = df2['best_match'][i].replace('AVE G','AVE ')
            df2['best_match'][i] = df2['best_match'][i].replace('OWANUS','GOWANUS')
    except:
        pass

In [2089]:
for i in range(0, len(df2)):
    if df2['hn_1'][i] == df['new h street name'][i]:
        df2['best_match'][i] = df['unidentified h info'][i]

In [2090]:
for i in range(0, len(df)):
    try:
        if str(df['new h street name'][i]).index('AVE')>=0:
            print(i, df['new h street name'][i])
    except:
        pass

11 AVE A
26 AVE A
158 AVE H
170 AVE H
178 AVE A
389 AVE C
431 AVE H
457 AVE A
495 AVE B
528 AVE A
598 AVE A
623 AVE A
702 AVE H
712 AVE A
759 AVE A
915 AVE A
919 AVE A
955 AVE C
999 AVE A
1060 AVE A
1070 AVE H
1219 AVE H
1245 AVE A
1268 AVE A
1318 AVE A
1319 AVE A
1323 AVE A
1355 AVE C
1366 AVE C
1443 AVE A
1445 AVE A
1487 AVE A
1558 AVE B
1646 AVE C
1683 AVE B
1769 AVE C
1817 AVE A
1906 AVE C
1911 AVE C
1937 AVE H
1952 AVE A
1975 AVE H
2051 AVE A
2129 AVE A
2136 AVE A
2166 AVE C
2171 AVE A
2180 AVE C
2182 AVE H
2186 AVE H
2231 AVE A
2306 AVE C
2310 AVE C
2325 AVE C
2347 AVE C
2386 AVE A
2400 AVE C
2403 AVE C
2466 AVE A
2473 AVE A
2512 AVE C
2543 AVE C
2556 AVE A
2569 AVE A
2570 AVE A
2574 AVE C
2605 AVE E
2620 BEAVER
2668 AVE H
2695 AVE A
2706 AVE H
2731 AVE A
2778 AVE C
2779 AVE C
2797 AVE A
2856 AVE C
2877 AVE C
2899 AVE C
2914 AVE C
2974 AVE A
3052 AVE A
3092 AVE A
3120 AVE C
3161 AVE H
3171 AVE C
3203 AVE C
3284 AVE A
3415 AVE C
3430 AVE C
3456 AVE A
3479 AVE A
3483 AVE A
3497 AVE A
3514 AVE A
3644 AVE H
3647 AVE A
3648 AVE A
3723 AVE B
3733 AVE H
3737 AVE A
3751 AVE A
3771 AVE A
3818 AVE A
3825 AVE C
3842 AVE A
3866 AVE C
3889 AVE H
3909 AVE C
3933 AVE H
3940 AVE A
3946 AVE B
3959 AVE A
3985 AVE C
4018 AVE A
4029 AVE C
4055 AVE A
4113 AVE C
4126 AVE A
4127 AVE A
4163 AVE A
4199 AVE H
4222 AVE A
4231 AVE C
4352 AVE A
4356 AVE C
4416 AVE C
4433 AVE C
4460 AVE A
4486 AVE C
4515 AVE C
4552 AVE A
4554 AVE C
4560 AVE C
4613 AVE A
4675 AVE A
4676 AVE A
4694 AVE C
4727 AVE A
4746 AVE A
4747 AVE A
4761 AVE C
4762 AVE A
4774 AVE A
4833 AVE C
4867 AVE A
4910 AVE C
5001 AVE C
5006 AVE A
5010 AVE A
5052 AVE A
5062 AVE C
5149 AVE C
5154 AVE A
5172 AVE H
5239 AVE C
5261 AVE A
5322 AVE A
5370 AVE C
5381 AVE A
5399 AVE A
5415 AVE A
5464 AVE A
5477 AVE C
5482 AVE H
5488 AVE B
5508 AVE C
5530 AVE A
5549 AVE A
5566 AVE A
5579 AVE C
5594 AVE A
5616 AVE A
5619 AVE C
5687 AVE A
5693 AVE C
5736 AVE A
5796 AVE C
5801 AVE A
5802 AVE H
5810 AVE H
5817 AVE C
5826 AVE A
5842 AVE A
5876 AVE B
5908 AVE E
5917 AVE A
5938 AVE C
5940 AVE A
5960 AVE A
5966 AVE A
5971 AVE A
5987 AVE A
5991 AVE C
6039 AVE C
6067 AVE A
6194 AVE C
6197 AVE A
6198 AVE C
6233 AVE A
6302 AVE A
6341 AVE H
6438 AVE C
6445 AVE C
6447 AVE C
6469 AVE A
6483 AVE H
6502 AVE A
6586 AVE C
6614 AVE C
6667 AVE H
6687 AVE C
6694 AVE A
6737 AVE A
6754 AVE A
6758 AVE C
6851 AVE C
6867 AVE C
6986 AVE A
7022 AVE A
7056 AVE C
7057 AVE C
7063 AVE A
7080 AVE A
7136 AVE C
7187 AVE C
7188 AVE C
7204 AVE A
7226 AVE A
7230 AVE C
7253 AVE C
7256 AVE C
7269 AVE A
7271 AVE C
7293 AVE A
7349 AVE H
7368 AVE C
7387 AVE A
7431 AVE A
7440 AVE H
7468 AVE A
7481 AVE A
7537 AVE A
7565 AVE C
7567 AVE A
7609 AVE C
7610 AVE C
7705 AVE A
7715 AVE A
7732 AVE A
7878 AVE A
7900 AVE B
8045 AVE H
8058 AVE A
8063 AVE A
8072 AVE H
8084 AVE A
8101 AVE A
8103 AVE A
8122 AVE A
8128 AVE H
8131 AVE A
8146 AVE A
8152 AVE B
8190 AVE C
8208 AVE A
8216 AVE A
8255 AVE H
8306 AVE A
8345 AVE C
8471 AVE C
8494 AVE A
8501 AVE A
8505 AVE A
8515 AVE A
8552 AVE A
8561 AVE A
8562 AVE A
8623 AVE C
8631 AVE C
8640 AVE A
8697 AVE A
8707 AVE A
8737 AVE A
8766 AVE A
8776 AVE C
8789 AVE A
8884 AVE C
8896 AVE C
8900 AVE C
8940 AVE C
8953 AVE C
9026 AVE A
9041 AVE A
9043 AVE A
9061 AVE A
9166 AVE C
9194 AVE D
9201 AVE C
9202 AVE H
9211 AVE C
9222 AVE A
9274 AVE A
9321 AVE C
9385 AVE A
9434 AVE H
9450 AVE A
9454 AVE C
9456 AVE H
9487 AVE H
9589 AVE A
9612 AVE H
9659 AVE A
9669 AVE C
9688 AVE H
9699 AVE C
9734 AVE C
9818 AVE C
9862 AVE B
9896 AVE A
9920 AVE A
9921 AVE A
9983 AVE A
9997 AVE A
10000 AVE C
10030 AVE A
10033 AVE A
10036 AVE A
10087 AVE A
10098 AVE A
10118 AVE A
10136 AVE B
10148 AVE A
10247 AVE B
10266 AVE C
10275 AVE A
10283 AVE A
10308 AVE A
10396 AVE A
10420 AVE H
10431 AVE A
10502 AVE A
10510 AVE A
10549 AVE C
10550 AVE E
10569 AVE C
10595 AVE A
10604 AVE A
10637 AVE A
10651 AVE C
10669 AVE C
10699 AVE A
10704 AVE A
10724 AVE A
10932 AVE A
10941 AVE A
10979 AVE A
11025 AVE B
11080 AVE C
11127 AVE C
11130 AVE A
11150 AVE A
11176 AVE C

In [2091]:
#df['Full Address'][42]

In [2092]:
for i in range(0, len(df)):
    if isinstance(df['new h house number'][i], float) and pd.isna(df['new h house number'][i]) == False:
        df2['hn_1'][i] = df['new h house number'][i]
        df2['best_match'][i] = df['new h street name'][i]

In [2093]:
df[350:500]

,Full Address,H House Number,H Street Name,c_street1,c_street2,n_street1,n_street2,new h city,new h house number,new h street name,unidentified h info
350,H. MO.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MO.
351,H. CANADA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CANADA
352,W H N 161 10 AVE.,161.0,N 10 AVE.,NaN,NaN,W 161,10 AVE.,NaN,161.0,N 10,W TAV
353,H. GA.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GA.
354,H W 45I 35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W 35,45I
355,"3 PINE AND 1130 BROADWAY,H N WASHN 173",NaN,NaN,NaN,NaN,WASHN,173,NaN,NaN,173,N WASHN
356,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
357,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
358,H. S) SUYDARH AVE. J. C.,NaN,NaN,NaN,NaN,NaN,NaN,J. C.,NaN,NaN,S) SUYDARAV.
359,H 235UFFOLK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,235,UFFOLK
360,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
361,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
362,H PLEASANT AVE N 119,NaN,NaN,NaN,NaN,PLEASANT AVE,119,NaN,NaN,N 11,PLEASANT AVE 9
363,H 8 AVE N W 130,NaN,NaN,NaN,NaN,8 AVE,W 130,NaN,NaN,W 130,N 8TAV
364,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
365,H . DENIS H.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,. DENIS
366,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
367,H N 151 COURTLAND AVE.,151.0,N COURTLAND AVE.,NaN,NaN,151,COURTLAND AVE.,NaN,151.0,COURTLAND,AVE N
368,H 175 STANTON,175.0,STANTON,NaN,NaN,NaN,NaN,NaN,175.0,STANTON,H
369,E H 117 C 1 AVE.,117.0,C 1 AVE.,E 117,1 AVE.,NaN,NaN,NaN,117.0,1,E 7 AVE C
370,H. PA.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PA.
371,H. EASTERN H.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EASTERN
372,H. E I.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E I.
373,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
374,H. N. .L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N. .L
375,H. DOBBS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DOBBS
376,H. N. J,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N. J
377,H. DOBBS FERRY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FERRY,DOBBS
378,"5 BROADWAY AND E 40 14,H. E I.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E I.
379,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
470,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
471,H. O.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O.
472,H 53 LEWIS,53.0,LEWIS,NaN,NaN,NaN,NaN,NaN,53.0,LEWIS,H
473,H. HAMILTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HAMILTON,NaN
474,H. PA.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PA.
475,E 65 C 1 AVE H 307 LEX.,65.0,C 1 AVE H 307 LEX.,NaN,NaN,NaN,NaN,NaN,NaN,307,LEX.
476,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
477,E H N 115 4 AVE.,115.0,N 4 AVE.,NaN,NaN,E 115,4 AVE.,NaN,115.0,N 4,E TAV
478,H 3(W 18 25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W 25,3(18
479,H. PA.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PA.
480,H N 157 ELTON AVE.,157.0,N ELTON AVE.,NaN,NaN,157,ELTON AVE.,NaN,157.0,ELTON,AVE N
481,H. SING SING,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SING SING
482,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
483,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
484,H AUDUBON PARK.,NaN,NaN,NaN,NaN,NaN,NaN,AUDUBON,NaN,NaN,PARK.
485,H. MASS.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MASS.
486,H WASHN HTS AND W 13 48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W 48,WASHN HTS AND 13
487,H. MASS.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MASS.
488,H W 40 19,40.0,W 19,NaN,NaN,NaN,NaN,NaN,40.0,W 19,H
489,H 4 AVE N E 121,NaN,NaN,NaN,NaN,4 AVE,E 121,NaN,NaN,E 121,N 4TAV
490,H 55 LEROY,55.0,LEROY,NaN,NaN,NaN,NaN,NaN,55.0,LEROY,H
491,H. WASHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASH,WN
492,H R R AVE N 165,NaN,NaN,NaN,NaN,R AVE R,165,NaN,NaN,165,R R AVE N
493,H FORDHAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FORD,HAM
494,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
495,E H 88 AVE C. B,88.0,AVE C. B,E 88,AVE. B,NaN,NaN,NaN,88.0,AVE B,E C
496,H GILSEY H.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GILSEY
497,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
498,H. BKLYN,NaN,NaN,NaN,NaN,NaN,NaN,BKLYN,NaN,NaN,NaN
499,H N 145 BROOK AVE.,145.0,N BROOK AVE.,NaN,NaN,145,BROOK AVE.,NaN,NaN,145,N BROOK AVE

In [2094]:
df2[350:500]

    hn_1          best_match
350  NaN                 MO.
351  NaN              CANADA
352  161                N 10
353  NaN                 GA.
354   35                 45I
355              WASHN & 173
356  NaN            H. BKLYN
357  NaN            H. BKLYN
358  NaN        S) SUYDARAV.
359  235              UFFOLK
360  NaN            H. BKLYN
361  NaN            H. BKLYN
362       PLEASANT AVE & 119
363            8 AVE & W 130
364  NaN            H. BKLYN
365  NaN             . DENIS
366  NaN            H. BKLYN
367  151           COURTLAND
368  175             STANTON
369  117                   1
370  NaN                 PA.
371  NaN             EASTERN
372  NaN                E I.
373  NaN            H. BKLYN
374  NaN               N. .L
375  NaN               DOBBS
376  NaN                N. J
377  NaN               DOBBS
378  NaN                E I.
379  NaN            H. BKLYN
..   ...                 ...
470  NaN            H. BKLYN
471  NaN               H. O.
472   53               LEWIS
473  NaN        H.  HAMILTON
474  NaN                 PA.
475  307                LEX.
476  NaN            H. BKLYN
477  115                 N 4
478   25                3(18
479  NaN                 PA.
480  157               ELTON
481  NaN           SING SING
482  NaN            H. BKLYN
483  NaN            H. BKLYN
484  NaN               PARK.
485  NaN               MASS.
486   48    WASHN HTS AND 13
487  NaN               MASS.
488   40                W 19
489            4 AVE & E 121
490   55               LEROY
491  NaN            H. WASHN
492            R AVE R & 165
493  NaN                 HAM
494  NaN            H. BKLYN
495   88               AVE B
496  NaN              GILSEY
497  NaN            H. BKLYN
498  NaN            H. BKLYN
499         145 & BROOK AVE.

[150 rows x 2 columns]

In [2095]:
for i in range(0, len(df2)):
    if (any(c.isalpha() for c in str(df2['hn_1'][i])) == True 
    and pd.isna(df2['hn_1'][i]) == False
    and pd.isna(df2['best_match'][i]) == False):
        print(i, df2['hn_1'][i])

In [2096]:
"""
for i in range(0, len(df2)):
    try:
        if df2['best_match'][i].index('AVE G')>=0:
            print(i, df2['best_match'][i])
    except:
        pass
"""

"\nfor i in range(0, len(df2)):\n    try:\n        if df2['best_match'][i].index('AVE G')>=0:\n            print(i, df2['best_match'][i])\n    except:\n        pass\n"

In [2097]:
df2.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/for address builder/' + mn_or_bk + '_' + year + '_' + doubttype + '_ready4.csv')