In [179]:
import pandas as pd
#from fuzzywuzzy import fuzz
import pickle

In [180]:
mn_or_bk = 'mn' #bk or mn
year = str(1850) #1850, 1880
doubttype = 'doubt' #doubt or not so confident

In [181]:
df1 = pd.read_csv(mn_or_bk + '_' + year + '/S/' + doubttype + '-' + mn_or_bk + year + '-v7-s.csv')

In [182]:
df1.head()

,Unnamed: 0,Address 2,Address 2 City,Address 2 House Number,Address 2 Street Name,First Name,Full Address,Full Name,H Address,H City,...,h house number modifier,new address2 house number,new address2 street name,new address2 street 1,new address2 street 2,new address2 street type,new address2 city,new address2 county,unidentified address2 info,address2 house number modifier
0,0,NaN,NaN,NaN,NaN,NaN,Albro Benjamin sen h 328 Bowery,NaN,ALBRO BENJAMIN SEN H 328 BOWERY,ALBRO BENJAMIN SEN H 328 BOWERY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,E 13 n Av. A,NaN,E 13 N AV. A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,E 24 c Av h 3,NaN,E 24 C AV H 3,NaN,...,NaN,NaN,E 24,NaN,NaN,NaN,NaN,NaN,C AV,NaN
3,3,NaN,NaN,NaN,NaN,NaN,Av. C n Eleventh,NaN,AV. C N 11TH,AV. C N ELEVENTH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,24 n Av h 10,NaN,24 N AV H 10,NaN,...,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,N AV,NaN

In [183]:
with open('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.pkl', 'rb') as f:
  d = pickle.load(f)

In [184]:
df1_original = pd.read_excel(mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.xlsx')

In [185]:
len(df1)-len(df1_original)

-1

In [186]:
#df1_final_1 = df1_original.loc[df1_original['filter11']==0][['n_street1','n_street2','c_street1','c_street2']]
df1_final_1 = df1_original[['n_street1','n_street2','c_street1','c_street2']]

In [187]:
len(df1_final_1)

5703

In [188]:
#df1_original

In [189]:
#df1_final_1

In [190]:
#df1

In [191]:
df1_final_1['Full Address'] = df1['Full Address']
df1_final_1['H House Number'] = df1['H House Number']
df1_final_1['H Street Name'] = df1['H Street Name']
df1_final_1['new h house number'] = df1['new h house number']
df1_final_1['new h street name'] = df1['new h street name']
df1_final_1['new h city'] = df1['new h city']
df1_final_1['unidentified h info'] = df1['unidentified h info']

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [192]:
df1_final_1

,n_street1,n_street2,c_street1,c_street2,Full Address,H House Number,H Street Name,new h house number,new h street name,new h city,unidentified h info
0,NaN,NaN,NaN,NaN,Albro Benjamin sen h 328 Bowery,NaN,NaN,NaN,NaN,NaN,NaN
1,E 13,Av. A,NaN,NaN,E 13 n Av. A,13.0,N AV. A,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,E 24 c Av h 3,24.0,C AV H 3,NaN,3,NaN,H
3,Av. C,Eleventh,NaN,NaN,Av. C n Eleventh,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,24 n Av h 10,24.0,N AV H 10,NaN,10,NaN,H
5,NaN,NaN,NaN,NaN,W 26 n Av h 7,26.0,N AV H 7,NaN,7,NaN,H
6,NaN,NaN,NaN,NaN,W 25 n Av h 10,25.0,N AV H 10,NaN,10,NaN,H
7,NaN,NaN,Av. D,Fourth,Av. D c Fourth,NaN,NaN,NaN,NaN,NaN,NaN
8,Third,Av. A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Twelh,Dry Dock,Twelh c Dry Dock,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,W 28 n Av h 7,28.0,N AV H 7,NaN,7,NaN,H
11,NaN,NaN,NaN,NaN,Pearl,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,650 Fourth,650.0,FOURTH,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,E 16 n Av h 1,16.0,N AV H 1,NaN,1,NaN,H
14,NaN,NaN,NaN,NaN,W 29 n Av h 11,29.0,N AV H 11,NaN,11,NaN,H
15,NaN,NaN,NaN,NaN,W 27 b Avs h 9 & 10,27.0,B AVS H 9 & 10,9.0,10,NaN,&
16,NaN,NaN,Ninth,Av. C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,E 22 n Av h 3,22.0,N AV H 3,NaN,3,NaN,H
18,Twelh,Dry dock,NaN,NaN,Twelh n Dry dock,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,E 23 n Av h 4,23.0,N AV H 4,NaN,4,NaN,H
20,NaN,NaN,NaN,NaN,ABB,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,h. Brooklyn,NaN,NaN,NaN,NaN,BROOKLYN,NaN
22,NaN,NaN,NaN,NaN,295 Pearl,295.0,PEARL,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,h h 54 Laight,54.0,LAIGHT,54.0,LAIGHT,NaN,H
24,NaN,NaN,NaN,NaN,Abbott Jacob (Rev) h 260 Greene,NaN,NaN,260.0,GREENE,NaN,H
25,NaN,NaN,NaN,NaN,158W 20,20.0,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,E 30 n Av h 3,30.0,N AV H 3,NaN,3,NaN,H
27,NaN,NaN,NaN,NaN,will be,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,"273 Bowery ,h 187 Forsyth",187.0,FORSYTH,187.0,FORSYTH,NaN,H
29,NaN,NaN,NaN,NaN,W 29 n Av h 8,29.0,N AV H 8,NaN,8,NaN,H
...,...,...,...,...,...,...,...,...,...,...,...
5673,NaN,NaN,NaN,NaN,1G9 W 20,NaN,NaN,NaN,NaN,NaN,NaN
5674,NaN,NaN,NaN,NaN,W 29 n Av h 10,29.0,N AV H 10,NaN,10,NaN,H
5675,NaN,NaN,NaN,NaN,boarding,NaN,NaN,NaN,NaN,NaN,NaN
5676,NaN,NaN,NaN,NaN,Hanover,NaN,NaN,NaN,NaN,NaN,NaN
5677,NaN,NaN,NaN,NaN,n Av h 8,NaN,NaN,NaN,8,NaN,H
5678,NaN,NaN,NaN,NaN,W 30 n Av h 8,30.0,N AV H 8,NaN,8,NaN,H
5679,NaN,NaN,7,W 22,Av h 7 c W 22,NaN,NaN,7.0,W 22,NaN,C
5680,NaN,NaN,NaN,NaN,Washington pl,NaN,NaN,NaN,NaN,NaN,NaN
5681,NaN,NaN,NaN,NaN,foot W 22,NaN,NaN,NaN,NaN,NaN,NaN
5682,NaN,NaN,NaN,NaN,W 22 n Av h 10,22.0,N AV H 10,NaN,10,NaN,H
5683,NaN,NaN,NaN,NaN,12 Carmine,12.0,CARMINE,NaN,NaN,NaN,NaN
5684,NaN,NaN,NaN,NaN,h h 549 Pearl,549.0,PEARL,549.0,PEARL,NaN,H
5685,NaN,NaN,NaN,NaN,7 Bowery,7.0,BOWERY,NaN,NaN,NaN,NaN
5686,NaN,NaN,NaN,NaN,29 Thompson,29.0,THOMPSON,NaN,NaN,NaN,NaN
5687,NaN,NaN,NaN,NaN,E 28 n Av h 2,28.0,N AV H 2,NaN,2,NaN,H
5688,NaN,NaN,NaN,NaN,h h 197 Division,197.0,DIVISION,197.0,DIVISION,NaN,H
5689,NaN,NaN,NaN,NaN,E 33 n Av h 2,33.0,N AV H 2,NaN,2,NaN,H
5690,NaN,NaN,NaN,NaN,259 Henry i,259.0,HENRY I,NaN,NaN,NaN,NaN
5691,NaN,NaN,NaN,NaN,"r h 10 Gansevoort ,",NaN,NaN,10.0,GANSEVOORT,NaN,","
5692,NaN,NaN,NaN,NaN,h h 280 Bowery,280.0,BOWERY,280.0,BOWERY,NaN,H
5693,NaN,NaN,NaN,NaN,W 24 c Av h 6,24.0,C AV H 6,NaN,6,NaN,H
5694,NaN,NaN,NaN,NaN,173'Fourth,NaN,NaN,NaN,NaN,NaN,NaN
5695,NaN,NaN,NaN,NaN,h h 12 Vandewater,12.0,VANDEWATER,12.0,VANDEWATER,NaN,H
5696,W 27,Av7,NaN,NaN,W 27 n Av7,27.0,N AV7,NaN,NaN,NaN,NaN
5697,Broadway,W 27,NaN,NaN,Broadway n W 27,NaN,NaN,NaN,NaN,NaN,NaN
5698,NaN,NaN,NaN,NaN,676 Greenwich,676.0,GREENWICH,NaN,NaN,NaN,NaN
5699,NaN,NaN,NaN,NaN,r W 29 n Av h 8,NaN,NaN,NaN,8,NaN,H
5700,NaN,NaN,NaN,NaN,92,92.0,NaN,NaN,NaN,NaN,NaN
5701,NaN,NaN,NaN,NaN,West,NaN,NaN,NaN,NaN,NaN,NaN
5702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
#df1_original[['Full Address','H House Number','H Street Name','new h house number','new h street name','new h city']]
#df1[['unidentified h info']]

In [194]:
df1_final_1.columns

Index(['n_street1', 'n_street2', 'c_street1', 'c_street2', 'Full Address',
       'H House Number', 'H Street Name', 'new h house number',
       'new h street name', 'new h city', 'unidentified h info'],
      dtype='object')

In [195]:
df1_final_1.to_csv(mn_or_bk + '_' + year + '/' + mn_or_bk + '_' + year + '_combine-' + doubttype + '4.csv')

## Column descriptions:

#### Full Address
contains the cleaned entry for the address from the input file
#### H House Number
contains the house number if present in Full Address
#### H Street Name
contains the street name if present in Full Address
#### c_street1
contains the first street name in case the address was located at a corner
#### c_street2
contains the second street name in case the address was located at a corner
#### n_street1
contains the first street name in case the address was located near another street
#### n_street2
contains the second street name in case the address was located near another street
#### new h city
contains the city name (if present) in Full Address
#### new h house number
contains the house number if present in Full Address for some additional entries that are not in 'H House Number' 
#### new h street name 
contains the street name if present in Full Address for some additional entries that are not in 'H Street Name'