In [37]:
import pandas as pd
#from fuzzywuzzy import fuzz
import pickle

In [38]:
#mn_or_bk = 'mn' #bk or mn
#year = str(1850) #1850, 1880
#doubttype = 'doubt' #doubt or not so confident

In [39]:
#df1 = pd.read_csv(mn_or_bk + '_' + year + '/S/' + doubttype + '-' + mn_or_bk + year + '-v7-s.csv')
#df1 = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract output/run1/mn-1880-3-s.csv')
df1 = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-3-s.csv')

In [40]:
df1.head()

,Unnamed: 0,Unnamed: 0.1,Address 2,Address 2 City,Address 2 House Number,Address 2 Street Name,First Name,Full Address,Full Name,H Address,...,h house number modifier,new address2 house number,new address2 street name,new address2 street 1,new address2 street 2,new address2 street type,new address2 city,new address2 county,unidentified address2 info,address2 house number modifier
0,0,0,NaN,NaN,NaN,NaN,NaN,39 Pearl,NaN,39 PEARL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,NaN,NaN,NaN,NaN,NaN,170 Clinton Brooklyn,NaN,170 CLINTON BROOKLYN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,NaN,NaN,NaN,NaN,NaN,601 Washington,NaN,601 WASHINGTON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,NaN,NaN,NaN,NaN,NaN,328 Bowery,NaN,328 BOWERY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,NaN,NaN,NaN,NaN,NaN,42 Orange,NaN,42 ORANGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#with open('/Users/prajwal/Desktop/Columbia/C4SR/' + mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.pkl', 'rb') as f:
  #d = pickle.load(f)
with open('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-3.pkl', 'rb') as f:
    d = pickle.load(f)

In [42]:
#df1_original = pd.read_excel(mn_or_bk + '_' + year + '/' + doubttype + '-' + mn_or_bk + year + '-v7.xlsx')



df1_original = pd.read_excel('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-2.xlsx')

In [43]:
len(df1)-len(df1_original)

0

In [44]:
#df1_final_1 = df1_original.loc[df1_original['filter11']==0][['n_street1','n_street2','c_street1','c_street2']]
df1_final_1 = df1_original[['n_street1','n_street2','c_street1','c_street2']]

In [45]:
len(df1_final_1)

80569

In [46]:
#df1_original

In [47]:
#df1_final_1

In [48]:
#df1

In [49]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Address 2', 'Address 2 City',
       'Address 2 House Number', 'Address 2 Street Name', 'First Name',
       'Full Address', 'Full Name', 'H Address', 'H City', 'H House Number',
       'H Status-flag', 'H Street Name', 'Last Name', 'Middle Name',
       'Occupation', 'Title', 'Widow Of', 'Widow-flag', 'new h address-flag',
       'new h house number', 'new h street name', 'new h street 1',
       'new h street 2', 'new h street type', 'new h city', 'new h county',
       'unidentified h info', 'h house number modifier',
       'new address2 house number', 'new address2 street name',
       'new address2 street 1', 'new address2 street 2',
       'new address2 street type', 'new address2 city', 'new address2 county',
       'unidentified address2 info', 'address2 house number modifier'],
      dtype='object')

In [50]:
df1_final_1['Full Address'] = df1['Full Address']



df1_final_1['H Address'] = df1['H Address']




df1_final_1['H House Number'] = df1['H House Number']
df1_final_1['H Street Name'] = df1['H Street Name']
#df1_final_1['new h house number'] = df1['new h house number']
#df1_final_1['new h street name'] = df1['new h street name']
#df1_final_1['new h city'] = df1['new h city']



df1_final_1['H City'] = df1['H City']
df1_final_1['Address 2'] = df1['Address 2']
df1_final_1['Address 2 House Number'] = df1['Address 2 House Number']
df1_final_1['Address 2 Street Name'] = df1['Address 2 Street Name']
df1_final_1['Address 2 City'] = df1['Address 2 City']



#df1_final_1['unidentified h info'] = df1['unidentified h info']

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [51]:
df1_final_1

,n_street1,n_street2,c_street1,c_street2,Full Address,H Address,H House Number,H Street Name,H City,Address 2,Address 2 House Number,Address 2 Street Name,Address 2 City
0,NaN,NaN,NaN,NaN,39 Pearl,39 PEARL,39.0,PEARL,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,170 Clinton Brooklyn,170 CLINTON BROOKLYN,170.0,CLINTON,BROOKLYN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,601 Washington,601 WASHINGTON,601.0,WASHINGTON,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,328 Bowery,328 BOWERY,328.0,BOWERY,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,42 Orange,42 ORANGE,42.0,ORANGE,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,77 Barrow,77 BARROW,77.0,BARROW,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,586 E 4th,586 E 4TH,586.0,E 4TH,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,34 Av C,34 AV C,34.0,AV C,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,34 Av C,34 AV C,34.0,AV C,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,40 Av C,40 AV C,40.0,AV C,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,175 Canal,175 CANAL,175.0,CANAL,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,137 Norfolk,137 NORFOLK,137.0,NORFOLK,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,53 Av D,53 AV D,53.0,AV D,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,5 Ludlow,5 LUDLOW,5.0,LUDLOW,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,1 Av D,1 AV D,1.0,AV D,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,Morrisania,MORRISANIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,7 Murray,7 MURRAY,7.0,MURRAY,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,192 Fulton,192 FULTON,192.0,FULTON,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,91 Henry Brooklyn,91 HENRY BROOKLYN,91.0,HENRY,BROOKLYN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,181 inventor,181 INVENTOR,181.0,INVENTOR,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,79 Av B,79 AV B,79.0,AV B,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,66 Mangin,66 MANGIN,66.0,MANGIN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,304 Ninth,304 9TH,304.0,NINTH,NaN,NaN,NaN,NaN,NaN
23,E 18th,Av A,NaN,NaN,E 18th n Av A,E 18TH N AV A,NaN,NaN,E 18TH N AV A,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,605 Fourth,605 4TH,605.0,FOURTH,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,24th,Av 3,24th c Av 3,24TH C AV 3,NaN,NaN,24TH C AV 3,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,294 Eleventh,294 11TH,294.0,ELEVENTH,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,60 Av C,60 AV C,60.0,AV C,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,Brooklyn,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,22 Vesey,22 VESEY,22.0,VESEY,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80539,NaN,NaN,NaN,NaN,Montgomery,MONTGOMERY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80541,NaN,NaN,NaN,NaN,Broome,BROOME,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80542,NaN,NaN,NaN,NaN,25t,25T,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80543,NaN,NaN,NaN,NaN,Broadway,BROADWAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80544,NaN,NaN,NaN,NaN,Dominick,DOMINICK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80545,NaN,NaN,NaN,NaN,Av 1,AV 1,1.0,NaN,NaN,NaN,NaN,NaN,NaN
80546,NaN,NaN,NaN,NaN,Williamsburg,WILLIAMSBURG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80548,NaN,NaN,NaN,NaN,4 Depau row,4 DEPAU ROW,4.0,DEPAU ROW,NaN,NaN,NaN,NaN,NaN
80549,NaN,NaN,NaN,NaN,DEG,DEG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80550,NaN,NaN,NaN,NaN,69 Union pl,69 UNION PL,69.0,UNION PL,NaN,NaN,NaN,NaN,NaN
80551,NaN,NaN,NaN,NaN,DEL,DEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80552,NaN,NaN,NaN,NaN,6 St Mark s pl,6 ST MARK S PL,6.0,ST MARK S PL,NaN,NaN,NaN,NaN,NaN
80553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80555,NaN,NaN,NaN,NaN,rsley,RSLEY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80558,NaN,NaN,NaN,NaN,Brooklyn,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80559,NaN,NaN,NaN,NaN,and 250 Av 4,AND 250 AV 4,250.0,AV 4,NaN,NaN,NaN,NaN,NaN
80560,NaN,NaN,NaN,NaN,25 Broadway,25 BROADWAY,25.0,BROADWAY,NaN,NaN,NaN,NaN,NaN
80561,Bway,W 28,NaN,NaN,Bway n W 28,BWAY N W 28,NaN,NaN,BWAY N W 28,NaN,NaN,NaN,NaN
80562,NaN,NaN,NaN,NaN,Washington a,WASHINGTON A,NaN,NaN,WASHINGTON A,NaN,NaN,NaN,NaN
80563,NaN,NaN,NaN,NaN,Washington pl,WASHINGTON PL,NaN,NaN,WASHINGTON PL,NaN,NaN,NaN,NaN
80564,NaN,NaN,NaN,NaN,liamsburg,LIAMSBURG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80565,NaN,NaN,NaN,NaN,Wil,WIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80566,NaN,NaN,NaN,NaN,DEM,DEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80567,NaN,NaN,NaN,NaN,DEN,DEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80568,34th,Av 9,NaN,NaN,34th n Av 9,34TH N AV 9,NaN,NaN,34TH N AV 9,NaN,NaN,NaN,NaN

In [52]:
#df1_original[['Full Address','H House Number','H Street Name','new h house number','new h street name','new h city']]
#df1[['unidentified h info']]

In [53]:
df1_final_1.columns

Index(['n_street1', 'n_street2', 'c_street1', 'c_street2', 'Full Address',
       'H Address', 'H House Number', 'H Street Name', 'H City', 'Address 2',
       'Address 2 House Number', 'Address 2 Street Name', 'Address 2 City'],
      dtype='object')

In [54]:
#df1_final_1.to_csv(mn_or_bk + '_' + year + '/' + mn_or_bk + '_' + year + '_combine-' + doubttype + '4.csv')
df1_final_1.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-3-s-combine.csv')

## Column descriptions:

#### Full Address
contains the cleaned entry for the address from the input file
#### H House Number
contains the house number if present in Full Address
#### H Street Name
contains the street name if present in Full Address
#### c_street1
contains the first street name in case the address was located at a corner
#### c_street2
contains the second street name in case the address was located at a corner
#### n_street1
contains the first street name in case the address was located near another street
#### n_street2
contains the second street name in case the address was located near another street
#### new h city
contains the city name (if present) in Full Address
#### new h house number
contains the house number if present in Full Address for some additional entries that are not in 'H House Number' 
#### new h street name 
contains the street name if present in Full Address for some additional entries that are not in 'H Street Name'