In [38]:
import pandas as pd
import numpy as np

In [39]:
df1 = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-final_tesseract.csv')
df2 = pd.read_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn-1850-3.csv')

/Users/prajwal/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [40]:
df1.loc[2067]

Unnamed: 0                 2068
hn_1                        221
best_match              HOUSTON
street_type                  ST
base_function    221 HOUSTON ST
suffix_true      221 HOUSTON ST
both_true        221 HOUSTON ST
Name: 2067, dtype: object

In [41]:
list_of_empty_rows = list(df1[pd.isna(df1['hn_1'])==True][pd.isna(df1['best_match'])==True].index)

/Users/prajwal/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [42]:
# Replace empty best_match values with those from df2
for a in (list_of_empty_rows):
    df1.at[a,'best_match'] = df2['Full Name'][a]

In [43]:
df1.loc[174]

Unnamed: 0                175
hn_1                       54
best_match              AVE C
street_type               AVE
base_function    54 AVE C AVE
suffix_true      54 AVE C AVE
both_true        54 AVE C AVE
Name: 174, dtype: object

In [44]:
# Change 255 255 Fulton to 255 Fulton
for a in range(0,len(df1)):
    try:
        hn1_to_search = int(df1['hn_1'][a])
        if df1['best_match'][a].index(str(hn1_to_search))>=0:
            #print(a, hn1_to_search, df1['best_match'][a])
            df1.at[a,'best_match'] = df1['best_match'][a].replace(str(hn1_to_search),'')
    except:
        pass

In [45]:
# change 255 Fulton & Court to 255 Fulton
for a in range(0,len(df1)):
    try:
        if df1['best_match'][a].index('&') >=0 and pd.isna(df1['hn_1'][a])==False:
            temp_str1 = df1['best_match'][a]
            loc_of_and = temp_str1.split().index('&')
            before_and = ' '.join(temp_str1.split()[0:loc_of_and])
            if len(before_and)>0:
                df1.at[a,'best_match'] = before_and
            else:
                df1.at[a,'best_match'] = ' '.join(temp_str1.split()[loc_of_and+1:])
    except:
        pass

In [46]:
# changes occurences like 'smith & nan' to 'smith'
for a in range(0, len(df1)):
    try:
        if df1['best_match'][a].index('nan &')>=0:
            print('1',a)
            df1.at[a,'best_match'] = df1['best_match'][a].replace('nan &','')
            print('1',df1['best_match'][a])
    except:
        pass
    try:
        if df1['best_match'][a].index('NAN &')>=0:
            print('2',a)
            print('2',df1['best_match'][a])
    except:
        pass
    try:
        if df1['best_match'][a].index('& nan')>=0:
            print('3',a)
            df1.at[a,'best_match'] = df1['best_match'][a].replace('& nan','')
            print('3',df1['best_match'][a])
    except:
        pass
    try:
        if df1['best_match'][a].index('& NAN')>=0:
            print('4',a)
            print('4',df1['best_match'][a])
    except:
        pass

3 1238
3 JERSEY
3 3105
3 4
3 4446
3 JERSY
3 4697
3 E 25
3 10500
3 UNIVERSITY PL
3 12248
3 E 16
3 14996
3 JERSEY
3 15032
3 JERSEY
3 16597
3 JERSEY
3 17145
3 JERSEY
3 18293
3 JERSEY
3 20782
3 JERSEY
3 21122
3 JERSEY
3 21144
3 JERSEY
3 21709
3 REMSON
3 23037
3 HENRY
3 24283
3 JERSEY
3 26384
3 JERSEY
3 27687
3 JERSEY
3 28336
3 JERSEY
3 29418
3 JERSEY
3 30351
3 WESTCHESTER
3 35239
3 JERSEY
3 35242
3 JERSEY
3 35282
3 JERSEY
3 36798
3 JERSEY
3 38129
3 JERSEY
3 42649
3 JERSEY
3 42722
3 JERSEY
3 44023
3 PACIFIC
3 45086
3 JERSEY
3 46459
3 STATE
3 46460
3 JERSEY
3 47745
3 JERSEY
3 49843
3 JERSEY
1 56872
1  FOOT OF
3 57086
3 JERSEY
3 59108
3 JERSEY
3 59126
3 JERSEY
3 61116
3 BROADWAY
3 62454
3 JERSEY
3 63661
3 JERSEY
3 65406
3 FULTON
3 65974
3 W 2LST
3 68942
3 SPRING
3 68944
3 SPRING
3 69662
3 JERSEY
3 76087
3 JERSEY
3 76678
3 CENTRE
3 77986
3 CENTRE

In [47]:
df1.loc[2067]

Unnamed: 0                 2068
hn_1                        221
best_match              HOUSTON
street_type                  ST
base_function    221 HOUSTON ST
suffix_true      221 HOUSTON ST
both_true        221 HOUSTON ST
Name: 2067, dtype: object

In [48]:
#df1.to_csv('/Users/prajwal/Desktop/Columbia/C4SR/tesseract lib/mn 1850/data/mn_1850_for_rerun.csv')