In [1]:
#Installing required Libraries wherever the code is being executed - run only if needed
!pip install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.0.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (3.10.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->pandasql) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->sqlalchemy->pandasql) (3.7.4.3)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-cp37-none-any.whl size=26820 sha256=2f0f9fdac6638a79031ce5c4c2161f3182fba6641881218edf467ce0ffa07a81
  Stored in directory: /root/.cache/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
#Importing required Libraries
import pandas as pd 
import pandasql as psql

In [3]:
# Please remember to navigate to "Shared with me" on your Gdrive home sceen
# Right click on the "HNY_Project" (the primary folder for this project) and select "Add shortcut to Drive"
# This way the below code can find a link to the Project dr folder through your own drive.


# Mounting your personal Gdrive to the Colab notebook
from google.colab import drive
drive.mount('/gdrive',force_remount=True)

Mounted at /gdrive

In [ ]:
# Reading both the Tesseract output files
tess_out_bk_1850 = pd.read_csv('/gdrive/My Drive/HNYC_Project/Projects/standardization/Data/Tesseract Output/BK_1850_final_output_tesseract.csv')
tess_out_mn_1850 = pd.read_csv('/gdrive/My Drive/HNYC_Project/Projects/standardization/Data/Tesseract Output/MN_1850_final_output_tesseract.csv')

In [ ]:
# Adding a identifier column based on the dataset they origin from
tess_out_bk_1850["dataset_id"] = 'BK_1850'
tess_out_mn_1850["dataset_id"] = 'MN_1850'

# Appending both dataframes 
frames = [tess_out_bk_1850,tess_out_mn_1850]
tess_out_1850= pd.concat(frames)

In [ ]:
# Creating a column with a 6-digit unique ID per row based on the row index
# Warning: This is being done with no verification of duplication
tess_out_1850['cd_unique_id'] = (tess_out_1850.index+1)+100000

In [ ]:
# Reading both the Adress Standardized files
stand_out_bk_1850 = pd.read_csv('/gdrive/My Drive/HNYC_Project/Projects/standardization/Data/Standardization Output/BK_1850_with_address2.csv')
stand_out_mn_1850 = pd.read_csv('/gdrive/My Drive/HNYC_Project/Projects/standardization/Data/Standardization Output/mn_1850_for_rerun.csv')

In [ ]:
#Exploring the data read above
psql.sqldf("select * from tess_out_1850 LIMIT 10")

   Unnamed: 0  ... cd_unique_id
0           0  ...       100001
1           1  ...       100002
2           2  ...       100003
3           3  ...       100004
4           4  ...       100005
5           5  ...       100006
6           6  ...       100007
7           7  ...       100008
8           8  ...       100009
9           9  ...       100010

[10 rows x 23 columns]

In [ ]:
#Exploring the data read above
psql.sqldf("select * from stand_out_bk_1850 LIMIT 10")

   Unnamed: 0  ... address2_both_true
0           0  ...               None
1           1  ...               None
2           2  ...               None
3           3  ...               None
4           4  ...        MERCHANT ST
5           5  ...               None
6           6  ...              CT ST
7           7  ...       141 FRONT ST
8           8  ...               None
9           9  ...               None

[10 rows x 33 columns]

## Removing White Spaces

In [ ]:
# Using Strip function to remove preceeding and following whitespaces
df1['Full Name'] = df1['Full Name'].str.strip()
df1['First Name'] = df1['First Name'].str.strip()
df1['Last Name'] = df1['Last Name'].str.strip()``
df1['Middle Name'] = df1['Middle Name'].str.strip()

## Handling Titles in First Names

In [ ]:

with open(outputFileStep2, 'rb') as f:
    d = pickle.load(f)

df1_original = pd.read_excel(outputFileStep1) 

print(len(df1)-len(df1_original)) # Should be zero

df1_final_1 = df1_original[['First Name','Last Name ','Middle Name ','Full Name']]

print(len(df1_final_1))


df1_final_1['Full Name'] = df1['Full Name']

if workflow_for == 'Full Name':
  outputFileStep5 = inputFile.replace('.csv','')
  df1_final_1.to_csv(outputFileStep5)

elif workflow_for == 'Full Name':  
  outputFileStep5 = inputFileOriginal2.replace('.csv','') 
  df1_final_1.to_csv(outputFileStep5)

## Removing the part of name after comma

In [ ]:
for i in range(0,len(part_after_comma)):
      if temp[0:2].find(part_after_comma[i])>=0:
          temp = temp[0:2].replace(part_after_comma[i],'') + temp[2:]
  
# Create instersections for near and corner cases
words_after_c = temp.split()[location_of_h+1:]
try:
    location_of_n = words_after_h.index('n')
    intersection_n_street1 = ' '.join(words_after[0:location_of_n])
    intersection_n_street2 = ' '.join(words_after[location_of_n+1:])