In [2]:
# Load libraries
import missingno as msno 
import re
import pickle
import pandas as pd
import numpy as np

import sys
np.set_printoptions(threshold=sys.maxsize)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# Load Data
output_1850_bk = pd.read_csv("/content/output_1850_bk.csv", index_col=0)
output_1850_mn = pd.read_csv("/content/output_1850_mn.csv", index_col=0)
output_1880 = pd.read_csv("/content/output_1880.csv", index_col=0)

name matching on all three datasets together

In [ ]:
import numpy as np
import re
!pip install textdistance
import textdistance
# we will need scikit-learn>=0.21
from sklearn.cluster import AgglomerativeClustering  

text = output_1850_mn.loc[output_1850_mn['Occupation'].notnull(), ['Occupation']]
text= text.append(output_1850_bk.loc[output_1850_bk['Occupation'].notnull(), ['Occupation']])
text= text.append(output_1880.loc[output_1880['Occupation'].notnull(), ['Occupation']])
text['Occupation'] = text['Occupation'].str.lower()

len(text.Occupation.unique())

In [ ]:
text = text.Occupation.unique()

In [ ]:
text # examples of unnique occupations

Method 1 to standardize the cd : aglomerative clustering

In [ ]:
# clustering on occupation names
def normalize(text):
  """ Keep only lower-cased text and numbers"""
  return re.sub('[^a-z0-9]+', ' ', text.lower())

def group_texts(texts, threshold=0.25): 
  """ Replace each text with the representative of its cluster"""
  normalized_texts = np.array([normalize(text) for text in texts])
  distances = 1 - np.array([
      [textdistance.jaro_winkler(one, another) for one in normalized_texts] 
      for another in normalized_texts
  ])
  
  clustering = AgglomerativeClustering(
    distance_threshold=threshold, # this parameter needs to be tuned carefully
    affinity="precomputed", linkage="complete", n_clusters=None
  ).fit(distances)
  centers = dict()

  for cluster_id in set(clustering.labels_):
    index = clustering.labels_ == cluster_id
    centrality = distances[:, index][index].sum(axis=1)
    centers[cluster_id] = normalized_texts[index][centrality.argmin()]
  return [centers[i] for i in clustering.labels_]

In [ ]:
std_names = group_texts(text)

In [ ]:
occ_list = pd.DataFrame(text, columns=["orignal_name"]).join(pd.DataFrame(std_names, columns = ["new_name"]))
occ_list

In [ ]:
std_names = group_texts(text)
std_names[0:20]

['clerk',
 'weigher',
 'stonecutter',
 'publisher',
 'com mer',
 'seaman r',
 'barber',
 'barber',
 'tailor r',
 'shoemaker',
 'coachmaker',
 'drygoods h r',
 'saloon r',
 'com mer',
 'clerk r',
 'telegraph',
 'pedler r',
 'cooper',
 'shoes ',
 'carman r']

In [ ]:
text = list(text)
text[0:20]

['clerk',
 'weigher',
 'stonecutter',
 'publisher',
 'com mer',
 'seaman',
 'barber',
 'barbers',
 'tailor',
 'shoemaker',
 'coachmaker',
 'drygoods h r',
 'saloon',
 'com mers',
 'clerk bank',
 'telegraph inventor',
 'pedler',
 'cooper',
 'shoes',
 'carman']

In [ ]:
occ_list.to_csv("occ_list_aglo_all.csv") # save the occupation list to manually check the entries

Fuzzy name match on the entire list of occupations

In [ ]:
import re

x = output_1850_bk.loc[output_1850_bk['Occupation'].notnull(), ['Occupation']]
x = x.append(output_1850_bk.loc[output_1850_bk['Occupation'].notnull(), ['Occupation']])
x = x.append(output_1880.loc[output_1880['Occupation'].notnull(), ['Occupation']])
x.drop_duplicates(inplace=True)
print(len(x))

text = x.Occupation.unique()
print(len(text))

# remove special characters to clean the occupations
def normalize(text):
  """ Keep only lower-cased text and numbers"""
  return re.sub('[^a-z0-9]+', ' ', text.strip().lower())

normalized_texts = np.array([normalize(text).strip() for text in text])

In [ ]:
print(len(normalized_texts)) #14879

14879
14879
14879

In [ ]:
# find the most freq words and remove top 20 of them

from collections import Counter
all_occ = normalized_texts
names_freq = Counter()
for name in all_occ:
    names_freq.update(str(name).split(" "))
key_words = [word for (word,_) in names_freq.most_common(20)]
print(key_words)

['r', 'and', 'of', 'h', 'jr', 'c', 'late', 's', 'pres', 'av', 'co', 'mkt', 'rev', 'maker', 'agent', 'clerk', 'ft', 'wid', 'w', 'd']

In [ ]:
len(all_occ)

14879

In [ ]:
x = pd.DataFrame(text, columns=["orignal_name"]).join(pd.DataFrame(normalized_texts, columns = ["clean_name"]))
x

                         orignal_name                      clean_name
0                           shoemaker                       shoemaker
1                               mason                           mason
2                           carpenter                       carpenter
3                            merchant                        merchant
4                       marble sawyer                   marble sawyer
...                               ...                             ...
14874                      jvid Moses                      jvid moses
14875                      jr grocers                      jr grocers
14876                dean & physician                  dean physician
14877  bureau for general advertising  bureau for general advertising
14878                    vcnder clerk                    vcnder clerk

[14879 rows x 2 columns]

In [ ]:
# match by grouping

all_main_occ = pd.DataFrame(columns=['sort_gp','occ_names','alias','score'])
all_occ.sort()
all_main_occ['occ_names'] = all_occ[1:len(all_occ)]
all_main_occ['sort_gp'] = all_main_occ['occ_names'].apply(lambda x: x[0])

all_main_occ

In [ ]:
all_main_occ

      sort_gp                       occ_names alias score
0           1                            11th   NaN   NaN
1           1                        17 stone   NaN   NaN
2           1                            17th   NaN   NaN
3           1                          19th c   NaN   NaN
4           1         1st assist capt 3d ward   NaN   NaN
...       ...                             ...   ...   ...
14873       y                 youths clothing   NaN   NaN
14874       z  zabriskie francis n rev editor   NaN   NaN
14875       z                         zephyrs   NaN   NaN
14876       z     zimmermann davison com mers   NaN   NaN
14877       z                            zinc   NaN   NaN

[14878 rows x 4 columns]

In [ ]:
all_main_occ.sort_gp.unique()

array(['1', '2', '3', '4', '5', '6', '7', '9', 'a', 'b', 'c', 'd', 'e',
       'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r',
       's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], dtype=object)

In [ ]:
# name match on the group of occupations starting with same letter
all_sort_gp = all_main_occ['sort_gp'].unique()

def no_key_word(name):
    """check if the name contain the keywords in travel company"""
    output = True
    for key in key_words:
        if key in name:
            output = False
    return output

for sortgp in all_sort_gp:
    this_gp = all_main_occ.groupby(['sort_gp']).get_group(sortgp)
    gp_start = this_gp.index.min()
    gp_end = this_gp.index.max()
    for i in range(gp_start,gp_end+1):
    
        # if self has not got alias, asign to be alias of itself
        if pd.isna(all_main_occ['alias'].iloc[i]):
            all_main_occ['alias'].iloc[i] = all_main_occ['occ_names'].iloc[i]
            all_main_occ['score'].iloc[i] = 100
        
        # if the following has not got alias and fuzzy match, asign to be alias of this one
        for j in range(i+1,gp_end+1):
            if pd.isna(all_main_occ['alias'].iloc[j]):
                fuzz_socre = fuzz.token_sort_ratio(all_main_occ['occ_names'].iloc[i],all_main_occ['occ_names'].iloc[j])
                if not no_key_word(all_main_occ['occ_names'].iloc[j]):
                    fuzz_socre -= 10
                if (fuzz_socre > 85):
                    all_main_occ['alias'].iloc[j] = all_main_occ['alias'].iloc[i]
                    all_main_occ['score'].iloc[j] = fuzz_socre
                    
        if i % (len(all_occ)//10) == 0:
            print("progress: %.2f" % (100*i/len(all_occ)) + "%")

progress: 0.00%
progress: 9.99%
progress: 19.99%
progress: 29.98%
progress: 39.98%
progress: 49.97%
progress: 59.96%
progress: 69.96%
progress: 79.95%
progress: 89.95%
progress: 99.94%

In [ ]:
len(all_main_occ)

14878

In [ ]:
fuzz_occ_match = all_main_occ.merge(x, left_on = "occ_names", right_on= "clean_name", how = "inner") # merge clean names with name match output

In [ ]:
occ_list_aglocluster = pd.read_csv("/content/occ_list_aglo_all.csv", index_col=0) # import the aglo cluster output

occ_list_aglocluster.columns = ["orignal_name","aglo_new_name"]

In [ ]:
fuzz_occ_match = fuzz_occ_match.merge(occ_list_aglocluster, left_on = "orignal_name", right_on= "orignal_name", how = "left") # join the clustered name match putput with fuzzy name match method output

In [ ]:
fuzz_occ_match.to_csv("fuzz_occ_match.csv")

In [ ]:
len(fuzz_occ_match.orignal_name)

15648

In [5]:
fuzz_occ_match = pd.read_excel("/content/fuzz_occ_match.xlsx", index_col=0)

In [10]:
fuzz_occ_match

      sort_gp  ... Unnamed: 8
5318        f  ...      False
5321        f  ...      False
5324        f  ...      False
3846        c  ...      False
3849        c  ...      False
...       ...  ...        ...
15642       y  ...      False
15644       z  ...      False
15645       z  ...       True
15646       z  ...      False
15647       z  ...       True

[15648 rows x 8 columns]

In [25]:
fuzz_occ_match.loc[fuzz_occ_match['aglo_new_name'] != fuzz_occ_match['orignal_name'] , ["orignal_name","aglo_new_name"]][1000:2000]

             orignal_name  aglo_new_name
969       blacksmith llth     blacksmith
971          blacksmith r     blacksmith
973        blacksmith TV'     blacksmith
975     blacksmith W 29th     blacksmith
976   blacksmith W 29th b     blacksmith
...                   ...            ...
2343               carptr         carpet
2344               carpts         carpet
2345          carptweaver  carpet weaver
2346             carputer         carpet
2348       carriagcmakers  carriagemaker

[1000 rows x 2 columns]

Examples of standardised occupation records and distinct new occupation names

Occupation Types

15,648 occupation types reduced to 7,090

The top occupations by percentage remained quite similar over 3 decades

E.g. Carman - assume as driver, laborer, carpenter, lawyer, tailor

In [ ]:
output_1850_bk['std_occupation'].value_counts(normalize = True).head(10)

laborer      0.134312
carpenter    0.052522
merchant     0.046187
grocer       0.040654
clerk        0.025660
mason        0.024537
shoemaker    0.024136
tailor       0.021329
carman       0.017561
painter      0.015636
Name: std_occupation, dtype: float64

In [ ]:
output_1850_bk['std_occupation'].value_counts(normalize = True).head(10)

grocer       0.041122
laborer      0.038641
carman       0.037864
tailor       0.035355
carpenter    0.032013
shoemaker    0.022807
clerk        0.020908
lawyer       0.017594
mer          0.016152
drygoods     0.013615
Name: std_occupation, dtype: float64

In [ ]:
output_1880['std_occupation'].value_counts(normalize = True).head(10)

laborer      0.066111
clerk        0.061688
tailor       0.036241
driver       0.029323
carpenter    0.026366
grocer       0.020802
lawyer       0.019879
painter      0.016255
liquor       0.015674
beer         0.014935
Name: std_occupation, dtype: float64

In [ ]:
print(len(output_1880['Occupation'].unique()))
print(len(output_1880['std_occupation'].unique()))

7095
4032

In [ ]:
print(len(output_1850_mn['Occupation'].unique()))
print(len(output_1850_mn['std_occupation'].unique()))

7673
3872

In [ ]:
print(len(output_1850_bk['Occupation'].unique()))
print(len(output_1850_bk['std_occupation'].unique()))

1832
1226

check if full name is null what is the address field

extract the string before occupation word present in full address and replace null full names with it 

clean the address field by removing the entire string before the occupation field

In [ ]:
output_1850_bk['Full Address'] = output_1850_bk['Full Address'].str.replace('â€™','an')
output_1850_mn['Full Address'] = output_1850_mn['Full Address'].str.replace('â€™','an')
output_1880['Full Address'] = output_1880['Full Address'].str.replace('â€™','an')

In [ ]:

output_1850_bk.loc[(output_1850_bk['new_occ_found'] != 'FALSE') & (output_1850_bk['Full Name'].isnull()),['Full Address']]
count = 0
for i in range(1,len(output_1850_bk)):
 if ((str(output_1850_bk.loc[i,'new_occ_found']) != 'False') & (str(output_1850_bk['Full Name'][i]) =='nan') &  (str(output_1850_bk['Occupation'][i]) in str(output_1850_bk['Full Address'][i]).lower())):
    #output_1850.loc[str(i),'Widow of'] = output_1850['Full Address'][str(i)].split()[2]
    #output_1850.loc[str(i),'Full Address'] =" ".join(output_1850['Full Address'][str(i)].split()[3:])
    print(str(output_1850_bk['Full Address'][i]))
    count = count + 1

print(count)

Anderson Rob’t G,inspector of stone U S dry dock 271 Pearl ston
Baldwin Phineas & Co,grocers Myrtle av c Adams
Bergen Peter comptroller 25 Hicks c Poplar
Birch John S,printer Smith n Sackett
Bisbee L , Sec. U S Life Ins Co 65 Lawrence
Boyle Edward,laborcr Warren n Smith
Buckey William,jeweller 145 Concord
Burrell Emely,* cupper and leecher 24-0 Fulton
BurtisDivine,ship builder prop’r of marine railway 160 Front
Carpenter Thomas , Prest Kings Co Mutual Ins co 40 Fub ton h SS Pierrepont
Christy Nicholas laborer 27 State
Clary William,engineer Kent n Park av
Corcoran Thomas,laborer Pacific op railroad
Davine Thomas tailor 89 Fulton h 246 Myrtle av
Davison William,florist Livingston c Smith
Evarts Martin,carpenter Clinton n Park av
Flaherty John,stone cutter Myrtle c Car]ton av
Fountain . hatter 160 Hudson av
Frost William seaman 132 Prospect
Garrity William,grocer 240 Hudson av
Hampson Robert , L I Marble Works Atlantic n Court h 210 Atlantic
Hull William , Cashier Brooklyn Savings’ Bank 2 Concord
Hunter & Manley’s distillery Doughty n McKenney
Jones William,bootfitter Gold c Concord
Joyce Milesj express agent 48 Buller
Leary Timothy,junk dealer c Maiden lane and Water N Y h 8 Sackett
Manley & Embury’s distillery Tillary c Gold
Morehouse Joshua shoemaker 169 Carll n Willoughby
MGuire Thomas butcher Tillary c Hudson av
MGuire William^ shoemaker Car)l c Myrtle
Nichols & Van Voort,grocers Jamaica rd c Hampden st
Place Daniel,rm.ilk.inan Nostrand n DeKalb av
Prince J W & Co,west India grocery 66 Atlantic
Quinn John,laborer Jay c Harper court
Ramsey Miss Elizabeth dressmaker 219 Fulton
Richardson Benjamin,shoemaker Raymond n Lafayette
Russell Samuel laborer 21st st n 5th av Gowanus
Sweeney proprietor
SERVANTS of all descriptions to beliad at No. 223 Fulton
Simpson James S,grocer Columbia c Harrison
Smith Alfred S,.milkman Dean n Vanderbilt av
Smitten Samuel clerk 23 Lafayette av
Spooner & Paddock attorneys and counsellors office 3 Front
Story & Shaw grocers 118 Fulton
Taney Charles & Co,grocers Smith c Douglass
Thompson Francis carpenter 49 Bergen n Smith
Trow William^ bookbinder 331 Gold n Fulton av
Tyler George gardener 144 Nassau
Unger J & Co shoe store Myrtle n Carlton av
deeds 45 Fulton h 138 High oorhees Judah B,county clerk’s officeh 21 Lawrence
VOORHEES & SNEDEKER dry goods 165 Fulton
Van Voorhis William II,builder Franklin n Myrtle av
MaterhouseC C,lumber mer. Columbian Baltich Columbia c President
White & Kirk,sash and blind makers Livingston c Bond
54

In [ ]:

output_1850_mn.loc[(output_1850_mn['new_occ_found'] != 'FALSE') & (output_1850_mn['Full Name'].isnull()),['Full Address']]
count = 0
for i in range(1,len(output_1850_mn)):
 if ((str(output_1850_mn.loc[i,'new_occ_found']) != 'False') & (str(output_1850_mn['Full Name'][i]) =='nan') &  (str(output_1850_mn['Occupation'][i]) in str(output_1850_mn['Full Address'][i]).lower())):
    print(str(output_1850_mn['Full Address'][i]))
    count = count + 1

print(count)

Anthony Alex.butcher,Wash’ton mkt,h.12 Bethune
AUGUSTA (Georgia) INSURANCE & BANKING Co. 76 Wall
Bacon Sherman 5. mer. 132 Water
Bay John,'laborer , E. 13th n. Av. B.
Blauvelt Rich’d D.chairs,89 Bowry , h.196.5 Chrystie
Brewster Jas.& Sons,carriages,396 B.way,h.N.Haven
Brewster Jas. B.carriages,396 B. way ,h. 31 Dominick
C1TIZENS’ FIRE INSURANCE CO. 67 Wall & 167 Bowery
City Fire Insurance Co. 61 Wall
CONNECTICUT MUTUAL LIFE INSURANCE
Cutter Thos. R.carpenter,2 Gouv’nr la.h.331Cherry
Donahue Thomas,'laborer , W. 30th n. Broadway
Doubleday Elisha,stationery,40 John,h.Cooperstown
Doubleday Ulysses E.stationery,40 John,h.208 Henry
Draper George B. (Rev.) 127 Macdougal
Dusenbury William E.tinsmith,97 Broa*l,h. 17 Stone
EAST RIVER INSURANCE CO. 69 Wall
Edwards Frank 8- druggist , 186 Av. 6
EQUITABLE INSURANCE CO. 58 WaH
Everdell James & Co.engravers,2 Wall & 302 Broadway, h. 22 Bleecker
Fanshaw Samuel R.artist,247 B.way,h.Westchester
FARMERS’ LOAN & TRUST CO. 28 Exchange pl.
FRANKLIN F1RE INSURANCE CO. 44 William
Frisbie Myron J.rubbershoes,248 Pearl , h.610 Houstn
Gans Simon M.clothing,113 Roosevelt , 11.113 Cherry
GENERAL MUTUAL INSURANCE CO. 50 Wall
Graves R.R.merchant,74 Pine,h.107 Henry , Brooklyn
Haight Henry,butcher,41 Rose & 100 Av.CJ,h.Fourth b. Avs. C&D
Haight Townsend D.stables,77 Houston , 11.276 Tlnrd
Hardcastle ColesD.stairbuilder,—Allen,h.118 Lewis
Hayes John,chairmaker,104 Delancy,h.96 Rivington
Hetherington Elizabeth,dressmaking,229 Mulberry
Holmes Francis H.grocer,182 West,h.404Grecnwich
Holsten John,grocer,215 Rivington,h.215 R,ivington
Hosford Frederick J.stationer,50 Wall,h.l60 Bridge , Brooklyn
HOWARD INSURANCE CO. 66 Wall
Huner Dederich &Co.grocers,121 Ridge , 11.121 Ridge
Hutchinson Ambrose (col’d) porter,513 Washington
Johnson Henry,brassfounder,48 Duane,h.Morrisania
Jurgens Ferdinand (Rev.) 176 Stanton
Kaagan John stonemason 170 W. 20th
Kellers John Frederick,grocer,2 Jones & 172 Fourth, h. 172 Fourth
Kelley Francis E.marblecutter,80.5 King,h.80.5 King
Kernan Rosanna,135 Amity
King Bennet,pawnbroker,97 Canal and importer,173 Water, h. 97 Canal
Kingston Lime & Cement Co. 271 Pearl & 412 West
Lane & Scott,publishers,138 Nassau & 200 Mulberry
Langhaar John,grocer,34 Rivington,h.34 Rivington
Lanphear Samuel,tailor,46 Av. 3,h.Twelfth c.Av. 3
Luckey Joseph N.oildealer,44 Cortlandt,h.27 Hubert
Luckey Samuel,drygoods,17 Cortlandt,h.27 Hubert
Ludlam William,grocer,124 Beekman,h.70 Seventh
Luhrs JohnH.grocer,57 Frankfort,h.10 Vandewater
Lullman John,grocer,573 Greenwich,h. 573 G.wich
Macgregor Mrs. John jr. 8 Washington square
MAGNETIC TELEGRAPH CO. 5 Hanover
Mangam Darius R.accountant,33 Pine,h.110 Chrystie
MANHATTAN FIRE INSURANCE CO. 68 Wall
MANNERS DAVID S.grocer,226 Fulton,h.Jersey c
Manning Robert,lawyer,192 Broadway,h.13 Murray
MERCHANTS’ EXPRESS CO. 2 Wall
MERCHANTS’ F1REINSURANCECO. 175 Greenwich
Moody saw mill , W. 36 c. Av. 10
Moore Henry jr. sashmaker,329 Broome , h.73 Hester
MUTUAL SAFETY INSURANCE CO. 56 Wall
NEWARK INDIA RUBBER MANUFACTURING CO. 59 Maiden la. factory at Newark , N. J. , H. Hutchinson , president
NEW YORK BOWERY FIRE INSURANCE CO. 124 Bowery
NEW YORK INSURANCE CO,-50 Wall
NEW YORK LIFE INSURANCE CO. 106 B. way
NEW YORK & ERIE TELEGRAPH CO. 5 Hanover
NORTH RIVER INSURANCE CO. 192 Greenwich
Paulson Leonard,tailor,140 B.way ,h.1O5 Hoyt,B’klyn
Payton Joseph,ironfounder,265 Cherry , h.2 Rutgers
Pearse Augustus F.painter,325 Fourth.h.155 W.llth
Pine Joseph,carriagemaker,119 Walker,h.201 Hester
Ransom Jonathan H boots,.32 Cortland,h.109 Second
R1CH GEORGE C. straw goods,169 Pearl , h.B’klm
Roberts John mer. 62 Av. 9, h. Ohio
Scovill Manufacturing Co. 57 Maiden lane
Sherman WalterB.trunks,172 Chrystie & 408 Grand, h. 557 Broadway
Sherwood James M. (Rev.) editor 120 Nassau, h. 93 Willoughby , Brooklyn
SH1PPING & COMMERCIAL LIST , 158 Pearl
Smith Edward,grocer,136 W.Broadway,h.l Walker
Smith George,furniture,203 Wooster,h.203 Wooster
Smith Harvey W.physician,254 Av.10,h,243 W.27th
Squire Lewis L.shipchandler,283 Front,h.64Monroe
Stewart Thomas J.cottonbroker.88 Wall,bds.23 Fifth
STRONG W1LLIAM K. wool mer. 285 Pearl, h. 40 Union pl.
TaylorGeorge L.lawyer,20 Beekman,h.480Houston
Thompson Nancy (col’d) 42 Thomas
UNITED STATES LIFE INSURANCE CO. 27 Wall
Washburn Willett L.artist,7.5 Bow'ery,h.7.5 Bowery
Wilder George,hatpresser,155.5 Chrystie,h.252 Av.8
Wildes Thomas,metals,30 Old sl.h.234 Bridge,Bkiyn
WILLIAMS & STEVENS,lookingglasses,353 B.way
95

In [ ]:

output_1880.loc[(output_1880['new_occ_found'] != 'FALSE') & (output_1880['Full Name'].isnull()),['Full Address']]
count = 0
for i in range(1,len(output_1880)):
 if ((str(output_1880.loc[i,'new_occ_found']) != 'False') & (str(output_1880['Full Name'][i]) =='nan') &  (str(output_1880['Occupation'][i]) in str(output_1880['Full Address'][i]).lower())):
    print(str(output_1880['Full Address'][i]))
    count = count + 1

print(count)

Zachgow August,turner,371 W. 48th,h 530 W.47th
Yale Lock Mfg. Co. 53 Chambers
Wrought Iron Asphalted Pipe Co. 550 E. 117th
Woodbridge Chas. L.trimmings,30(1 B’way,h B'klyn
Woodle Leopold.stenographer.5 Dey,h 273 Seventh
Wilson Adjustable Iron Chair Mfg. Co. 661 B’way
Williamson George V.produce,651 Hudson.h B'klyn
Wiebusch & Hilger Hardware Co. 84 Chambers
Whitney (refused) banker. 18 Broad
White Gilbert H.clerk,City Hall,h Gramercy pk. h.
Whedon Daniel D. (Rev.) editor,805 B’wayth N. J.
Werner Solomon,clothing. 459 B’way,h 319 W. 31st
Welling Compressed Ivory Mfg. Co. 251 Centre
Weehawken Coal Co. 608 Washn. Centre c Chambers & 148 W. 4th
Weekly Underwriter (The) 5 Cortlandt
Warren Chemical & Mfg. Co. 88 Maiden la.
W.arner Fred. W.manager. 28 W.14th,h 165 W. 23d
Walton Chemical Co. 205 Prince
Vooth Herman C.liquors.145 Third av.h 345 E.16th
Volkmar Dan’l P.barber,17 Third av. h 122 Seventh
Vannostrand John,fish,69 Centre mkt,h 58 Spring
Vanhorn Lumber Co. 57 Ninth av.
Valkenburgh David’ segars’ 1109 B’way,h 210 E.
Union Transportation Co. Pier 38 N. R.
U. S. Warehouse Co. 216 B’way
Universal Compressor & Pump Co. 110 Liberty
Underwriter Printing & Pub. Co. 5 Cortlandt
Union Paper Box Co. 161 W. 29th
Tuttle H.Croswell,lawyer,32 Park pl. h 473 Hudson
Turner & Seymour Mfg. Co. 49 Chambers
Topolowsky Moses.printer,128 Canal,h 48 Chrystie
Toense Rudolph,suits,201 Church,h 429 Second av.
Tintaher George M.furniture,154th n Courtland av.
Terhune Chas. F.jeweler,16 Maiden la. h 159 E. 72d
Terhune Fred.cooper.26 Water,h 289 Union,B’klyn
Taylor & Dupuy,pianos.101 Bleecker & 178 Wooster
Stietz Otto , N. Y. Glass Letter Co. 84 Chambers
Stephens & Condit Transportation Co. Pier 22
Steam Heating & Power Co. 16 Cortlandt
Steck Chas.E.manager,2 Liberty,h 144 38th.B’klyn
Star Newspaper Co. 26 N. William
Star Rubber Co. 16 Chambers
Standard Chemical Co. 114 Pearl
Smith Frances M dressmkr 14 Sixth av.
Slone William,bdgh. 22 West
Simon Theodore drugs,1470 Third av. h 175 E. 83d
Sheckelton Christopher,painter,h 101 St. Mark’s pl.
Shedlock Alfred,patents,34 Park row',h 447 E. 118th
Shaw Joshua B.broker,206 B’way,h 28 Waverely pl.
Sexton Bernard,insp.h 640 E. 12th
Seaman Robert F.paints,38 Burling sl.hSSO W.48th
Schukraft John,builder,159 Orchard,h 154 Orchard
Schneckenburger Jacob,cabinetmkr.h 847 First av.
Satterley Chas.cartman.20 Murray,h 516 Ninth av.
Samter Julius M.clothing,550 B’way,h 317 W. 46th
Safeguard Fire Ins. Co. 46 Pine & 58 Bond
Rochester Transportation Co. 21 South & Pier 6
Reynolds Matthew,plater,1375 B’way,h 420 W.45th
Rand & Waring Drill & Compressor Co. 21 Park
Quicksilver Mining Co. 19 Nassau
Prall N. Y. Heating Co. 61 B’way
Poughkeepsie Transportation Co. Pier 35 N. R.
Pollack Samuel,glazier,904 Third av.h 916 Third av.
Plumber & Sanitary Engineer. 140 William
Paper Trade Reporter. 37 Dey
Oil. Paint & Drug Reporter. 42 Cedar
Ocean Transportation Co. (Limited) 5 Bowling gr ,
Oaker Benjamin G.printer,374 Bowery,h 134 W. 4th
Norwich & N. E. Transportation Co. Pier40 N.R.
North German Lloyds Steamship Co. 2 Bowling gr.
Nordstjernan. 241 B’way
Newcome Thos.liquors,2299 Third av. h 298 E.123d
N. Y. Newspaper Union. 148 Worth
N. Y. Vulcanized Lumber Co. 494 W. 57th
N. Y. Warehouse & Security Co. 74 Wall
N. Y’. & Phila. Coal & Stone Transportation Co. 237 B’way
N. Y. Chemical Disinfection Co. 222 Pearl
N. Y. Chemical Mfg. Co. 3 E. 4th
N. Y. Lighterage & Transportation Co. 70 Wall
National Printing Co. 18 Chambers
Mulgrew Felix A.sawmill,425Eighth , 11301 Seventh
from 7 to 9 p,h 62 Madison av.
Moulton Henry S.printer,98 Mercer.h 278 W. llth
Moore Fred. L.banker,66 Exchange pl. h 124 W. 43d
Monitor Tinplate & Galvanizing Co. 54 Cliff
Mills Rob t A.tobacco,30 Broad,h Grand Central h.
Mills Samuel M.banker,47 B’way,h 259 Madison av.
hours 8 to 11 a. m. & 5 to 7 p. m. 207 E. 13th
Metropolitan Plate Glass Ins. Co. 61 Liberty
Metropolitan Steamship Co. Pier 11 N. R.
Metropolitan Throat Hospital. 314 E.. 45th
Merchants’ Dispatch Transportation Co. 335 B’way & 119 Front
Merchants & Miners’ Transportation Co. 262 South & Pier 49 E. R.
Mendel Marx W.segars,15.5 Bowery.h St. James’ h.
Meadowcroft Wm. H.clerk,346 B'way,h 320 W.22d
Maynard Chemical Co. (Limited) 424 Washn.
Mead Edw’d H.plumber,992 Sixth av. h 77 W. 55th
Mayer Morris,embroideries,373 B’way,h136E. 61st
Martin Thomas,plumber,256 Sixth av.h 149 W.27th
Marchal & Smith Piano Co. 8 W. 11th
Manhattan Chemical Co. 78 Water
Maine Steamship Co. Pier 38 E. R.
Maguire Frank J.cotton,1 William,h 73 Joralemon , B’klyn
McMahon John,painter,344 W. 42d.h 571 Ninth av.
McKiernan Leonard (Rev.) h 106 Sullivan
McKegney Patrick,mason,h W.124th n Seventh av.
McCue Patrick,liquors,314 Tenth av. h 457 W. 28th
office building) h 433 W. 73d
McCann Patrick,liquors,340 W. 16th,h 252 W. 19th
Lunney Wm.H. painter,105 Fourth av.h 353E.10th
Lloyds Plate Glass Ins. 176 B’way
Little Keystone Mining Co. 58 B’way
Levy Benjamin M real estate. 3.5 Division
Leonhardt Jacob M.marble,418 E.23d,h 339 E.21st
Leddy Hugh E.plumber,877 Third av. h 336 E. 53d
Li ddy Patrick.plasterer,877 Third av. h 336 E. 53d
King RichardW.broker,31 Broad,h Gramercy pk. h.
Kennedy Jos.drygds.273 Grand,h 380 Pearl. B'klyn
Keith F.Wayland.drugs,41 Liberty,h Stamford,Ct.
Kahlsdorf Herman,liquors,102 Duane,h 212 G’wich
Kahn Alphonse,shirts,50 Leonard,h 2 Livingston pl.
Jordan Iron & Chemical Co. 56 Pine
Jones-Bonanza Mining Co. 3 Broad
International Chemical Co. 28 W. 14th
Inman Steamship Co. 31 B’way & Pier 37 N. R.
Indian River Railway & Transportation Co. 58
Hurd Chemical Co. 149 Reade
Honduras (consulate of) 35 B’way
Hide & Leather Club. 1 Ferry
Hecht Jos. M.drygds.767 Eighth av. h 220 W. 40th
Hastings Waitstill,oils,121 Maiden la. h 150 Henry , B’klyn
Harris Michael J.mason,447 Third av.h 243 E. 31st
Hannis Distilling Co. 9 Whitehall
Hammond Wm. K.brick,628 W.30th,h 351 W.27th
Haag Gustave,cutler,113 Canal & 99 Elm,h 58 King
G uatemala (Consulate of) 35 B’way
Grannan Charles P. (Rev.) h 329 W. 42d
Goldsmith Henry segarmkr. 238 E. 55th
Gold & Stock Telegraph Co. 197 , 58 , 61. 198 & 957 B’way , 48 New. 38 Whitehall , 348 Canal , 46E.
Glens Falls Transportation Co. 87 Dey & Pier 10
Gehegan Michael,builder,232 E. 35th,h 234 E. 35th
Galindo Edwin A.frames.40 Dey. h 150th n Mott av.
Fouqu6 Mary L. dressmkr. 181 Lex. av.
Fletcher Gold & Silver Mining Co. 52 B’way
FARMILOE JAMES,crockery,42 Barclay,h Eng.
Ewer Ferdinand C. (Rev.) h 152 W. 46th
Erdensalz Chemical Co. 120 Liberty
England Edwin E.news,865 Sixth av.h 232 W. 17th
Empire Transportation Co. Ill B’way & Pier 38
Emerson Gold & Silver Mining Co. 115 B’way
DuyckinckWm.D.clothing,707B’way,h 364 W.15th
Dunbar Box & Lumber Co. 282 Eleventh av.
Depken Gerhard,grocer.795 Ninth av.h 400 W.53d
Deraismes John A.brushes,300 B’way,h 35 W.24th
Davenport Consolidated Mining & Smelting Co. 229 B’way
Danish Consulate. 52 B'way
Daly David,express,90 William,h 148th c Third av.
Cunard Steamship Co. (Limited) 4 Bowling gr. & Pier 40 , N. R.
CULYER CHARLES R. Sexton of tiie Church of the Covenant , Park avenue c 35th st. &
Courtney Rob’t W.drygds.521 G’wich,h 523 G’wich
Cornell H’y D.bookkeeper,60 Liberty,h 350 E. 15th
Commercial Warehouse Co. 71 B’way
Coffin H’y mer. 87 Maiden la. h 254 Henry , B’klyn
City Chemical Co. 101 N. Moore
Christy Nicholas,builder.136W.25th,h 130W , 25th
Cheritree Hardware Co. 97 Chambers & 79 Reade
Champion Comstock Mining Co. 1 Park pl.
Cashman Michl.agent , H. 12 E. 31st,h 308 Fifth av.
Carvalho Heating & Super-heating Co. 107 Lib-
Cars Wm. H.labels,204 Fulton,h Lex.av. n E.125th
Carr Jame-s real estate. 422 Broome,h 296 Lex , av.
Bullion (newspaper) 52 Wall
Buffalo Transportation Co. 14 South & Pier 6
Buchanan JohnM. (Rev.) h 200 W. 56th
Bruckhof Louis,grocer.777 Third av. h 201 E. 48th
Brosi Louis,chopper,180 E.119th,h 2206 Second av.
Bronx Wool & Leather Co. 29 Spruce & West
Brode Fred.plumber,889 Tenth av.h 943 Ninthav.
Bridgeport Brass Co. 19 Murray
Bridgeport Steamboat Co. Pier 35. E. R.
Bridgeport Wood Finishing Co. 40 Bleecker
Brennan Joseph P. (Rev.) h 40 W. Washn , pl.
Brennan Patrick W. (Rev.) h 308 E. 37th
Brass Goods Mfg. Co. 43 Chambers
Bonanza Chief Gold Mining Co. 18 Wall
Black Hills Placer Mining Co. 37 Wall
BieberWm.clothing,70 Mercer,h HlBridge,B’klyn
Bettman David,drygds.33White,h644 Madison av.
Bernhard Bernhard,drygds.38 Walker,h 122 E. 62d
Baxter Steam Canal Boat Transportation Co. 54 Exchange pl.
Bay State Shoe & Leather Co. 91 Chambers
Barrett John,painter,252 W.29th,h 368 Eighth av.
Atlas Steamship Co. 37 Wall & Pier 44 N. R.
Ansbacher Leopold,pencils,710 E.llth h 41 E lllth
Am. Hardware Co. 113 Chambers
Am. Refrigerator & Transportsition Co. 5 Dey
Alden Preserving Co. 304 G’wich
Abbott Mining Co. 123 Chambers
198